<div data-hover="false" data-delay="0" class="nav_dropdown w-dropdown"><div class="nav_shop-icon w-dropdown-toggle"><div class="icon-embed-xsmall text-color-white is-nav w-embed"><svg width="100%" height="100%" viewbox="0 0 21 22" fill="none" preserveaspectratio="xMidYMid meet" aria-hidden="true" role="img"><path d="M9.06783 16.4406C12.9716 16.4406 16.1361 13.276 16.1361 9.37228C16.1361 5.46855 12.9716 2.30396 9.06783 2.30396C5.16411 2.30396 1.99951 5.46855 1.99951 9.37228C1.99951 13.276 5.16411 16.4406 9.06783 16.4406Z" stroke="currentColor" stroke-width="1.3863"></path><path d="M19.6303 18.5353L16.4077 15.3127L15.2012 16.5192L18.4238 19.7418L19.6303 18.5353Z" fill="currentColor"></path></svg></div></div><nav class="nav_predictive-search-holder w-dropdown-list"><div li-element="dropdown-toggle" class="nav_predictive-search-close" data-dropdowntoggle="" @click="LiquifyHelper.triggerClick($event.target.closest('.w-dropdown').querySelector('.w-dropdown-toggle.w--open'))"></div><div class="modal_component is-search"><div class="modal_component-inner is-search"><div class="modal_component-inner-header is-search"><div class="mini-cart_header-inner"><div class="heading-style-h5 text-color-black">Search</div></div><div li-element="dropdown-toggle" class="icon-embed-small close-button-1 w-embed" data-dropdowntoggle="" @click="LiquifyHelper.triggerClick($event.target.closest('.w-dropdown').querySelector('.w-dropdown-toggle.w--open'))"><svg width="100%" height="100%" viewbox="0 0 33 33" fill="none" preserveaspectratio="xMidYMid meet" aria-hidden="true" role="img"><path d="M29.4788 22.9176C29.5985 22.9872 29.6934 23.0699 29.7582 23.1609C29.8229 23.2519 29.8563 23.3494 29.8563 23.4479C29.8563 23.5463 29.8229 23.6438 29.7582 23.7348C29.6934 23.8258 29.5985 23.9085 29.4788 23.9781C29.3591 24.0477 29.217 24.103 29.0607 24.1406C28.9043 24.1783 28.7367 24.1977 28.5675 24.1977C28.3982 24.1977 28.2306 24.1783 28.0743 24.1406C27.9179 24.103 27.7758 24.0477 27.6562 23.9781L16.9748 17.7622L6.29337 23.9781C6.05168 24.1187 5.72387 24.1977 5.38206 24.1977C5.04025 24.1977 4.71244 24.1187 4.47074 23.9781C4.22905 23.8375 4.09326 23.6467 4.09326 23.4479C4.09326 23.249 4.22905 23.0582 4.47074 22.9176L15.1537 16.7027L4.47074 10.4878C4.22905 10.3471 4.09326 10.1564 4.09326 9.95752C4.09326 9.75864 4.22905 9.56791 4.47074 9.42728C4.71244 9.28665 5.04025 9.20764 5.38206 9.20764C5.72387 9.20764 6.05168 9.28665 6.29337 9.42728L16.9748 15.6431L27.6562 9.42728C27.8979 9.28665 28.2257 9.20764 28.5675 9.20764C28.9093 9.20764 29.2371 9.28665 29.4788 9.42728C29.7205 9.56791 29.8563 9.75864 29.8563 9.95752C29.8563 10.1564 29.7205 10.3471 29.4788 10.4878L18.7958 16.7027L29.4788 22.9176Z" fill="currentColor"></path></svg></div></div><div class="predictive-search_component-holder"><div class="predictive-search_component"><predictive-search><div class="predictive-search_holder"><div class="predictive-search_form w-form"><form id="wf-form-produkt-suche" name="wf-form-produkt-suche" data-name="produkt-suche" action="/search" method="get" class="predictive-search_form-component" data-wf-page-id="661e93d028f6a94dfed34751" data-wf-element-id="ace72904-ccb0-6b8e-3d5e-d5f5ca33919d"><div class="predictive-search_input-holder"><input type="search" id="suche" placeholder="What are you looking for?" name="p" class="heading-style-h6 text-color-hazel40 is-search">
<input id="submit-search" type="submit" data-wait="Please wait..." class="hide w-button" value="Submit">
<a href="#" class="nav_shop-icon w-inline-block"><div class="icon-embed-xsmall w-embed"><svg width="100%" height="100%" viewbox="0 0 24 24" fill="none" preserveaspectratio="xMidYMid meet" aria-hidden="true" role="img"><path d="M11.1875 17.4175C15.0912 17.4175 18.2558 14.2529 18.2558 10.3492C18.2558 6.44548 15.0912 3.28088 11.1875 3.28088C7.28373 3.28088 4.11914 6.44548 4.11914 10.3492C4.11914 14.2529 7.28373 17.4175 11.1875 17.4175Z" stroke="currentColor" stroke-width="1.3863"></path><path d="M21.7518 19.5127L18.5293 16.2902L17.3228 17.4966L20.5454 20.7192L21.7518 19.5127Z" fill="currentColor"></path></svg></div></a></div><div id="predictive-search" fs-scrolldisable-element="preserve" class="predictive-search_overflow no-scrollbar"><div li-section="predictive_search">{% if predictive_search.performed %}    <div li-if="predictive_search.performed">
    {% assign first_column_results_size = predictive_search.resources.queries.size | plus: predictive_search.resources.collections.size | plus: predictive_search.resources.pages.size | plus: predictive_search.resources.articles.size | plus: predictive_search.resources.products.size %}
{% if first_column_results_size > 0 %}    <div li-if="first_column_results_size > 0">
    {% if predictive_search.resources.queries.size > 0 or predictive_search.resources.collections.size > 0 %}    <div li-if="predictive_search.resources.queries.size > 0 or predictive_search.resources.collections.size > 0" class="predictive-search_topic">
    <div class="predictive-search_headline"><div class="other-span">MOST SEARCHED</div></div><ul role="list" class="predictive-search_list w-list-unstyled">{% for query in predictive_search.resources.queries %}    <li li-for="query in predictive_search.resources.queries" class="predictive-search_item">
                                    
                            <a li-object:href="query.url" href="{{ query.url }}" class="heading-style-h6 text-color-88 w-inline-block"><div li-object="query.styled_text">{{ query.styled_text }}</div></a>
                            
                        </li>
{% endfor %}{% for collection in predictive_search.resources.collections %}    <li li-for="collection in predictive_search.resources.collections" class="predictive-search_item">
                                    
                            <a li-object:href="collection.url" href="{{ collection.url }}" class="heading-style-h6 text-color-88 w-inline-block"><div li-object="collection.title">{{ collection.title }}</div></a>
                            
                        </li>
{% endfor %}</ul>    </div>
{% endif %}{% if predictive_search.resources.products.size > 0 or predictive_search.resources.articles.size > 0 or predictive_search.resources.pages.size > 0 %}    <div li-if="predictive_search.resources.products.size > 0 or predictive_search.resources.articles.size > 0 or predictive_search.resources.pages.size > 0" class="predictive-search_topic">
    <div class="predictive-search_headline"><div class="other-span">Products</div></div><ul role="list" class="predictive-search_product-list w-list-unstyled">{% for product in predictive_search.resources.products %}    <li li-for="product in predictive_search.resources.products" class="predictive-search_produt-item">
                                    
                            <a li-object:href="product.url" href="{{ product.url }}" class="predictive-search_line-item w-inline-block"><div class="predictive-search_image-wrapper"><img li-object:src="product.featured_media | image_url: width: 150" li-object:alt="product.featured_image.alt" src="{{ product.featured_media | image_url: width: 150 }}" loading="lazy" alt="{{ product.featured_image.alt }}" class="predictive-search_image">
</div><div class="predictive-search_product-info"><div class="text-size-regular text-weight-semibold"><span li-object="product.title">{{ product.title }}</span></div><div class="text-size-regular text-weight-semibold"><span li-object="product.price | money">{{ product.price | money }}</span></div></div></a>
                            
                        </li>
{% endfor %}</ul>    </div>
{% endif %}{% if predictive_search.resources.articles.size > 0 or predictive_search.resources.pages.size > 0 %}    <div li-if="predictive_search.resources.articles.size > 0 or predictive_search.resources.pages.size > 0" class="predictive-search_topic">
    <div class="predictive-search_headline"><div class="other-span">Pages</div></div><ul role="list" class="predictive-search_list w-list-unstyled">{% for page in predictive_search.resources.pages %}    <li li-for="page in predictive_search.resources.pages" class="predictive-search_item">
                                    
                            <a li-object:href="page.url" href="{{ page.url }}" class="heading-style-h6 text-color-88 w-inline-block"><div li-object="page.title">{{ page.title }}</div></a>
                            
                        </li>
{% endfor %}</ul>    </div>
{% endif %}    </div>
{% endif %}{% if first_column_results_size == 0 %}    <div li-if="first_column_results_size == 0">
    <div class="predictive-search_topic"><div class="other-span">Nothing found in "<span li-object="predictive_search.terms">{{ predictive_search.terms }}</span>"</div></div>    </div>
{% endif %}    </div>
{% endif %}{% unless predictive_search.performed %}    <div li-unless="predictive_search.performed">
    <div class="predictive-search_overflow"><div><div><div class="predictive-search_topic"><div class="predictive-search_headline"><div class="other-span">Suggestions</div></div><ul role="list" class="predictive-search_list w-list-unstyled">{% for block in section.blocks %}
    {% if block.type == "vorschlaege" %}
                    <li li-block="Vorschlaege" class="predictive-search_item">
                                    <a class="predictive-search_link w-inline-block" href="{{ block.settings.url_link }}"> <div class="heading-style-h6 text-color-88">{{ block.settings.text_text }}</div> </a>

                            </li>
            {% endif %}
{% endfor %}
</ul></div><div class="predictive-search_topic"><div class="predictive-search_headline"><div class="other-span">Bestseller</div></div><ul role="list" class="predictive-search_product-list w-list-unstyled">{% for product in section.settings.collection_bestseller.products limit: section.settings.collection_bestseller_limit %}
<li class="predictive-search_produt-item">
    
    <a li-object:href="product.url" href="{{ product.url }}" class="predictive-search_line-item w-inline-block"><div class="predictive-search_image-wrapper"><img li-object:src="product.featured_image | img_url: 'master'" li-object:alt="product.featured_image.alt" src="{{ product.featured_image | img_url: 'master' }}" loading="lazy" alt="{{ product.featured_image.alt }}" class="predictive-search_image">
</div><div class="predictive-search_product-info"><div class="text-size-regular text-weight-bold"><span li-object="product.title">{{ product.title }}</span></div><div class="text-size-small"><span li-object="product.price | money">{{ product.price | money }}</span></div></div></a>
    
</li>
{% endfor %}
</ul></div></div></div></div>    </div>
{% endunless %}</div></div></form><div class="hide w-form-done"><div>Thank you! Your submission has been received!</div></div><div class="hide w-form-fail"><div>Oops! Something went wrong while submitting the form.</div></div></div></div></predictive-search></div></div></div></div></nav></div>
