<script src="{{ 'liquify_custom.js' | asset_url }}" type="text/javascript"></script>
<div li-element="product-variant-container" class="product-item_component" x-data="handleVariant({{ product | json | escape }}, {{ product.options_by_name | json | escape }}, {{ product.selected_or_first_available_variant | json | escape }})" x-init="$nextTick(() => { activateVariants() })" data-productid="{{ product.id }}"><div class="product-item_image-link"><a li-object:href="product.url" href="{{ product.url }}" class="product-item_image-wrapper w-inline-block"><img class="product-item_image" src="{{ product.featured_image | img_url: 'master' }}" alt="{{ product.featured_image.alt }}" li-object:src="product.featured_image | img_url: 'master'" loading="lazy" x-bind:src="variantImage ? variantImage : product.featured_image" li-object:alt="product.featured_image.alt">
<img li-object:alt="product.featured_image.alt" loading="lazy" li-object:src="product.featured_image | img_url: 'master'" src="{{ product.featured_image | img_url: 'master' }}" alt="{{ product.featured_image.alt }}" class="product-item_image-secondary">
</a><div class="product-item_tag_list hide-mobile-portrait">{% if product.selected_or_first_available_variant.available != true %}    <div li-if="product.selected_or_first_available_variant.available != true" class="product-item_tag">
    Not in Stock    </div>
{% endif %}{% if product.selected_or_first_available_variant.available != true %}    <div li-if="product.selected_or_first_available_variant.available != true" class="product-item_tag">
    sale -35%    </div>
{% endif %}{% if product.selected_or_first_available_variant.available != true %}    <div li-if="product.selected_or_first_available_variant.available != true" class="product-item_tag is-yellow">
    NEW IN    </div>
{% endif %}</div></div><div class="spacer-xxsmall"></div><div class="hide w-embed"><style>{% for variant in product.variants %} 
  {% for option in variant.options %}
  #{{ option }} { background-color: {{ variant.metafields.custom.color.value.color }};}
  {% endfor %}
  {% endfor %}
.w-form-formradioinput--inputType-custom.w--redirected-focus {
    box-shadow: none;
}
</style></div><div li-object:href="product.url" class="product-item_text-link" href="{{ product.url }}"><div class="product-item_text-link-inner"><div class="product-item_left"><div class="heading-style-h6 is-hover"><span li-object="product.title">{{ product.title }}</span></div></div><div class="product-item_price"><div li-object="product.price | money" class="heading-style-h6">{{ product.price | money }}</div>{% if product.compare_at_price_max > product.price %}    <div li-if="product.compare_at_price_max > product.price">
    <div li-object="product.compare_at_price | money" class="heading-style-h6 text-color-hazel40 text-style-strikethrough">{{ product.compare_at_price | money }}</div>    </div>
{% endif %}</div></div><div class="product-item_text-link-variant">{% form 'product', product %}
{% if product.has_only_default_variant != true %}    <div li-if="product.has_only_default_variant != true" class="product-header_option-list">
    <template x-for="(option, optionKey) in product.options" :key="optionKey">
    <div li-element="product-options-loop" class="product-header_option-list" data-productvariantsloop="true"><template x-if="option == 'Hardware'">
            <div li-js-if="option == 'Hardware'" class="product_variant">
        <div class="variant_item-wrapper"><template x-for="(variantName, variantKey) in options_by_name[option].option.values" :key="variantName">
    <label li-element="product-option-loop" class="product-header_radio is-color w-radio"><div class="w-form-formradioinput w-form-formradioinput--inputType-custom product-header_radio-button is-color w-radio-input"></div><input type="radio" li-element="product-option-input" style="opacity:0;position:absolute;z-index:-1" x-on:click="setVariant" :name="option" :data-name="option" :value="variantName" :id="variantName.toString().normalize('NFD').replace(/[\u0300-\u036f]/g, '').toLowerCase().trim().replace(/\s+/g, '-').replace(/[^\w-]+/g, '').replace(/--+/g, '-')" :checked="selected_or_first_available_variant?.options.includes(variantName)" data-selectortype="radio" :class="firstOptionHasAvailableChildren[variantName] ? '' : 'disabled'">
<span li-element="product-option-name" class="text-size-regular text-color-black is-relative is-animation hide w-form-label" for="radio-3" x-text="variantName" :for="variantName">XS</span><div x-bind:id="variantName" class="variant_item"></div></label></template>
</div>        </div>
    </template>
</div></template>
    </div>
{% endif %}{% endform %}
<div class="review_component hide-mobile-portrait"><div class="review_component-inner"><div class="hide w-embed">{% assign reviewAverageValue = product.metafields.okendo.summaryData.reviewAverageValue %}
                                  Review Average Value: {{ reviewAverageValue }}
                                  {% assign rating = reviewAverageValue | plus: 0 %}
                                  {% assign rating2 = rating | times: 20 %}
                                  {% assign rating3 = rating2 | round %}
                                  {% assign rating4 = 100 | minus: rating3 %}
                                  {% assign ratings = product.metafields.reviews.rating_count %}</div><div class="active_review-holder" style="clip-path: inset(0 {{ rating4 }}% 0 0)">{% if reviewAverageValue %}    <div li-if="reviewAverageValue" class="active_review">
        </div>
{% endif %}</div>{% if reviewAverageValue %}    <div li-if="reviewAverageValue" class="passive_review">
        </div>
{% endif %}</div><div class="text-size-regular text-color-hazel90 text-weight-semibold text-style-link">(<span>{{ ratings }}</span>)</div></div></div></div></div>
