<div class="padding-global padding-section-medium"><div class="container-large"><div id="w-node-_4c508507-0b9f-4c23-4cfe-e9c4a733d561-a733d561" class="product_heading-wrapper"><div class="product_heading"><div class="max-width-large"><h2 class="heading-style-h2">
{{ section.settings.text_headline }}
</h2>
</div></div>{% if section.settings.url_button_link != blank %}    <div li-if="section.settings.url_button_link != blank" class="product_button-row hide-mobile-landscape">
    <a href="{{ section.settings.url_button_link }}" class="button is-outline w-button"> {{ section.settings.text_button_text }} </a>
    </div>
{% endif %}</div><div class="spacer-medium"></div><div class="hide">
{{ section.settings.text_blog_handle }}
</div>
{% assign blog_handle = section.settings.text_blog_handle %}
{% assign blog = blogs[blog_handle] %}
{% assign currentArticle = article.title %}
<div class="w-dyn-list"><div li-for:inside="article in blog.articles limit: 3" role="list" class="blog_list w-dyn-items">
        {% for article in blog.articles limit: 3 %}                            {% if article.title != currentArticle %}    <div li-if="article.title != currentArticle" role="listitem" class="w-dyn-item">
    <a li-object:href="article.url" href="{{ article.url }}" class="artikel-kachel_item-grid w-inline-block"><div id="w-node-_6c3c594a-673d-af69-2fd3-9eb56ce456da-4b06a7bd" class="artikel-kachel_wrapper"><div item="link" class="artikel-kachel_link"><img src="{{ article.image | img_url: 'master' }}" loading="lazy" li-object:src="article.image | img_url: 'master'" li-object:alt="article.image.alt" alt="{{ article.image.alt }}" class="artikel-kachel_img">
</div><div class="artikel-kachel_headline"><div class="artikel-kachel_headline-2"><h3 li-object="article.title" class="heading-style-h3">{{ article.title }}</h3></div><p li-object="article.excerpt" class="text-size-regular max-height-3-lines">{{ article.excerpt }}</p></div></div></a>    </div>
{% endif %}
                    {% endfor %}    </div>
<div class="w-dyn-empty"><div>No items found.</div></div></div></div></div> {% schema %} {"tag":"section","name":"Article-Next","class":"section_weitere-links background-color-grey","settings":[{"id":"text_headline","type":"text","label":"Headline","default":"Weitere Beitr\u00e4ge"},{"id":"url_button_link","type":"url","label":"Button-Link"},{"id":"text_button_text","type":"text","label":"Button-Text","default":"Mehr davon"},{"id":"text_blog_handle","type":"text","label":"Blog-Handle","default":"This is some text inside of a div block."}],"presets":[{"name":"Article-Next","category":"Liquify","blocks":[]}]} {% endschema %}