<div class="padding-global padding-section-medium"><div class="container-large"><div class="blog_hero_max-width"><h1 class="heading-style-h1">
{{ section.settings.text_headline }}
</h1>
</div><div li-for:inside="article in blog.articles">
        {% for article in blog.articles %}                            
                            {% if forloop.first %}    <div li-if="forloop.first" class="blog_hero_item">
    <div id="w-node-_9189578f-ed85-13bf-456b-349078934809-78934802" class="blog_hero_content"><div class="blog_hero_top"><div li-for:inside="tag in article.tags limit: 3" class="tags">
        {% for tag in article.tags limit: 3 %}                            
                            <div class="tag"><div li-object="tag">{{ tag }}</div></div>
                            
                    {% endfor %}    </div>
<h2 li-object="article.title" class="heading-style-h2">{{ article.title }}</h2><p li-object="article.excerpt | truncate: 200" id="w-node-_9189578f-ed85-13bf-456b-349078934813-78934802">{{ article.excerpt | truncate: 200 }}</p></div><a li-object:href="article.url" id="w-node-_9189578f-ed85-13bf-456b-349078934815-78934802" href="{{ article.url }}" class="button is-secondary w-button"><span>
{{ section.settings.text_button_text }}
</span>
</a></div><img src="{{ article.image | img_url: 'master' }}" loading="eager" id="w-node-_9189578f-ed85-13bf-456b-349078934817-78934802" li-object:src="article.image | img_url: 'master'" alt="{{ article.image.alt }}" li-object:alt="article.image.alt" class="blog_hero_img">
    </div>
{% endif %}
                            
                    {% endfor %}    </div>
</div></div> {% schema %} {"tag":"section","name":"B - Hero","class":"section_blog_hero background-color-light-blue","settings":[{"id":"text_headline","type":"text","label":"Headline","default":"Erfahren Sie alles \u00fcber das wichtigste Element unseres Planeten."},{"id":"text_button_text","type":"text","label":"Button Text","default":"Mehr erfahen"}],"presets":[{"name":"B - Hero","category":"Liquify"}]} {% endschema %}