<div class="padding-global"><div class="container-large"><div class="category_content">{% for article in blog.articles limit:1 %}    <div li-for="article in blog.articles limit:1" class="category_content-main background-color-dark-brown">
                                    
                            <div id="w-node-efc37c4f-6c5a-e7ad-165a-543cb76b0b6a-11d420e9" class="category_content-left"><div class="subline">{{ blog.title }}</div><div class="spacer-12"></div><h1 li-object="article.title" class="heading-style-h1">{{ article.title }}</h1><div class="spacer-16"></div><div li-object="article.metafields.custom.datum_ver_ffentlichung" class="text-size-small is-sub is-white">{{ article.metafields.custom.datum_ver_ffentlichung }}</div><div class="spacer-28"></div><a li-object:href="article.url" href="{{ article.url }}" class="button w-button">Mehr lesen</a></div>
                            
                            <div id="w-node-efc37c4f-6c5a-e7ad-165a-543cb76b0b73-11d420e9" class="category_content-img-wrapper is-blog"><img src="{{ article.image | img_url: 'master' }}" loading="lazy" id="w-node-efc37c4f-6c5a-e7ad-165a-543cb76b0b74-11d420e9" li-object:src="article.image | img_url: 'master'" alt="{{ article.image.alt }}" li-object:alt="article.image.alt" class="category_content-img">
</div>
                            
                        </div>
{% endfor %}</div></div></div> {% schema %} {"tag":"section","name":"blog_hero","class":"section_category","presets":[{"name":"blog_hero","category":"Liquify"}]} {% endschema %}