<div class="padding-global padding-section-medium"><div class="container-large"><div id="w-node-_4c508507-0b9f-4c23-4cfe-e9c4a733d561-a733d561" class="product_heading-wrapper"><div class="product_heading"><div class="max-width-large"><h2 class="heading-style-h2">
{{ section.settings.text_headline }}
</h2>
</div></div>{% if section.settings.url_button-link %}    <div li-if="section.settings.url_button-link" class="product_button-row hide-mobile-landscape">
    <a class="button is-outline w-button" href="{{ section.settings.url_button_link }}"> {{ section.settings.text_button_text }} </a>
    </div>
{% endif %}</div><div class="spacer-large"></div><div class="news_single-artikel">{% assign article = blogs[section.settings.article] %} <a li-object:href="article.url" href="{{ article.url }}" class="artikel-kachel_link is-big w-inline-block"><img src="{{ article.image | img_url: 'large' }}" loading="lazy" li-object:src="article.image | img_url: 'large'" li-object:alt="article.image.alt" alt="{{ article.image.alt }}" class="artikel-kachel_img">
<div class="tag_wrapper"><div item="tags" class="tag_item is-white">Special</div></div></a><div id="w-node-_4e4c0f0c-f551-36b4-93cb-ce206446f748-c68d8180" class="artikel-kachel_headline is-big"><div class="artikel-kachel_headline-wrapper"><h3 li-object="article.title" class="heading-style-h2">{{ article.title }}</h3></div><p li-object="article.excerpt" class="text-size-regular max-height-3-lines">{{ article.excerpt }}</p><a li-object:href="article.url" href="{{ article.url }}" class="button is-auto w-button">Mehr erfahren</a></div></div><div class="spacer-large"></div><div class="news_wrapper"><div id="w-node-_8221bec9-5294-a750-c9fb-ca08551307cc-c68d8180" class="w-dyn-list"><div role="list" class="magazin_grid w-dyn-items"><div class="w-dyn-item">
{% assign blog = blogs[section.settings.blog] %}

<ul>
    {% for article in blog.articles limit: section.settings.post_limit %}
        <li>
            <a li-object:href="article.url" href="{{ article.url }}" class="artikel-kachel_item-grid w-inline-block"><div id="w-node-_6c3c594a-673d-af69-2fd3-9eb56ce456da-4b06a7bd" class="artikel-kachel_wrapper"><div item="link" class="artikel-kachel_link"><img src="{{ article.image | img_url: 'master' }}" loading="lazy" li-object:src="article.image | img_url: 'master'" li-object:alt="article.image.alt" alt="{{ article.image.alt }}" class="artikel-kachel_img">
</div><div class="artikel-kachel_headline"><div class="artikel-kachel_headline-2"><h3 li-object="article.title" class="heading-style-h3">{{ article.title }}</h3></div><p li-object="article.excerpt" class="text-size-regular max-height-3-lines">{{ article.excerpt }}</p></div></div></a></div>
        </li>
    {% endfor %}
</ul>
</div><div class="w-dyn-empty"><div>No items found.</div></div></div></div></div></div> {% schema %} {"tag":"section","name":"blog","class":"section_blog","settings":[{"id":"text_headline","type":"text","label":"Headline","default":"Aktuelle beitr\u00e4ge"},{"id":"url_button_link","type":"url","label":"Button-Link"},{"id":"text_button_text","type":"text","label":"Button-Text","default":"Mehr davon"},{"id":"article","type":"article","label":"Artikel"},{"id":"blog","type":"blog","label":"Blog"},{"id":"post_limit","type":"range","label":"Posts","min":3,"max":12,"step":3,"default":3}],"presets":[{"name":"blog","category":"Liquify"}]} {% endschema %}
