<div class="padding-global padding-section-medium"><div class="container-large"><div class="who_max-width"><div li-content-for-blocks="" class="content-centerd_wrapper">
{% for block in section.blocks %}
    {% case block.type %}
        {% when '@app' %}
            {% render block %}
    {% when 'headline-small' %}
            <div li-block="Headline small">
                    <h2 class="heading-style-small">
{{ block.settings.text_headline_small }}
</h2>

                </div>
    {% when 'headline' %}
            <div li-block="Headline">
                    <h3 class="heading-style-h2">
{{ block.settings.text_headline }}
</h3>

                </div>
    {% when 'text' %}
            <div li-block="Text">
                    <div class="max-width-xlarge"> {{ block.settings.richtext_intro_text }} </div>

                </div>
    {% when 'span-element' %}
            <div li-block="Span Element">
                    <div class="{{ block.settings.class }}">
{{ block.settings.text_text }}
</div>

                    <div class="li-custom w-embed"></div>

                </div>
    {% when 'buttons' %}
            <div li-block="Buttons">
                    {% if block.settings.text_button_text != blank or block.settings.text_button_text_2 != blank %}    <div li-if="block.settings.text_button_text != blank or block.settings.text_button_text_2 != blank" id="w-node-_646415cb-5361-ecd4-2e80-4b94cc580336-cc580336" class="button-group padding-top padding-small">
    {% if block.settings.text_button_text != blank %}    <div li-if="block.settings.text_button_text != blank" id="w-node-f50b8864-b770-3670-2cd2-0a3a2cd2ed87-cc580336">
    <a aria-label="{{ block.settings.text_button_text }}" id="w-node-_646415cb-5361-ecd4-2e80-4b94cc580337-cc580336" href="{{ block.settings.url_button_link }}" class="button w-button"> {{ block.settings.text_button_text }} </a>
    </div>
{% endif %}{% if block.settings.text_button_text_2 != blank %}    <div li-if="block.settings.text_button_text_2 != blank" id="w-node-bf33479f-2361-66f9-dba6-9cb9a97f87f3-cc580336">
    <a aria-label="{{ block.settings.text_button_text_2 }}" id="w-node-_646415cb-5361-ecd4-2e80-4b94cc580339-cc580336" href="{{ block.settings.url_button_link_2 }}" class="button is-secondary w-button"> {{ block.settings.text_button_text_2 }} </a>
    </div>
{% endif %}    </div>
{% endif %}
                </div>
        {% endcase %}
{% endfor %}

</div>

</div><div class="swiper is-building-type"><div class="who_component swiper-wrapper">{% for block in section.blocks %}
    {% if block.type == "kachel" %}
                    <div li-block="Kachel" id="w-node-_2b36187a-32dc-2c9e-78dd-9e273f6751c7-3f6751bc" class="who_item swiper-slide">
                                    <a aria-label="Mehr über {{ block.settings.text_headline }} erfahren" href="{{ block.settings.url_link }}" class="w-inline-block"> <img id="w-node-_2b36187a-32dc-2c9e-78dd-9e273f6751c8-3f6751bc" alt="{{ block.settings.image_bild.alt }}" src="{{ block.settings.image_bild | img_url: 'master' }}" loading="lazy" class="who_img"}> </a>

                                    <div class="who_text-wrapper"><h4 class="heading-style-h3">
{{ block.settings.text_headline }}
</h4>
<div> {{ block.settings.richtext_text }} </div>
</div>
                                    <a id="w-node-_2b36187a-32dc-2c9e-78dd-9e273f6751cf-3f6751bc" href="{{ block.settings.url_link }}" class="button is-secondary w-inline-block"> <div>{{ block.settings.text_button_text }}</div> </a>

                            </div>
            {% endif %}
{% endfor %}
</div><div class="career-pagination hide-desktop"><div class="swiper-pagination-bullet"></div><div class="swiper-pagination-bullet swiper-pagination-bullet-active"></div></div><div class="who_slider-arrow"><div class="who_swiper-next"><div class="swiper-icon w-embed"><svg width=" 100%" height=" 100%" viewbox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg"><mask id="mask0_7192_3574" style="mask-type:alpha" maskunits="userSpaceOnUse" x="2" y="2" width="21" height="21"><rect x="22.7793" y="2.22314" width="20.5541" height="20.5541" transform="rotate(90 22.7793 2.22314)" fill="currentColor"></rect></mask><g mask="url(#mask0_7192_3574)"><path d="M13.3594 12.5003L9.41992 8.5608L10.6189 7.36182L15.7574 12.5003L10.6189 17.6388L9.41992 16.4399L13.3594 12.5003Z" fill="currentColor"></path></g></svg></div></div></div></div><div class="cta-in-section">{% if section.settings.text_button_text != blank or section.settings.text_button_text_2 != blank %}    <div li-if="section.settings.text_button_text != blank or section.settings.text_button_text_2 != blank" id="w-node-_646415cb-5361-ecd4-2e80-4b94cc580336-cc580336" class="button-group">
    {% if section.settings.text_button_text != blank %}    <div li-if="section.settings.text_button_text != blank" id="w-node-f50b8864-b770-3670-2cd2-0a3a2cd2ed87-cc580336">
    <a aria-label="{{ section.settings.text_button_text }}" id="w-node-_646415cb-5361-ecd4-2e80-4b94cc580337-cc580336" href="{{ section.settings.url_button_link }}" class="button w-button"> {{ section.settings.text_button_text }} </a>
    </div>
{% endif %}{% if section.settings.text_button_text_2 != blank %}    <div li-if="section.settings.text_button_text_2 != blank" id="w-node-bf33479f-2361-66f9-dba6-9cb9a97f87f3-cc580336">
    <a aria-label="{{ section.settings.text_button_text_2 }}" id="w-node-_646415cb-5361-ecd4-2e80-4b94cc580339-cc580336" href="{{ section.settings.url_button_link_2 }}" class="button is-secondary w-button"> {{ section.settings.text_button_text_2 }} </a>
    </div>
{% endif %}    </div>
{% endif %}<div class="cta-in-section_checks">{% for block in section.blocks %}
    {% if block.type == "checkmark" %}
                    <div li-block="Checkmark" class="cta-in-section_check-item">
                                    <img loading="lazy" src="{{ 'green-check.svg' | asset_url }}" alt="" class="cta-in-section_check-icon">

                                    <div>
{{ block.settings.text_text }}
</div>

                            </div>
            {% endif %}
{% endfor %}
</div></div></div></div><div class="hide w-embed w-script"><style>.career-pagination .swiper-pagination-bullet {
    background-color: white !important;
  }
  .career-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: #10109C !important;
  }
</style><script>pageFunctions.addFunction('buildingType', function() {
    // Check if the viewport width is 767px or less (Mobile)
    if (window.innerWidth <= 767) {
      const swiperImgSliderCareer = new Swiper('.is-building-type', {
        slidesPerView: 'auto', // Corrected to be a string
        spaceBetween: 16,
        navigation: {
          nextEl: '.who_swiper-next',
        },
        pagination: {
          el: ".career-pagination",
          clickable: true
        }
      });
    }
  });
</script></div> {% schema %} {"tag":"section","name":"C - Geeignet","class":"section_who background-color-light-blue","blocks":[{"type":"@app"},{"name":"Headline small","type":"headline-small","settings":[{"id":"text_headline_small","type":"text","label":"Headline small","default":"Wirksam gegen Kalk f\u00fcr maximale Effizienz"}]},{"name":"Headline","type":"headline","settings":[{"id":"text_headline","type":"text","label":"Headline","default":"Aqon Pure reduziert Kalkablagerungen in offenen und geschlossenen Wasserkreisl\u00e4ufen."}]},{"name":"Text","type":"text","settings":[{"id":"richtext_intro_text","type":"richtext","label":"Intro Text","default":"<p>AQON Pure reduziert Kalkablagerungen in offenen und geschlossenen Wasserkreisl\u00e4ufen. Dies sorgt f\u00fcr eine optimale Energieeffizienz und senkt Kosten f\u00fcr Wartung &amp; Instanthaltung<\/p>"}]},{"name":"Span Element","type":"span-element","settings":[{"id":"text_text","type":"text","label":"Text","default":"This is some text inside of a div block."},{"type":"select","id":"class","label":"Klasse","options":[{"value":"text-size-regular","label":"Text"},{"value":"heading-style-h2","label":"H2"},{"value":"heading-style-h3","label":"H3"},{"value":"heading-style-h4","label":"H4"},{"value":"heading-style-h5","label":"H5"}],"default":"text-size-regular"}]},{"name":"Buttons","type":"buttons","settings":[{"id":"text_button_text","type":"text","label":"Button Text","default":"Mehr erfahren"},{"id":"url_button_link","type":"url","label":"Button Link"},{"id":"text_button_text_2","type":"text","label":"Button Text 2","default":"Mehr erfahren"},{"id":"url_button_link_2","type":"url","label":"Button Link 2"}]},{"name":"Kachel","type":"kachel","settings":[{"id":"url_link","type":"url","label":"Link"},{"id":"image_bild","type":"image_picker","label":"Bild"},{"id":"text_headline","type":"text","label":"Headline","default":"Ein- bis F\u00fcnfamilienhaus"},{"id":"richtext_text","type":"richtext","label":"Text","default":"<p>Hier dann kommunizieren, dass auch Reihenhaus, Doppelhaus und kleinere Mehrfamilienh\u00e4user bis 4 WE.<\/p>"},{"id":"text_button_text","type":"text","label":"Button Text","default":"Mehr erfahren"}]},{"name":"Checkmark","type":"checkmark","settings":[{"id":"text_text","type":"text","label":"Text","default":"Inkl. kostenlosen Wasserh\u00e4rtetest"}]}],"settings":[{"id":"text_button_text","type":"text","label":"Button Text","default":"Mehr erfahren"},{"id":"url_button_link","type":"url","label":"Button Link"},{"id":"text_button_text_2","type":"text","label":"Button Text 2","default":"Mehr erfahren"},{"id":"url_button_link_2","type":"url","label":"Button Link 2"}],"presets":[{"name":"C - Geeignet","category":"Liquify"}]} {% endschema %}