<div class="padding-global padding-section-medium"><div class="container-large"><div li-content-for-blocks="" class="content-centerd_wrapper">
{% for block in section.blocks %}
    {% case block.type %}
        {% when '@app' %}
            {% render block %}
    {% when 'headline-small' %}
            <div li-block="Headline small">
                    <h2 class="heading-style-small">
{{ block.settings.text_headline_small }}
</h2>

                </div>
    {% when 'headline' %}
            <div li-block="Headline">
                    <h3 class="heading-style-h2">
{{ block.settings.text_headline }}
</h3>

                </div>
    {% when 'text' %}
            <div li-block="Text">
                    <div class="max-width-xlarge"> {{ block.settings.richtext_intro_text }} </div>

                </div>
    {% when 'span-element' %}
            <div li-block="Span Element">
                    <div class="{{ block.settings.class }}">
{{ block.settings.text_text }}
</div>

                    <div class="li-custom w-embed"></div>

                </div>
    {% when 'buttons' %}
            <div li-block="Buttons">
                    {% if block.settings.text_button_text != blank or block.settings.text_button_text_2 != blank %}    <div li-if="block.settings.text_button_text != blank or block.settings.text_button_text_2 != blank" id="w-node-_646415cb-5361-ecd4-2e80-4b94cc580336-cc580336" class="button-group padding-top padding-small">
    {% if block.settings.text_button_text != blank %}    <div li-if="block.settings.text_button_text != blank" id="w-node-f50b8864-b770-3670-2cd2-0a3a2cd2ed87-cc580336">
    <a aria-label="{{ block.settings.text_button_text }}" id="w-node-_646415cb-5361-ecd4-2e80-4b94cc580337-cc580336" href="{{ block.settings.url_button_link }}" class="button w-button"> {{ block.settings.text_button_text }} </a>
    </div>
{% endif %}{% if block.settings.text_button_text_2 != blank %}    <div li-if="block.settings.text_button_text_2 != blank" id="w-node-bf33479f-2361-66f9-dba6-9cb9a97f87f3-cc580336">
    <a aria-label="{{ block.settings.text_button_text_2 }}" id="w-node-_646415cb-5361-ecd4-2e80-4b94cc580339-cc580336" href="{{ block.settings.url_button_link_2 }}" class="button is-secondary w-button"> {{ block.settings.text_button_text_2 }} </a>
    </div>
{% endif %}    </div>
{% endif %}
                </div>
        {% endcase %}
{% endfor %}

</div>

<div class="table_component"><div class="table_table-wrapper"><div class="table_bg-grid"><div id="w-node-fbab4bce-1a51-65a2-9476-8d99f496d681-f496d67a" class="table_white-bg"></div><div id="w-node-fbab4bce-1a51-65a2-9476-8d99f496d682-f496d67a" class="table_white-bg is-highlighted"><div class="table_highlight-white-bg-div"></div></div></div><div class="w-layout-grid table_top-row"><div class="table_empty-space"></div><div class="table_top-row-content"><div class="table_top-row-wrapper"><div class="table_header">
{{ section.settings.text_tabellen_titel }}
</div>
</div></div><div class="table_top-row-content"><div class="table_top-row-wrapper"><img src="{{ 'aqon-pure-logo.svg' | asset_url }}" loading="lazy" alt="" class="table_logo">
</div></div><div class="table_top-row-content"></div></div><div class="table_checks">{% for block in section.blocks %}
    {% if block.type == "spalte" %}
                    <div li-block="Spalte" class="w-layout-grid table_row">
                                    <div id="w-node-fbab4bce-1a51-65a2-9476-8d99f496d690-f496d67a" class="table_feature"><div class="heading-style-small">
{{ block.settings.text_titel }}
</div>
</div>
                                    <div class="table_row-content is-left">{% if block.settings.checkbox_links_check %}    <img src="{{ 'check-product.svg' | asset_url }}" loading="lazy" li-if="block.settings.checkbox_links_check" alt="" class="table_check">
{% endif %}<div class="text-color-red">
{{ block.settings.text_link_text_rot }}
</div>
<div>
{{ block.settings.text_links_text_schwarz }}
</div>
<div class="li-custom w-embed"></div>
</div>
                                    <div class="table_row-content is-right">{% if block.settings.checkbox_rechts_check %}    <img src="{{ 'check-product.svg' | asset_url }}" loading="lazy" li-if="block.settings.checkbox_rechts_check" alt="" class="table_check">
{% endif %}<div class="text-weight-semibold">
{{ block.settings.text_rechts_text_schwarz }}
</div>
<div class="li-custom w-embed"></div>
</div>
                            </div>
            {% endif %}
{% endfor %}
</div></div></div><div class="cta-in-section">{% if section.settings.text_button_text != blank or section.settings.text_button_text_2 != blank %}    <div li-if="section.settings.text_button_text != blank or section.settings.text_button_text_2 != blank" id="w-node-_646415cb-5361-ecd4-2e80-4b94cc580336-cc580336" class="button-group padding-top padding-small">
    {% if section.settings.text_button_text != blank %}    <div li-if="section.settings.text_button_text != blank" id="w-node-f50b8864-b770-3670-2cd2-0a3a2cd2ed87-cc580336">
    <a aria-label="{{ section.settings.text_button_text }}" id="w-node-_646415cb-5361-ecd4-2e80-4b94cc580337-cc580336" href="{{ section.settings.url_button_link }}" class="button w-button"> {{ section.settings.text_button_text }} </a>
    </div>
{% endif %}{% if section.settings.text_button_text_2 != blank %}    <div li-if="section.settings.text_button_text_2 != blank" id="w-node-bf33479f-2361-66f9-dba6-9cb9a97f87f3-cc580336">
    <a aria-label="{{ section.settings.text_button_text_2 }}" id="w-node-_646415cb-5361-ecd4-2e80-4b94cc580339-cc580336" href="{{ section.settings.url_button_link_2 }}" class="button is-secondary w-button"> {{ section.settings.text_button_text_2 }} </a>
    </div>
{% endif %}    </div>
{% endif %}<div class="cta-in-section_checks">{% for block in section.blocks %}
    {% if block.type == "checkmark" %}
                    <div li-block="Checkmark" class="cta-in-section_check-item">
                                    <img loading="lazy" src="{{ 'green-check.svg' | asset_url }}" alt="" class="cta-in-section_check-icon">

                                    <div>
{{ block.settings.text_text }}
</div>

                            </div>
            {% endif %}
{% endfor %}
</div></div></div></div>{% if section.settings.checkbox_pfeil == true %}
<div class="direction-holder"><img loading="lazy" src="{{ 'line-green.svg' | asset_url }}" alt="" class="direction-icon">
</div>{% endif %}
 {% schema %} {"tag":"section","name":"C - Tabelle","class":"section_table background-color-light-blue","blocks":[{"type":"@app"},{"name":"Headline small","type":"headline-small","settings":[{"id":"text_headline_small","type":"text","label":"Headline small","default":"Wirksam gegen Kalk f\u00fcr maximale Effizienz"}]},{"name":"Headline","type":"headline","settings":[{"id":"text_headline","type":"text","label":"Headline","default":"Aqon Pure reduziert Kalkablagerungen in offenen und geschlossenen Wasserkreisl\u00e4ufen."}]},{"name":"Text","type":"text","settings":[{"id":"richtext_intro_text","type":"richtext","label":"Intro Text","default":"<p>AQON Pure reduziert Kalkablagerungen in offenen und geschlossenen Wasserkreisl\u00e4ufen. Dies sorgt f\u00fcr eine optimale Energieeffizienz und senkt Kosten f\u00fcr Wartung &amp; Instanthaltung<\/p>"}]},{"name":"Span Element","type":"span-element","settings":[{"id":"text_text","type":"text","label":"Text","default":"This is some text inside of a div block."},{"type":"select","id":"class","label":"Klasse","options":[{"value":"text-size-regular","label":"Text"},{"value":"heading-style-h2","label":"H2"},{"value":"heading-style-h3","label":"H3"},{"value":"heading-style-h4","label":"H4"},{"value":"heading-style-h5","label":"H5"}],"default":"text-size-regular"}]},{"name":"Buttons","type":"buttons","settings":[{"id":"text_button_text","type":"text","label":"Button Text","default":"Mehr erfahren"},{"id":"url_button_link","type":"url","label":"Button Link"},{"id":"text_button_text_2","type":"text","label":"Button Text 2","default":"Mehr erfahren"},{"id":"url_button_link_2","type":"url","label":"Button Link 2"}]},{"name":"Spalte","type":"spalte","settings":[{"id":"text_titel","type":"text","label":"Titel","default":"Reduziert Kalkprobleme"},{"id":"text_link_text_rot","type":"text","label":"Link - Text rot","default":"Risiko besteht"},{"id":"text_links_text_schwarz","type":"text","label":"Links - Text schwarz","default":"2.000 \u20ac - 5.000\u20ac"},{"type":"checkbox","id":"checkbox_links_check","label":"Links Check","default":true},{"id":"text_rechts_text_schwarz","type":"text","label":"Rechts - Text schwarz","default":"ab 1.490 \u20ac"},{"type":"checkbox","id":"checkbox_rechts_check","label":"Rechts Check","default":true}]},{"name":"Checkmark","type":"checkmark","settings":[{"id":"text_text","type":"text","label":"Text","default":"Inkl. kostenlosen Wasserh\u00e4rtetest"}]}],"settings":[{"id":"text_tabellen_titel","type":"text","label":"Tabellen Titel","default":"Wasserenth\u00e4rtungsanlage mit Salz"},{"id":"text_button_text","type":"text","label":"Button Text","default":"Mehr erfahren"},{"id":"url_button_link","type":"url","label":"Button Link"},{"id":"text_button_text_2","type":"text","label":"Button Text 2","default":"Mehr erfahren"},{"id":"url_button_link_2","type":"url","label":"Button Link 2"},{"id":"checkbox_pfeil","type":"checkbox","label":"Pfeil","default":true}],"presets":[{"name":"C - Tabelle","category":"Liquify"}]} {% endschema %}