<div class="{% if section.settings.background_color == '' %}padding-global padding-section-medium{% else %}padding-global padding-section-medium background-color-light-blue{% endif %}"><div class="container-large"><div class="max-width-large align-center"><div li-content-for-blocks="" class="content-centerd_wrapper">
{% for block in section.blocks %}
    {% case block.type %}
        {% when '@app' %}
            {% render block %}
    {% when 'headline-small' %}
            <div li-block="Headline small">
                    <h2 class="heading-style-small">
{{ block.settings.text_headline_small }}
</h2>

                </div>
    {% when 'headline' %}
            <div li-block="Headline">
                    <h3 class="heading-style-h2">
{{ block.settings.text_headline }}
</h3>

                </div>
    {% when 'text' %}
            <div li-block="Text">
                    <div class="max-width-xlarge"> {{ block.settings.richtext_intro_text }} </div>

                </div>
    {% when 'span-element' %}
            <div li-block="Span Element">
                    <div class="{{ block.settings.class }}">
{{ block.settings.text_text }}
</div>

                    <div class="li-custom w-embed"></div>

                </div>
    {% when 'buttons' %}
            <div li-block="Buttons">
                    {% if block.settings.text_button_text != blank or block.settings.text_button_text_2 != blank %}    <div li-if="block.settings.text_button_text != blank or block.settings.text_button_text_2 != blank" id="w-node-_646415cb-5361-ecd4-2e80-4b94cc580336-cc580336" class="button-group padding-top padding-small">
    {% if block.settings.text_button_text != blank %}    <div li-if="block.settings.text_button_text != blank" id="w-node-f50b8864-b770-3670-2cd2-0a3a2cd2ed87-cc580336">
    <a aria-label="{{ block.settings.text_button_text }}" id="w-node-_646415cb-5361-ecd4-2e80-4b94cc580337-cc580336" href="{{ block.settings.url_button_link }}" class="button w-button"> {{ block.settings.text_button_text }} </a>
    </div>
{% endif %}{% if block.settings.text_button_text_2 != blank %}    <div li-if="block.settings.text_button_text_2 != blank" id="w-node-bf33479f-2361-66f9-dba6-9cb9a97f87f3-cc580336">
    <a aria-label="{{ block.settings.text_button_text_2 }}" id="w-node-_646415cb-5361-ecd4-2e80-4b94cc580339-cc580336" href="{{ block.settings.url_button_link_2 }}" class="button is-secondary w-button"> {{ block.settings.text_button_text_2 }} </a>
    </div>
{% endif %}    </div>
{% endif %}
                </div>
        {% endcase %}
{% endfor %}

</div>

</div><div class="certificat_component"><div id="w-node-_19fe24ce-b2b4-2ccd-0d16-191d59652a28-59652a1e" class="certificat_img-wrapper"><img loading="lazy" alt="{{ section.settings.image_image.alt }}" src="{{ section.settings.image_image | img_url: 'master' }}" class="certificat_img"}>
<img loading="lazy" alt="{{ section.settings.image_badge.alt }}" src="{{ section.settings.image_badge | img_url: 'master' }}" class="certificat_badge"}>
<div class="certificat_img-text">
{{ section.settings.text_bild_info_text }}
</div>
</div><div id="w-node-afd1998a-ddf2-3cf8-7149-210dd1578e2f-59652a1e"><div id="w-node-_19fe24ce-b2b4-2ccd-0d16-191d59652a2d-59652a1e" class="certificat_grid">{% for block in section.blocks %}
    {% if block.type == "logo-block" %}
                    <div x-data="{ popup{{ forloop.index }}: false }" li-block="Logo Block" id="w-node-_19fe24ce-b2b4-2ccd-0d16-191d59652a2e-59652a1e" class="certificat_item">
                                    <img loading="lazy" alt="{{ block.settings.image_logo.alt }}" src="{{ block.settings.image_logo | img_url: 'master' }}" class="certificat_grid-logo"}>

                                    <div id="w-node-_19fe24ce-b2b4-2ccd-0d16-191d59652a30-59652a1e" class="certificat_text" href="{{ block.settings.url_link }}"> <div id="w-node-_19fe24ce-b2b4-2ccd-0d16-191d59652a30-59652a1e" class="certificat_text" href="{{ block.settings.url_link }}"><div class="heading-style-h3">{{ block.settings.text_headline }}</div><p id="w-node-_19fe24ce-b2b4-2ccd-0d16-191d59652a33-59652a1e">{{ block.settings.text_text }}</p></div> </div>

                                    <div x-on:click="popup{{ forloop.index }} = true" id="w-node-_19fe24ce-b2b4-2ccd-0d16-191d59652a35-59652a1e" class="mehr-erfahren"><div>Mehr erfahren</div><img loading="lazy" src="{{ 'arrow-back.svg' | asset_url }}" alt="" class="mehr-erfahren-icon">
</div>
                                    <div x-bind:class="popup{{ forloop.index }} ? 'is-open' : ''" id="w-node-_1ea17e32-7e8f-5ceb-ebd0-2bfa19e2a5b7-19e2a5b7" class="certificat_popup"><div x-on:click="popup{{ forloop.index }} = false" class="certificat_big-close"></div><div class="certificat_popup-wrapper"><img src="{{ block.settings.image_logo | img_url: 'master' }}" loading="lazy" alt="{{ block.settings.image_logo.alt }}" class="certificate_popup-bild"}>
<div class="heading-style-h3">
{{ block.settings.text_headline }}
</div>
<div> {{ block.settings.richtext_richtext }} </div>
<div x-on:click="popup{{ forloop.index }} = false" class="certificat_close w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewbox="0 0 28 28" fill="none" preserveaspectratio="xMidYMid meet" aria-hidden="true" role="img"><mask id="mask0_7537_60964" style="mask-type:alpha" maskunits="userSpaceOnUse" x="0" y="0" width="28" height="28"><rect x="0.132812" y="0.133301" width="27.7333" height="27.7333" fill="#D9D9D9"></rect></mask><g mask="url(#mask0_7537_60964)"><path d="M7.52793 22.0855L5.91015 20.4677L12.3813 13.9966L5.91016 7.52549L7.52793 5.90771L13.999 12.3788L20.4702 5.90772L22.0879 7.52549L15.6168 13.9966L22.0879 20.4677L20.4702 22.0855L13.999 15.6144L7.52793 22.0855Z" fill="#1C1B1F"></path></g></svg></div></div></div>
                            </div>
            {% endif %}
{% endfor %}
<div id="w-node-_5d5c1c10-b5f6-4b5f-c54e-2a39010cc787-59652a1e" class="certificat_popup is-open hide"></div></div>{% if section.settings.text_button_text != blank or section.settings.text_button_text_2 != blank %}    <div li-if="section.settings.text_button_text != blank or section.settings.text_button_text_2 != blank" id="w-node-_646415cb-5361-ecd4-2e80-4b94cc580336-cc580336" class="button-group padding-top padding-small">
    {% if section.settings.text_button_text != blank %}    <div li-if="section.settings.text_button_text != blank" id="w-node-f50b8864-b770-3670-2cd2-0a3a2cd2ed87-cc580336">
    <a aria-label="{{ section.settings.text_button_text }}" id="w-node-_646415cb-5361-ecd4-2e80-4b94cc580337-cc580336" href="{{ section.settings.url_button_link }}" class="button w-button"> {{ section.settings.text_button_text }} </a>
    </div>
{% endif %}{% if section.settings.text_button_text_2 != blank %}    <div li-if="section.settings.text_button_text_2 != blank" id="w-node-bf33479f-2361-66f9-dba6-9cb9a97f87f3-cc580336">
    <a aria-label="{{ section.settings.text_button_text_2 }}" id="w-node-_646415cb-5361-ecd4-2e80-4b94cc580339-cc580336" href="{{ section.settings.url_button_link_2 }}" class="button is-secondary w-button"> {{ section.settings.text_button_text_2 }} </a>
    </div>
{% endif %}    </div>
{% endif %}</div></div></div></div>{% if section.settings.checkbox_pfeil == true %}
<div class="direction-holder"><img loading="lazy" src="{{ 'line-green.svg' | asset_url }}" alt="" class="direction-icon">
</div>{% endif %}
<div class="li-custom"><div class="li-custom w-embed"></div>
</div> {% schema %} {"tag":"section","name":"C - Zertifikate","class":"section_certificat","blocks":[{"type":"@app"},{"name":"Headline small","type":"headline-small","settings":[{"id":"text_headline_small","type":"text","label":"Headline small","default":"Wirksam gegen Kalk f\u00fcr maximale Effizienz"}]},{"name":"Headline","type":"headline","settings":[{"id":"text_headline","type":"text","label":"Headline","default":"Aqon Pure reduziert Kalkablagerungen in offenen und geschlossenen Wasserkreisl\u00e4ufen."}]},{"name":"Text","type":"text","settings":[{"id":"richtext_intro_text","type":"richtext","label":"Intro Text","default":"<p>AQON Pure reduziert Kalkablagerungen in offenen und geschlossenen Wasserkreisl\u00e4ufen. Dies sorgt f\u00fcr eine optimale Energieeffizienz und senkt Kosten f\u00fcr Wartung &amp; Instanthaltung<\/p>"}]},{"name":"Span Element","type":"span-element","settings":[{"id":"text_text","type":"text","label":"Text","default":"This is some text inside of a div block."},{"type":"select","id":"class","label":"Klasse","options":[{"value":"text-size-regular","label":"Text"},{"value":"heading-style-h2","label":"H2"},{"value":"heading-style-h3","label":"H3"},{"value":"heading-style-h4","label":"H4"},{"value":"heading-style-h5","label":"H5"}],"default":"text-size-regular"}]},{"name":"Buttons","type":"buttons","settings":[{"id":"text_button_text","type":"text","label":"Button Text","default":"Mehr erfahren"},{"id":"url_button_link","type":"url","label":"Button Link"},{"id":"text_button_text_2","type":"text","label":"Button Text 2","default":"Mehr erfahren"},{"id":"url_button_link_2","type":"url","label":"Button Link 2"}]},{"name":"Logo Block","type":"logo-block","settings":[{"id":"image_logo","type":"image_picker","label":"Logo"},{"id":"url_link","type":"url","label":"Link"},{"id":"text_headline","type":"text","label":"Headline","default":"General Service Administration"},{"id":"text_text","type":"text","label":"Text","default":"AQON PURE verwendet die Fluid Dynamics Kalkschutztechnologie 2012 beauftragte die General Services Administration das Oak Ridge National Laboratory."},{"id":"richtext_richtext","type":"richtext","label":"Richtext","default":"<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.<\/p>"}]}],"settings":[{"id":"image_image","type":"image_picker","label":"Image"},{"id":"image_badge","type":"image_picker","label":"Badge"},{"id":"text_bild_info_text","type":"text","label":"Bild - Info Text","default":"Foto: Ranga Yogeshwar \u00fcberreicht TOP 100 Innovationspreis an AQON PURE Gesch\u00e4ftsf\u00fchrer Maximilian und Konstantin Wilk. Der TOP 100 Award zeichnet das Innovationsmanagement von Unternehmen aus. Ranga Yogeshwar begleitet den TOP 100 Wettbewerb als Mentor."},{"id":"text_button_text","type":"text","label":"Button Text","default":"Mehr erfahren"},{"id":"url_button_link","type":"url","label":"Button Link"},{"id":"text_button_text_2","type":"text","label":"Button Text 2","default":"Mehr erfahren"},{"id":"url_button_link_2","type":"url","label":"Button Link 2"},{"id":"checkbox_pfeil","type":"checkbox","label":"Pfeil","default":true},{"type":"select","id":"background_color","label":"Hintergrund Farbe","options":[{"value":"","label":"Wei\u00df"},{"value":"background-color-light-blue","label":"Hellblau"}],"default":""}],"presets":[{"name":"C - Zertifikate","category":"Liquify"}]} {% endschema %}