<div class="padding-global"><div class="container-large"><div class="product_component"><div id="w-node-_592c312c-1a6d-b69e-0978-d735a815fa34-a815fa30" class="product_heading-wrapper text-color-primary"><div class="product_heading"><div class="max-width-large"><h2 class="heading-style-h4 text-color-black">
{{ section.settings.text_headline }}
</h2>
</div></div><div class="product_button-row hide-mobile-landscape"><a class="button-link w-inline-block" href="{{ section.settings.url_link_url }}"> <div class="button-link_inner"><div class="text-size-regular text-weight-semibold">{{ section.settings.text_link_text }}</div><div class="icon-embed-xsmall no-width w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewbox="0 0 9 25" fill="none" preserveaspectratio="xMidYMid meet" aria-hidden="true" role="img"><path d="M8.66993 12.2525C8.82942 12.412 8.82942 12.6707 8.66993 12.8302L6.07003 15.4301C5.91049 15.5896 5.65183 15.5896 5.49229 15.4301C5.33274 15.2705 5.33274 15.0119 5.49229 14.8523L7.80327 12.5413L5.49229 10.2304C5.33274 10.0708 5.33274 9.81216 5.49229 9.65261C5.65183 9.49307 5.91049 9.49307 6.07003 9.65261L8.66993 12.2525ZM0.210449 12.1328H8.38102V12.9499H0.210449L0.210449 12.1328Z" fill="currentColor"></path></svg></div></div><div class="button-link_underline"></div> </a>
</div></div><div class="product_component-main">{% for block in section.blocks %}
    {% if block.type == "categories" %}
                    <div li-block="Categories" id="w-node-_592c312c-1a6d-b69e-0978-d735a815fa41-a815fa30" class="product_component-item">
                                    <div class="product_component-content"><div class="product_component-inner-wrapper"><div class="product_component-content-inner"><h4 class="heading-style-h4 is-animated">
{{ block.settings.text_category_name }}
</h4>
<div class="text-size-regular hide-mobile-portrait">
{{ block.settings.text_quantity }}
</div>
</div><h6 class="heading-style-h6 hide-mobile-portrait">
{{ block.settings.text_subheadline }}
</h6>
</div><div class="nav_circle"><div class="icon_category w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewbox="0 0 24 25" fill="none" preserveaspectratio="xMidYMid meet" aria-hidden="true" role="img"><path d="M16.1699 12.2525C16.3294 12.412 16.3294 12.6707 16.1699 12.8302L13.57 15.4301C13.4105 15.5896 13.1518 15.5896 12.9923 15.4301C12.8327 15.2705 12.8327 15.0119 12.9923 14.8523L15.3033 12.5413L12.9923 10.2304C12.8327 10.0708 12.8327 9.81216 12.9923 9.65261C13.1518 9.49307 13.4105 9.49307 13.57 9.65261L16.1699 12.2525ZM7.71045 12.1328H15.881V12.9499H7.71045L7.71045 12.1328Z" fill="var(--base-color-neutral--black)"></path></svg></div><div class="nav_circle-inner"></div></div></div>
                                    <img class="product_component-img"
     src="{{ block.settings.image_image | img_url: 'master' }}"
     alt="{{ block.settings.image_image.alt }}"
     loading="lazy">

                                    <a class="product_component-content-link w-inline-block" href="{{ block.settings.url_link }}"> </a>

                            </div>
            {% endif %}
{% endfor %}
</div></div></div></div> {% schema %} {"tag":"section","name":"categories_home","class":"section_categories background-color-standard-grey text-color-white","blocks":[{"name":"Categories","type":"categories","settings":[{"id":"text_category_name","type":"text","label":"Category Name","default":"Bands"},{"id":"text_quantity","type":"text","label":"Quantity","default":"8"},{"id":"text_subheadline","type":"text","label":"Subheadline","default":"Heading"},{"id":"image_image","type":"image_picker","label":"Image"},{"id":"url_link","type":"url","label":"Link"}]}],"settings":[{"id":"text_headline","type":"text","label":"Headline","default":"Our Categories"},{"id":"url_link_url","type":"url","label":"Link Url"},{"id":"text_link_text","type":"text","label":"Link Text","default":"Show all categories"}],"presets":[{"name":"categories_home","category":"Liquify"}]} {% endschema %}