<div class="padding-global padding-section-medium"><div class="container-large text-color-white"><div class="tabs_wrapper"><div class="header_headline-wrapper"><h2 class="heading-style-h2">
{{ section.settings.text_headline }}
</h2>
</div><div class="spacer-small"></div><p class="text-size-regular max-width-small"> {{ section.settings.textarea_text }} </p>
<div class="spacer-medium"></div>{% if section.settings.url_button_link %}    <div li-if="section.settings.url_button_link" class="button-group">
    <a href="{{ section.settings.url_button_link }}" class="button is-white w-button"> {{ section.settings.text_button_text }} </a>
{% if section.settings.url_button_link_2 %}    <div li-if="section.settings.url_button_link_2">
    <a href="{{ section.settings.url_button_link_2 }}" class="button is-secondary is-white w-button"> {{ section.settings.text_button_text_2 }} </a>
    </div>
{% endif %}    </div>
{% endif %}</div></div></div><div class="content_background-image-wrapper"><div class="image-overlay-layer"></div><img src="{{ section.settings.image_bild | img_url: 'master' }}" loading="eager" alt="{{ section.settings.image_bild.alt }}" class="content_background-image">
</div> {% schema %} {"tag":"section","name":"Content-Image","class":"section_content","settings":[{"id":"text_headline","type":"text","label":"Headline","default":"Medium length heading goes here"},{"id":"textarea_text","type":"textarea","label":"Text","default":"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique."},{"id":"url_button_link","type":"url","label":"Button-Link"},{"id":"text_button_text","type":"text","label":"Button-Text","default":"Button"},{"id":"url_button_link_2","type":"url","label":"Button-Link-2"},{"id":"text_button_text_2","type":"text","label":"Button-Text-2","default":"Button"},{"id":"image_bild","type":"image_picker","label":"Bild"}],"presets":[{"name":"Content-Image","category":"Liquify","blocks":[]}]} {% endschema %}