<div class="page-padding"><div class="container-large"><div class="swiper-container"><div class="swiper is-gastkritiker"><div class="swiper-wrapper is-gastkritiker">{% for block in section.blocks %}
    {% if block.type == "kritiker" %}
                    <div li-block="Kritiker" class="swiper-slide is-gastkritiker">
                                    <div class="featured-product_wrapper"><div id="w-node-d5033e15-836e-2d62-8955-7d8f7e6bd578-6ff8b4f8" class="content-grid is-featured-product"><div><div class="subline">
{{ block.settings.text_subline }}
</div>
<h2 class="heading-style-h2">
{{ block.settings.text_headline }}
</h2>
</div><p id="w-node-d5033e15-836e-2d62-8955-7d8f7e6bd580-6ff8b4f8" class="text-size-regular max-width-large is-gastriktiker">
{{ block.settings.text_text }}
</p>
<div id="w-node-d5033e15-836e-2d62-8955-7d8f7e6bd582-6ff8b4f8" class="featured-product_button"><div class="heading-large is-price text-color-gold">
{{ block.settings.text_preis }}
</div>
<div class="product-kachel_indicator-wrapper is-hero"><img src="{{ 'Group-143725237.svg' | asset_url }}" loading="lazy" alt="" class="product-kachel_indicator-circle">
<div class="product-kachel_hinweis">
{{ block.settings.text_hinweis }}
</div>
</div></div><div id="w-node-d5033e15-836e-2d62-8955-7d8f7e6bd58d-6ff8b4f8" class="cta-wrapper"><a class="button w-button" href="{{ block.settings.url_button_link }}"> {{ block.settings.text_button_text }} </a>
</div></div><div id="w-node-d5033e15-836e-2d62-8955-7d8f7e6bd590-6ff8b4f8" class="slider-hero_bottle-wrapper"><img class="slider-hero_bottles is-kritiker"
     src="{{ block.settings.image_flaschenbild | img_url: 'master' }}"
     alt="{{ block.settings.image_flaschenbild.alt }}"
     loading="lazy">
</div><div id="w-node-d5033e15-836e-2d62-8955-7d8f7e6bd592-6ff8b4f8" class="featured-product_bg"><img class="featured-product_image-kritiker"
     src="{{ block.settings.image_bild | img_url: 'master' }}"
     alt="{{ block.settings.image_bild.alt }}"
     loading="lazy">
<img class="featured-product_image-portrait"
     src="{{ block.settings.image_kritiker | img_url: 'master' }}"
     alt="{{ block.settings.image_kritiker.alt }}"
     loading="lazy">
</div></div>
                            </div>
            {% endif %}
{% endfor %}
</div></div><div liquid:if="settings.block.set != empty" class="swiper_button-wrapper is-kritiker"><a href="#" class="swiper_button swiper-prev w-inline-block"><div class="swiper-arrow is-black w-embed"><svg width="100%" height="100%" viewbox="0 0 8 11" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.00006 10.4999L1 5.5L7.00006 0.500061" stroke="currentColor"></path></svg></div></a><a href="#" class="swiper_button swiper-next w-inline-block"><div class="swiper-arrow is-rotate is-black w-embed"><svg width="100%" height="100%" viewbox="0 0 8 11" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.00006 10.4999L1 5.5L7.00006 0.500061" stroke="currentColor"></path></svg></div></a></div><div class="hide w-embed w-script">{% if section.settings.checkbox_swiper_script == true %}
<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>{% endif %}
<script>document.addEventListener('DOMContentLoaded', function () {
    $(".swiper-container").each(function (index) {
      const swiper{{section.index}} = new Swiper($(this).find(".swiper.is-gastkritiker")[0], {
        loop: true,
        autoHeight: false,
        followFinger: true,
        freeMode: false,
        slideToClickedSlide: false,
        slidesPerView: 'auto',
        rewind: false,
        mousewheel: {
          forceToAxis: true
        },
        keyboard: {
          enabled: true,
          onlyInViewport: true
        },
        navigation: {
          nextEl: $(this).find(".swiper-next")[0],
          prevEl: $(this).find(".swiper-prev")[0],
          disabledClass: "is-disabled"
        },
        slideActiveClass: "is-active",
        slideDuplicateActiveClass: "is-active"
      });
    });
  });
</script></div></div></div></div> {% schema %} {"tag":"section","name":"featured_gastkritike","class":"section_featured-kritik","blocks":[{"name":"Kritiker","type":"kritiker","settings":[{"id":"text_subline","type":"text","label":"subline","default":"Vioneers Gastkritiker"},{"id":"text_headline","type":"text","label":"Headline","default":"Leidenschaftlich <br\/>entdeckte Premiumweine."},{"id":"text_text","type":"text","label":"Text","default":"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius "},{"id":"text_preis","type":"text","label":"Preis","default":"18,00\u20ac"},{"id":"text_hinweis","type":"text","label":"Hinweis","default":"Direkt lieferbar und versandbereit.<br\/>Lieferzeit <strong>2-3 Werktage<\/strong>"},{"id":"text_button_text","type":"text","label":"Button Text","default":"Zum Wein"},{"id":"url_button_link","type":"url","label":"Button Link"},{"id":"image_flaschenbild","type":"image_picker","label":"Flaschenbild"},{"id":"image_bild","type":"image_picker","label":"Bild"},{"id":"image_kritiker","type":"image_picker","label":"Kritiker"}]}],"settings":[{"id":"checkbox_swiper_script","type":"checkbox","label":"Swiper-Script","default":true}],"presets":[{"name":"featured_gastkritike","category":"Liquify"}]} {% endschema %}