<div class="padding-global"><div class="container-large"><div class="footer_facts-grid">{% for block in section.blocks %}
    {% if block.type == "facts" %}
                    <div li-block="Facts" class="footer_facts-item">
                                    <a option:url="fact-link-1" href="#" class="footer_facts heading-medium w-inline-block"><img src="{{ 'Group-51.svg' | asset_url }}" loading="lazy" alt="" class="footer_facts-icon">
<div option:text="fact-1">1% for the Planet</div></a>
                            </div>
            {% endif %}
{% endfor %}
</div></div></div><div class="footer_trennlinie"></div><div class="padding-global padding-section-small"><div class="container-large"><div class="footer_member-wrapper"><div class="footer_link-grid">{% for link in linklists['footer'].links %}    <div li-for="link in linklists['footer'].links" class="footer_link-list">
                                    
                            <div li-object="link.title" class="text-weight-semibold text-style-allcaps">{{ link.title }}</div>
                            
                            <div class="spacer-xxsmall"></div>
                            
                            {% for child_link in link.links %}    <div li-for="child_link in link.links">
                                    
                            <a li-object:href="child_link.url" li-object="child_link.title" href="{{ child_link.url }}" class="text-size-small">{{ child_link.title }}</a>
                            
                        </div>
{% endfor %}
                            
                        </div>
{% endfor %}</div><div id="w-node-_946c4dcd-3bf7-2b09-3073-715a0eb0badd-cf39daf1" class="footer_member"><h2 class="heading-style-h2 text-color-white">
{{ section.settings.text_newsletter_headline }}
</h2>
<div class="footer_newsletter-acts">{% for block in section.blocks %}
    {% if block.type == "newsletter-facts" %}
                    <div li-block="Newsletter-Facts" class="footer_facts-item">
                                    <a option:url="fact-link-1" href="#" class="footer_facts heading-medium w-inline-block"><img src="{{ 'Group-51.svg' | asset_url }}" loading="lazy" alt="" class="footer_facts-icon">
<div option:text="fact-1">1% for the Planet</div></a>
                            </div>
            {% endif %}
{% endfor %}
</div><a class="button is-white w-button" href="{{ section.settings.url_button_link }}"> {{ section.settings.text_button_text }} </a>
</div></div></div></div><div class="footer_trennlinie"></div><div class="padding-global padding-section-xxsmall"><div class="container-large"><div class="footer_grid-payment"><div class="payment-wrapper"><div class="text-size-regular text-color-white">Delivery</div><div class="payment-icons">{% for block in section.blocks %}
    {% if block.type == "lieferung-icon" %}
                    <div li-block="Lieferung-icon">
                                    <div><img class="footer_payment-icon"
     src="{{ block.settings.image_icon | img_url: 'master' }}"
     alt="{{ block.settings.image_icon.alt }}"
     loading="lazy">
</div>
                            </div>
            {% endif %}
{% endfor %}
</div></div><div id="w-node-_946c4dcd-3bf7-2b09-3073-715a0eb0baf2-cf39daf1" class="payment-wrapper"><div class="text-size-regular text-color-white">Payment Method</div><ul role="list" class="footer_payment-list w-list-unstyled">{% for type in shop.enabled_payment_types %}    <li li-for="type in shop.enabled_payment_types">
                                    
                            <div li-object="type | payment_type_svg_tag: class: 'footer_payment-img icon--full-color'">{{ type | payment_type_svg_tag: class: 'footer_payment-img icon--full-color' }}</div>
                            
                        </li>
{% endfor %}</ul></div><div class="payment-wrapper"><div class="text-size-regular text-color-white">Social Media</div><div class="payment-icons is-social">{% for block in section.blocks %}
    {% if block.type == "social-media" %}
                    <div li-block="Social-media">
                                    <a class="w-inline-block" href="{{ block.settings.url_social_link }}"> <img class="footer_social-icon" src="{{ block.settings.image_social_icon | img_url: 'master' }}" alt="{{ block.settings.image_social_icon.alt }}" loading="lazy"> </a>

                            </div>
            {% endif %}
{% endfor %}
</div></div></div></div></div><div class="footer_trennlinie"></div><div class="padding-global padding-section-xxsmall"><div class="container-large"><div class="footer_grid-payment is-inprint"><a href="{{ routes.root_url }}" li-object:href="routes.root_url" class="w-inline-block"><div class="footer_logo w-embed"><svg width="100%" height="100%" viewbox="0 0 176 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0_641_3115)"><path d="M9.70004 1.39V0.150002C7.90402 0.470826 6.20696 1.20409 4.74241 2.29208C3.27787 3.38008 2.08581 4.79312 1.26004 6.42C0.581456 7.76541 0.167303 9.22853 0.0400391 10.73C3.19004 8.1 8.53004 3.63 8.97004 3.24C9.21902 3.00334 9.41335 2.71519 9.53943 2.39565C9.66552 2.07612 9.72033 1.73291 9.70004 1.39ZM14.58 7.24C14.9835 6.90471 15.3521 6.52947 15.68 6.12C16.1583 5.44119 16.4134 4.63036 16.41 3.8C16.41 3.8 16.41 3.74 16.41 3.71V1.23C16.413 1.14461 16.3921 1.06009 16.3497 0.985909C16.3073 0.911726 16.2451 0.850809 16.17 0.809998C15.1365 0.390447 14.0493 0.117799 12.94 0V2.53C12.9532 2.99875 12.8602 3.46442 12.668 3.89215C12.4758 4.31988 12.1893 4.69862 11.83 5L2.83004 12.54C2.01337 13.2251 1.4774 14.1868 1.32433 15.2417C1.17125 16.2967 1.41178 17.371 2.00004 18.26C2.23004 18.6 2.48004 18.93 2.74004 19.26C3.07798 19.6635 3.4421 20.0443 3.83004 20.4V18.26C3.83317 17.6173 3.97611 16.983 4.24895 16.401C4.52178 15.8191 4.91798 15.3035 5.41004 14.89L14.22 7.5L14.58 7.24ZM23.41 12.65C20.27 15.28 14.93 19.75 14.49 20.14C14.2377 20.3772 14.04 20.6664 13.9105 20.9875C13.781 21.3087 13.7228 21.6541 13.74 22V23.24C15.7657 22.8763 17.6615 21.9905 19.24 20.67C20.4714 19.6634 21.4823 18.4142 22.21 17C22.8987 15.6585 23.3135 14.1934 23.43 12.69C23.43 12.69 23.43 12.66 23.41 12.65ZM21.47 5.13C21.2405 4.78177 20.9901 4.44782 20.72 4.13C20.3812 3.72724 20.0135 3.34959 19.62 3V5.1C19.617 5.74373 19.4731 6.37899 19.1985 6.96118C18.9238 7.54337 18.525 8.05837 18.03 8.47C18.03 8.47 9.31004 15.79 9.23004 15.87L8.92004 16.13C8.51655 16.4653 8.14801 16.8405 7.82004 17.25C7.33825 17.9276 7.07959 18.7386 7.08004 19.57V22.12C7.0759 22.2056 7.09629 22.2906 7.1388 22.365C7.18132 22.4394 7.2442 22.5001 7.32004 22.54C8.35333 22.9622 9.44047 23.2382 10.55 23.36V20.82C10.5455 20.3574 10.6436 19.8995 10.8373 19.4793C11.031 19.0591 11.3154 18.6871 11.67 18.39L20.67 10.86C21.4846 10.1704 22.0165 9.20479 22.1641 8.14775C22.3117 7.09071 22.0646 6.01635 21.47 5.13Z" fill="currentColor"></path><path d="M46.7505 4.34009H49.5605V19.0001H46.7505V13.0001H41.2905V19.0001H38.4805V4.34009H41.2905V10.2201H46.7505V4.34009Z" fill="currentColor"></path><path d="M57.1998 10.2201H63.3398V13.0001H57.1998V16.2401H63.3398V19.0001H54.3398V4.34009H63.3398V7.14009H57.1998V10.2201Z" fill="currentColor"></path><path d="M70.6401 19.0001H67.8301V4.34009H70.6401V19.0001Z" fill="currentColor"></path><path d="M80.8297 15.0901L78.2597 9.80009V19.0001H75.4697V4.34009H78.2797L81.9197 11.9001L85.5497 4.34009H88.3597V19.0001H85.5697V9.80009L83.0297 15.0901H80.8297Z" fill="currentColor"></path><path d="M96.0004 19.0001H93.1904V4.34009H99.1904C100.503 4.39824 101.742 4.96044 102.65 5.90958C103.558 6.85871 104.065 8.12157 104.065 9.43509C104.065 10.7486 103.558 12.0115 102.65 12.9606C101.742 13.9097 100.503 14.4719 99.1904 14.5301H96.0004V19.0001ZM99.1904 11.6901C99.7729 11.6516 100.319 11.3931 100.718 10.9669C101.117 10.5408 101.339 9.97885 101.339 9.39509C101.339 8.81133 101.117 8.24941 100.718 7.82325C100.319 7.39709 99.7729 7.13856 99.1904 7.10009H96.0004V11.6901H99.1904Z" fill="currentColor"></path><path d="M110.83 16.2501H116.96V19.0001H107.96V4.34009H110.83V16.2501Z" fill="currentColor"></path><path d="M123.44 16.0799L122.39 19.0799H119.45L124.7 4.37988H127.39L132.64 18.9999H129.7L128.65 15.9999L123.44 16.0799ZM126.05 8.64989L124.41 13.4099H127.68L126.05 8.64989Z" fill="currentColor"></path><path d="M147.17 19.0001H144.35L138.9 9.53009V19.0001H136.08V4.34009H138.9L144.35 13.8101V4.34009H147.17V19.0001Z" fill="currentColor"></path><path d="M154.83 10.2201H160.96V13.0001H154.83V16.2401H160.96V19.0001H152.02V4.34009H160.96V7.14009H154.83V10.2201Z" fill="currentColor"></path><path d="M171.04 7.14009V19.0001H168.14V7.14009H164.05V4.34009H175.13V7.14009H171.04Z" fill="currentColor"></path></g><defs><clippath id="clip0_641_3115"><rect width="175.13" height="23.39" fill="white"></rect></clippath></defs></svg></div></a><div id="w-node-_946c4dcd-3bf7-2b09-3073-715a0eb0bb05-cf39daf1" class="inprint-links is-inprint">{% for link in linklists['legal'].links %}    <div li-for="link in linklists['legal'].links">
                                    
                            <a li-object="link.title" li-object:href="link.url" href="{{ link.url }}" class="text-size-small text-color-grey">{{ link.title }}</a>
                            
                        </div>
{% endfor %}<a id="privacy-settings" href="#" class="text-size-small text-color-white hide">Cookies</a></div><div class="wg-element-wrapper sw7 hide"><div data-hover="true" data-delay="500" class="wg-dropdown-2 w-dropdown"><div lang="de" class="language-selector w-dropdown-toggle"><div>Deutsch</div><img src="https://uploads-ssl.webflow.com/613f2f905ede8d670775fc8a/61548248f37f3a0faab19498_arrow-drop.svg" loading="lazy" alt="" class="dropdown-aarow">
</div><nav class="wg-dd-2-list w-dropdown-list"><a href="#" lang="en" class="wg-dropdown-2-link w-dropdown-link">English</a></nav></div></div></div></div></div> {% schema %} {"tag":"footer","name":"footer","class":"section_footer","blocks":[{"name":"Facts","type":"facts","settings":null},{"name":"Newsletter-Facts","type":"newsletter-facts","settings":null},{"name":"Lieferung-icon","type":"lieferung-icon","settings":[{"id":"image_icon","type":"image_picker","label":"icon"}]},{"name":"Social-media","type":"social-media","settings":[{"id":"url_social_link","type":"url","label":"Social-link"},{"id":"image_social_icon","type":"image_picker","label":"social-icon"}]}],"settings":[{"id":"text_newsletter_headline","type":"text","label":"Newsletter-Headline","default":"Become a Member of the Heimplanet Community and get awesome benefits"},{"id":"url_button_link","type":"url","label":"Button-Link"},{"id":"text_button_text","type":"text","label":"Button-Text","default":"Button"}],"presets":[{"name":"footer","category":"Liquify"}]} {% endschema %}