<div class="f-newsletter"><section class="page-padding"><div class="container-large"><div class="f-newsletter-grid"><div id="w-node-_765428d9-39b0-2227-c78a-f38cffc56798-cf39daf1" class="form-block w-form"><h2 class="heading-style-h2 text-color-white">
{{ section.settings.text_headline_newsletter }}
</h2>
<div class="spacer-small"></div>{% form 'customer', return_to: '/pages/newsletter-vielen-dank', class: 'f-form' %}
<div class="newsletter-input"><label for="contact[email]" class="label-newlstter clickable-off">E-Mail Adresse eingeben und 5 EUR sparen</label><input class="input-newsletter w-input" maxlength="256" name="contact[email]" data-name="contact[email]" placeholder="" type="email" id="contact[email]" required="">
</div><label class="w-checkbox check-newsletter"><div class="w-checkbox-input w-checkbox-input--inputType-custom newsletter_checkbox"></div><input type="checkbox" name="contact[accepts_marketing]" id="contact[accepts_marketing]" data-name="contact[accepts_marketing]" required="" style="opacity:0;position:absolute;z-index:-1">
<span class="w-form-label" for="contact[accepts_marketing]">Mit der Anmeldung zum Newsletter akzeptierst du die <a href="/pages/datenschutz" class="newlstter_link">Datenschutzbestimmungen</a>.</span></label><input type="submit" data-wait="Bitte warten" class="button is-white w-button" value="Anmelden">
{% endform %}
<div class="w-form-done"><div>Thank you! Your submission has been received!</div></div><div class="login_hinweis-kachel is-black w-form-fail"><div>Oops! Something went wrong while submitting the form.</div></div></div><div id="w-node-_765428d9-39b0-2227-c78a-f38cffc567af-cf39daf1" class="newsletter_right"><h2 class="heading-style-h2 text-color-white">
{{ section.settings.text_headline_kontakt }}
</h2>
<div class="newsletter_buttons">{% for block in section.blocks %}
    {% if block.type == "support" %}
                    <div li-block="Support" class="newsletter_button">
                                    <a class="button is-outline is-white w-button" href="{{ block.settings.url_button_link }}"> {{ block.settings.text_button_text }} </a>

                            </div>
            {% endif %}
{% endfor %}
</div></div></div></div></section></div><div class="f-badges"><section class="page-padding"><div class="container-large"><div class="badges_grid">{% for block in section.blocks %}
    {% if block.type == "value" %}
                    <div li-block="Value" id="w-node-_765428d9-39b0-2227-c78a-f38cffc567ba-cf39daf1" class="badges_item">
                                    <img class="badges_icon"
     src="{{ block.settings.image_bild | img_url: 'master' }}"
     alt="{{ block.settings.image_bild.alt }}"
     loading="lazy">

                                    <h3 class="heading-style-h3 text-color-white">
{{ block.settings.text_headline }}
</h3>

                                    <p class="text-size-small text-color-white"> {{ block.settings.textarea_textfeld }} </p>

                                    <a class="badges_link" href="{{ block.settings.url_link_url }}"> {{ block.settings.text_link_text }} </a>

                            </div>
            {% endif %}
{% endfor %}
</div></div></section></div><div class="f-sitemap"><section class="page-padding"><div class="container-large"><div class="sitemap_wrapper"><ul id="w-node-_765428d9-39b0-2227-c78a-f38cffc567c6-cf39daf1" role="list" class="sitemap_grid w-list-unstyled">{% for link in linklists['footer'].links %}    <li li-for="link in linklists['footer'].links" class="sitemap_item">
                                    <div class="footer-dropdown"><h4 li-object="link.title" class="subline footer-link">{{ link.title }}</h4><img src="{{ 'Rectangle-130.svg' | asset_url }}" loading="lazy" alt="" class="nav-icon">
</div>
                            {% if link.links.size > 0 %}    <ul li-if="link.links.size > 0" role="list" class="list-parent">
    {% for child_link in link.links %}    <li li-for="child_link in link.links" class="sitemap-child">
                                    <a href="{{ child_link.url }}" li-object:href="child_link.url" li-object="child_link.title" class="sitemap_link">{{ child_link.title }}</a>
                        </li>
{% endfor %}    </ul>
{% endif %}
                        </li>
{% endfor %}</ul><div id="w-node-_765428d9-39b0-2227-c78a-f38cffc567d0-cf39daf1" class="sitemap_kontakt"><h4 class="heading-style-h3 text-color-gold">
{{ section.settings.text_headline }}
</h4>
<div class="sitemap_info is-first"><div id="w-node-_765428d9-39b0-2227-c78a-f38cffc567d4-cf39daf1" class="text-size-regular text-color-white">Telefon:</div><div id="w-node-_765428d9-39b0-2227-c78a-f38cffc567d6-cf39daf1" class="sitemap_info-text"><div class="text-size-regular text-color-white">
{{ section.settings.text_telefon }}
</div>
<div class="text-size-regular text-color-white">
{{ section.settings.text_oeffnungszeiten_tage }}
</div>
<div class="text-size-regular text-color-white">
{{ section.settings.text_oeffnungszeiten_uhrzeit }}
</div>
</div></div><div class="sitemap_info"><div id="w-node-_765428d9-39b0-2227-c78a-f38cffc567de-cf39daf1" class="text-size-regular text-color-white">E-Mail:</div><div class="text-size-regular text-color-white">
{{ section.settings.text_email }}
</div>
</div><a class="button is-white is-100 w-button" href="{{ section.settings.url_button_support }}"> {{ section.settings.text_button_support }} </a>
</div><div id="w-node-_765428d9-39b0-2227-c78a-f38cffc567e4-cf39daf1" class="sitemap_kontakt"><h4 class="heading-style-h3 text-color-gold">
{{ section.settings.text_headline_2 }}
</h4>
<div class="sitemap_info is-first"><div id="w-node-_765428d9-39b0-2227-c78a-f38cffc567e8-cf39daf1" class="text-size-regular text-color-white"> {{ section.settings.textarea_winespot_text }} </div>
</div><div class="sitemap_info is-first"><div id="w-node-_765428d9-39b0-2227-c78a-f38cffc567ef-cf39daf1" class="text-size-regular text-color-white">E-Mail:</div><div class="text-size-regular text-color-white">
{{ section.settings.text_email_2 }}
</div>
<div id="w-node-_765428d9-39b0-2227-c78a-f38cffc567f3-cf39daf1" class="text-size-regular text-color-white">Telefon:</div><div class="text-size-regular text-color-white">
{{ section.settings.text_telefon_2 }}
</div>
</div></div></div></div></section></div><div class="f-icons"><div class="page-padding"><div class="container-large"><div class="sitemap_trust-grid">{% for block in section.blocks %}
    {% if block.type == "logo" %}
                    <div li-block="Logo">
                                    <a class="trust-link w-inline-block" href="{{ block.settings.url_link }}"> <img class="sitemap_trust-image" src="{{ block.settings.image_logo | img_url: 'master' }}" alt="{{ block.settings.image_logo.alt }}" loading="lazy"> </a>

                            </div>
            {% endif %}
{% endfor %}
</div></div></div></div><div class="f-icons"><div class="page-padding"><div class="container-large"><div class="footer-grid-payment is-logos"><div class="payment-wrapper"><div class="subline">
{{ section.settings.text_lieferung }}
</div>
<div class="payment-icons">{% for block in section.blocks %}
    {% if block.type == "lieferung-icon" %}
                    <div li-block="lieferung-icon">
                                    <img class="payment-icon paketdienst"
     src="{{ block.settings.image_icon | img_url: 'master' }}"
     alt="{{ block.settings.image_icon.alt }}"
     loading="lazy">

                            </div>
            {% endif %}
{% endfor %}
</div></div><div id="w-node-_765428d9-39b0-2227-c78a-f38cffc56808-cf39daf1" class="payment-wrapper"><div class="subline">
{{ section.settings.text_zahlung }}
</div>
<ul role="list" class="footer_payment-list w-list-unstyled">{% for type in shop.enabled_payment_types %}    <li li-for="type in shop.enabled_payment_types">
                                    <div li-object="type | payment_type_svg_tag: class: 'footer_payment-img icon--full-color'">{{ type | payment_type_svg_tag: class: 'footer_payment-img icon--full-color' }}</div>
                        </li>
{% endfor %}</ul></div><div class="payment-wrapper"><div class="subline">
{{ section.settings.text_social_media }}
</div>
<div class="payment-icons is--social">{% for block in section.blocks %}
    {% if block.type == "social-media" %}
                    <div li-block="social-media">
                                    <a class="w-inline-block" href="{{ block.settings.url_social_link }}"> <img class="social-icon" src="{{ block.settings.image_social_icon | img_url: 'master' }}" alt="{{ block.settings.image_social_icon.alt }}" loading="lazy"> </a>

                            </div>
            {% endif %}
{% endfor %}
</div></div></div></div></div></div><div class="f-legal"><div class="page-padding"><div class="container-large"><div class="footer-grid-payment"><div class="wg-element-wrapper sw7 hide"><div data-hover="true" data-delay="500" class="wg-dropdown-2 w-dropdown"><div lang="de" class="language-selector w-dropdown-toggle"><div>Deutsch</div></div><nav class="wg-dd-2-list w-dropdown-list"></nav></div></div><div id="w-node-_765428d9-39b0-2227-c78a-f38cffc5681f-cf39daf1" class="inprint-links">{% for link in linklists['footer-legal'].links %}    <div li-for="link in linklists['footer-legal'].links" class="inprint-link">
                                    <a li-object="link.title" li-object:href="link.url" href="{{ link.url }}" class="text-size-small text-color-white">{{ link.title }}</a>
                        </div>
{% endfor %}<a id="privacy-settings" href="#" class="inprint-link">Cookies</a></div><a id="w-node-_765428d9-39b0-2227-c78a-f38cffc56824-cf39daf1" href="#top" class="legal_btt w-inline-block"><div>Back to top</div><div class="legal_arrow w-embed"><svg viewbox="0 0 8 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4.35355 0.646447C4.15829 0.451184 3.84171 0.451184 3.64645 0.646447L0.464466 3.82843C0.269204 4.02369 0.269204 4.34027 0.464466 4.53553C0.659728 4.7308 0.976311 4.7308 1.17157 4.53553L4 1.70711L6.82843 4.53553C7.02369 4.7308 7.34027 4.7308 7.53553 4.53553C7.7308 4.34027 7.7308 4.02369 7.53553 3.82843L4.35355 0.646447ZM4.5 10L4.5 1L3.5 1L3.5 10L4.5 10Z" fill="currentColor"></path></svg></div></a></div></div></div></div><div class="f-logo"><a href="#" class="footer_logo-link w-inline-block"><img class="footer_logo"
     src="{{ section.settings.image_footer_logo | img_url: 'master' }}"
     alt="{{ section.settings.image_footer_logo.alt }}"
     loading="lazy">
</a></div><div class="hide w-embed w-script"><script type="text/javascript">var iwish_shop = "{{ shop.permanent_domain }}";
	var iwish_pro_template = {% if template contains 'product' %}true{% else %}false{% endif %};
	var iwish_cid = " {{ customer.id }}"; //Add to Wishlist - Product Page Text var iwish_added_txt='<img style="width:100%;height:100%;" src="https://cdn.shopify.com/s/files/1/0623/3771/2363/files/checked.svg?v=1663086660"/>' ; var iwish_add_txt='<img style="width:100%;height:100%;" src="https://cdn.shopify.com/s/files/1/0623/3771/2363/files/unchecked.svg?v=1663086660"/>' ; //Add to Wishlist - Collection Page Text var iwish_added_txt_col='<img style="width:100%;height:100%;" src="https://cdn.shopify.com/s/files/1/0623/3771/2363/files/checked.svg?v=1663086660"/>' ; var iwish_add_txt_col='<img style="width:100%;height:100%;" src="https://cdn.shopify.com/s/files/1/0623/3771/2363/files/unchecked.svg?v=1663086660"/>' ; //Quick View - Classes //var iwish_qvButton='.quick_view' ; //var iwish_qvWrapper='.reveal-modal' ; //var iWishSelectClass='.' ; function iWishRemoveFn(){iWishCounter()}function iWishCounter(){0==iWishCnt?jQuery(".wishlist-counter").hide():jQuery(".wishlist-counter").show()} </script><script type="text/javascript">(function(){
function iWishLoadScript(e,t){for(var a=0;a<e.length;a++){var n=document.createElement("script");n.type="text/javascript",n.async=!0,n.src=e[a],document.getElementsByTagName("head")[0].appendChild(n),0==a&&(n.readyState?n.onreadystatechange=function(){"loaded"!==n.readyState&&"complete"!==n.readyState||(n.onreadystatechange=null,t())}:n.onload=function(){t()})}}
function asyncLoadshopapps(){
	var iWishUrls=["https://cdn.myshopapps.com/iwish/iwishlist_v2.js"];
	iWishLoadScript(iWishUrls, function() {
		jQuery("a[href='/apps/iwish']").click(function(e) {
		if(typeof(Storage) !== "undefined") {
			e.preventDefault();
			iWishPost('/apps/iwish',{iwishlist:JSON.stringify(iWishlistmain),cId:iwish_cid});
		}
		});
		jQuery(".iWishAdd").click(function() {        
			var iWishvId = jQuery(this).parents(iwishWrapperClass).find(iWishVarSelector).val();
			iwish_add(jQuery(this), iWishvId);
			iWishCounter();
			return false;
		});
        jQuery(".iWishAddColl").click(function() {
      			var iWishvId = jQuery(this).attr("data-variant");
      			iwish_addCollection(jQuery(this),iWishvId);
                  iWishCounter();
      			return false;
      		});	    
      	});
	setTimeout(function(){
	iWishCounter();
	}, 2000);
}
if (window.addEventListener){ window.addEventListener("load", asyncLoadshopapps, true); }
else if (window.attachEvent){ window.attachEvent("onload", asyncLoadshopapps); }
else { window.onload = asyncLoadshopapps; }
})();
</script></div><div class="section-newsletter-popup"><div class="newsletter_popup-grid"><img src="{{ 'DSC01209.webp' | asset_url }}" loading="lazy" sizes="100vw" srcset="{{ 'DSC01209-p-500.webp' | asset_url }} 500w, {{ 'DSC01209-p-800.webp' | asset_url }} 800w, {{ 'DSC01209-p-1080.webp' | asset_url }} 1080w, {{ 'DSC01209.webp' | asset_url }} 1500w" alt="" class="newsletter_popup-img">
<div class="newsletter_popup-wrapper"><div class="newsletter_content is-news"><h3 class="heading-medium text-color-white">Jetzt zum Newsletter anmelden <br>
und sofort 5€ sparen.</h3><div class="text-rich-text text-color-white w-richtext"><ul role="list"><li>Aufregende Insights, Aktionen & Rabatte.</li><li>Neue Winzerentdeckungen & Expertenwissen.</li><li>Sichere Dir 5€-Sofortrabatt.</li></ul></div><div class="newsletter_close"><div class="w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewbox="0 0 22 22" fill="none" preserveaspectratio="xMidYMid meet" aria-hidden="true" role="img"><path d="M1 1L20.5 20.5" stroke="currentColor" stroke-width="2"></path><path d="M1 20.5L20.5 0.999999" stroke="currentColor" stroke-width="2"></path></svg></div></div></div><div class="newsletter_content is-white"><div form-modifier="return_to: '/pages/newsletter-vielen-dank'" shopify="newsletter-form" class="form-block w-form"><form id="wf-form-email" name="wf-form-email" data-name="email" redirect="/pages/newsletter-vielen-dank" data-redirect="/pages/newsletter-vielen-dank" method="get" class="newsletter_form is-popup" data-wf-page-id="65d38219e69198496ff8b597" data-wf-element-id="765428d9-39b0-2227-c78a-f38cffc56841"><div class="newsletter_wrapper"><div class="newsletter-input"><input class="newsletter_input is-popup w-input" maxlength="256" name="contact[email]" data-name="Contact Email" placeholder="Deine E-Mail-Adresse" type="email" id="contact[email]" required="">
</div></div><label class="w-checkbox check-newsletter is-newsletter is-white"><div class="w-checkbox-input w-checkbox-input--inputType-custom newsletter_checkbox is-newsletter"></div><input id="contact[marketing]" type="checkbox" name="contact[marketing]" data-name="Contact Marketing" required="" style="opacity:0;position:absolute;z-index:-1">
<span class="w-form-label" for="contact[marketing]">Mit der Anmeldung zum Newsletter akzeptierst du <br>
die <a href="/pages/datenschutz" class="newlstter_link">Datenschutzbestimmungen</a>.</span></label><input type="submit" data-wait="Bitte warten" class="button is-gold w-button" value="Anmelden">
</form><div class="w-form-done"><div>Thank you! Your submission has been received!</div></div><div class="login_hinweis-kachel is-black w-form-fail"><div>Oops! Something went wrong while submitting the form.</div></div></div></div></div></div></div> {% schema %} {"tag":"footer","name":"footer","class":"section_footer","blocks":[{"name":"Support","type":"support","settings":[{"id":"text_button_text","type":"text","label":"Button Text","default":"Beratung anfragen"},{"id":"url_button_link","type":"url","label":"Button Link"}]},{"name":"Value","type":"value","settings":[{"id":"image_bild","type":"image_picker","label":"Bild"},{"id":"text_headline","type":"text","label":"Headline","default":"Sozial"},{"id":"textarea_textfeld","type":"textarea","label":"Textfeld","default":"Du bist auf der Suche nach einem unkomplizierten, leckeren Rotwein und m\u00f6chtest auch mal etwas."},{"id":"url_link_url","type":"url","label":"Link-Url"},{"id":"text_link_text","type":"text","label":"Link-Text","default":"Text Link"}]},{"name":"Logo","type":"logo","settings":[{"id":"url_link","type":"url","label":"Link"},{"id":"image_logo","type":"image_picker","label":"Logo"}]},{"name":"lieferung-icon","type":"lieferung-icon","settings":[{"id":"image_icon","type":"image_picker","label":"icon"}]},{"name":"social-media","type":"social-media","settings":[{"id":"url_social_link","type":"url","label":"social-link"},{"id":"image_social_icon","type":"image_picker","label":"social-icon"}]}],"settings":[{"id":"text_headline_newsletter","type":"text","label":"Headline-Newsletter","default":"Newsletter Anmeldung"},{"id":"text_headline_kontakt","type":"text","label":"Headline-Kontakt","default":"Hilfe ben\u00f6tigt?"},{"id":"text_headline","type":"text","label":"Headline","default":"Support &amp; Hilfe"},{"id":"text_telefon","type":"text","label":"Telefon","default":"+49 7191 2206 085"},{"id":"text_oeffnungszeiten_tage","type":"text","label":"Oeffnungszeiten - Tage","default":"Montag - Freitag"},{"id":"text_oeffnungszeiten_uhrzeit","type":"text","label":"Oeffnungszeiten - Uhrzeit","default":"09:00 Uhr - 18:00 Uhr"},{"id":"text_email","type":"text","label":"Email","default":"info@vioneers.com"},{"id":"text_button_support","type":"text","label":"Button Support","default":"Per E-Mail kontaktieren"},{"id":"url_button_support","type":"url","label":"Button Support"},{"id":"text_headline_2","type":"text","label":"Headline-2","default":"Winespot Backnang"},{"id":"textarea_winespot_text","type":"textarea","label":"Winespot-Text","default":"Blumenstrasse 22, 71522 Backnang<br\/>Di - Fr 15:00-19:00 Uhr<br\/>Sa 10:30 - 14:00 Uhr"},{"id":"text_email_2","type":"text","label":"Email-2","default":"info@vioneers.com"},{"id":"text_telefon_2","type":"text","label":"Telefon-2","default":"+49 7191 2206 085"},{"id":"text_lieferung","type":"text","label":"lieferung","default":"Paketdienste"},{"id":"text_zahlung","type":"text","label":"zahlung","default":"zahlungsmittel"},{"id":"text_social_media","type":"text","label":"social-media","default":"Social"},{"id":"image_footer_logo","type":"image_picker","label":"Footer-logo"}],"presets":[{"name":"footer","category":"Liquify"}]} {% endschema %}