<div class="padding-global padding-section-medium"><div x-on:keydown.window.escape="{% for block in section.blocks %}open{{ forloop.index }} = false; {% endfor %}" x-data="{ artikelCount: 100, {% for block in section.blocks %}open{{ forloop.index }}: false, {% endfor %} }" class="container-large"><div class="testimonial_max-width"><div class="li-custom w-embed"></div>
<div li-content-for-blocks="" class="content-centerd_wrapper">
{% for block in section.blocks %}
    {% case block.type %}
        {% when '@app' %}
            {% render block %}
    {% when 'headline-small' %}
            <div li-block="Headline small">
                    <h2 class="heading-style-small">
{{ block.settings.text_headline_small }}
</h2>

                </div>
    {% when 'headline' %}
            <div li-block="Headline">
                    <h3 class="heading-style-h2">
{{ block.settings.text_headline }}
</h3>

                </div>
    {% when 'text' %}
            <div li-block="Text">
                    <div class="max-width-xlarge"> {{ block.settings.richtext_intro_text }} </div>

                </div>
    {% when 'span-element' %}
            <div li-block="Span Element">
                    <div class="{{ block.settings.class }}">
{{ block.settings.text_text }}
</div>

                    <div class="li-custom w-embed"></div>

                </div>
    {% when 'buttons' %}
            <div li-block="Buttons">
                    {% if block.settings.text_button_text != blank or block.settings.text_button_text_2 != blank %}    <div li-if="block.settings.text_button_text != blank or block.settings.text_button_text_2 != blank" id="w-node-_646415cb-5361-ecd4-2e80-4b94cc580336-cc580336" class="button-group padding-top padding-small">
    {% if block.settings.text_button_text != blank %}    <div li-if="block.settings.text_button_text != blank" id="w-node-f50b8864-b770-3670-2cd2-0a3a2cd2ed87-cc580336">
    <a aria-label="{{ block.settings.text_button_text }}" id="w-node-_646415cb-5361-ecd4-2e80-4b94cc580337-cc580336" href="{{ block.settings.url_button_link }}" class="button w-button"> {{ block.settings.text_button_text }} </a>
    </div>
{% endif %}{% if block.settings.text_button_text_2 != blank %}    <div li-if="block.settings.text_button_text_2 != blank" id="w-node-bf33479f-2361-66f9-dba6-9cb9a97f87f3-cc580336">
    <a aria-label="{{ block.settings.text_button_text_2 }}" id="w-node-_646415cb-5361-ecd4-2e80-4b94cc580339-cc580336" href="{{ block.settings.url_button_link_2 }}" class="button is-secondary w-button"> {{ block.settings.text_button_text_2 }} </a>
    </div>
{% endif %}    </div>
{% endif %}
                </div>
        {% endcase %}
{% endfor %}

</div>

</div><div data-current="Tab 1" data-easing="ease" data-duration-in="300" data-duration-out="100" class="testimonial_tabs w-tabs"><div class="testimonial_tabs-menu w-tab-menu"><a data-w-tab="Tab 1" class="tabs-link w-inline-block w-tab-link w--current"><div>
{{ section.settings.text_tab_1 }}
</div>
</a><a data-w-tab="Tab 2" class="tabs-link w-inline-block w-tab-link"><div>
{{ section.settings.text_tab_2 }}
</div>
</a></div><div class="testimonial_tabs-content w-tab-content"><div data-w-tab="Tab 1" class="tab-pane-tab-1 w-tab-pane w--tab-active"><div class="swiper is-testi-privat"><div class="swiper-wrapper testi-wrapper">{% for block in section.blocks %}
    {% if block.type == "privatpersonen" %}
                    <div x-transition="" li-block="Privatpersonen" x-show="artikelCount>= {{ forloop.index }}" class="swiper-slide is-testi-slide">
                                    <div class="testimonial_card"><div id="w-node-_4a52d82e-6045-c155-c23c-f8a27554233b-75542339" class="testimonial_img-wrapper"><div class="testimonial_img-wrapper"><img loading="lazy" alt="{{ block.settings.image_bild.alt }}" src="{{ block.settings.image_bild | img_url: 'master' }}" class="testimonial_img"}>
{% if block.settings.thumbnail != blank %}    <div li-if="block.settings.thumbnail != blank" class="testimonial_thumbnail w-embed">
    <video slot="media" src="{{ block.settings.thumbnail.sources[1].url }}" playsinline="" crossorigin="" width="100%" height="100%" loop="" autoplay=""></video>    </div>
{% endif %}{% if block.settings.video != blank %}    <div li-if="block.settings.video != blank" x-on:click="open{{ forloop.index }} = ! open{{ forloop.index }}" aria-label="Video abspielen" class="testimonial_play-video">
    <img loading="lazy" src="{{ 'play-button.svg' | asset_url }}" alt="" class="testimonial_play-button">
<div class="text-weight-semibold text-size-tiny">
{{ block.settings.text_video_abspielen }}
</div>
    </div>
{% endif %}</div></div><div id="w-node-_4a52d82e-6045-c155-c23c-f8a275542342-75542339" class="testimonial_content"><div class="testimonial_content-top"><div class="heading-style-h3">
{{ block.settings.text_headline }}
</div>
<div id="w-node-_4a52d82e-6045-c155-c23c-f8a275542346-75542339"> {{ block.settings.richtext_text }} </div>
</div><div class="testimonial_facts"><div class="testimonial_facts-item"><div class="testimonial_facts-icon w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewbox="0 0 20 20" fill="none" preserveaspectratio="xMidYMid meet" aria-hidden="true" role="img"><mask id="mask0_7266_28009" style="mask-type:alpha" maskunits="userSpaceOnUse" x="0" y="0" width="20" height="20"><rect y="0.00012207" width="19.2157" height="19.2157" fill="#D9D9D9"></rect></mask><g mask="url(#mask0_7266_28009)"><path d="M3.20199 16.814V9.30785L1.76081 10.4087L0.800026 9.1277L3.20199 7.2862V4.80417H4.80329V6.0652L9.60722 2.40221L18.4144 9.1277L17.4536 10.3887L16.0124 9.30785V16.814H3.20199ZM4.80329 15.2127H8.80656V12.0101H10.4079V15.2127H14.4111V8.08685L9.60722 4.42386L4.80329 8.08685V15.2127ZM3.20199 4.00352C3.20199 3.33631 3.43551 2.76918 3.90256 2.30213C4.36961 1.83508 4.93674 1.60156 5.60395 1.60156C5.8308 1.60156 6.02096 1.52483 6.17441 1.37137C6.32787 1.21791 6.4046 1.02776 6.4046 0.800903H8.00591C8.00591 1.46811 7.77238 2.03524 7.30534 2.50229C6.83829 2.96934 6.27116 3.20286 5.60395 3.20286C5.3771 3.20286 5.18694 3.27959 5.03348 3.43305C4.88002 3.58651 4.80329 3.77667 4.80329 4.00352H3.20199Z" fill="#000030"></path></g></svg></div><div><span>
{{ block.settings.text_installation }}
</span>
: <strong>
{{ block.settings.text_installation_wert }}
</strong>
</div></div><div id="w-node-_908d9445-347a-315a-1e73-6d81b9d20bae-75542339" class="testimonial_facts-item"><div class="testimonial_facts-icon w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewbox="0 0 20 20" fill="none" preserveaspectratio="xMidYMid meet" aria-hidden="true" role="img"><mask id="mask0_7266_28009" style="mask-type:alpha" maskunits="userSpaceOnUse" x="0" y="0" width="20" height="20"><rect y="0.00012207" width="19.2157" height="19.2157" fill="#D9D9D9"></rect></mask><g mask="url(#mask0_7266_28009)"><path d="M3.20199 16.814V9.30785L1.76081 10.4087L0.800026 9.1277L3.20199 7.2862V4.80417H4.80329V6.0652L9.60722 2.40221L18.4144 9.1277L17.4536 10.3887L16.0124 9.30785V16.814H3.20199ZM4.80329 15.2127H8.80656V12.0101H10.4079V15.2127H14.4111V8.08685L9.60722 4.42386L4.80329 8.08685V15.2127ZM3.20199 4.00352C3.20199 3.33631 3.43551 2.76918 3.90256 2.30213C4.36961 1.83508 4.93674 1.60156 5.60395 1.60156C5.8308 1.60156 6.02096 1.52483 6.17441 1.37137C6.32787 1.21791 6.4046 1.02776 6.4046 0.800903H8.00591C8.00591 1.46811 7.77238 2.03524 7.30534 2.50229C6.83829 2.96934 6.27116 3.20286 5.60395 3.20286C5.3771 3.20286 5.18694 3.27959 5.03348 3.43305C4.88002 3.58651 4.80329 3.77667 4.80329 4.00352H3.20199Z" fill="#000030"></path></g></svg></div><div><span>
{{ block.settings.text_produkt }}
</span>
: <strong>
{{ block.settings.text_produkt_wert }}
</strong>
</div></div><div id="w-node-_1956ac17-7742-5867-22ac-7a403c987810-75542339" class="testimonial_facts-item"><div class="testimonial_facts-icon w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewbox="0 0 20 20" fill="none" preserveaspectratio="xMidYMid meet" aria-hidden="true" role="img"><mask id="mask0_7266_28019" style="mask-type:alpha" maskunits="userSpaceOnUse" x="0" y="0" width="20" height="20"><rect y="0.21582" width="19.2157" height="19.2157" fill="#D9D9D9"></rect></mask><g mask="url(#mask0_7266_28019)"><path d="M15.2134 6.62118C15.4402 6.62118 15.6304 6.54445 15.7838 6.39099C15.9373 6.23754 16.014 6.04738 16.014 5.82053C16.014 5.59368 15.9373 5.40352 15.7838 5.25006C15.6304 5.0966 15.4402 5.01988 15.2134 5.01988C14.9865 5.01988 14.7963 5.0966 14.6429 5.25006C14.4894 5.40352 14.4127 5.59368 14.4127 5.82053C14.4127 6.04738 14.4894 6.23754 14.6429 6.39099C14.7963 6.54445 14.9865 6.62118 15.2134 6.62118ZM15.2134 8.22249C14.5328 8.22249 13.9623 7.9923 13.502 7.53193C13.0416 7.07155 12.8114 6.50108 12.8114 5.82053C12.8114 5.15332 13.0416 4.58619 13.502 4.11914C13.9623 3.65209 14.5328 3.41857 15.2134 3.41857C15.8806 3.41857 16.4477 3.65209 16.9147 4.11914C17.3818 4.58619 17.6153 5.15332 17.6153 5.82053C17.6153 6.50108 17.3818 7.07155 16.9147 7.53193C16.4477 7.9923 15.8806 8.22249 15.2134 8.22249ZM9.60878 5.82053C9.94238 5.82053 10.2259 5.7071 10.4595 5.48025C10.693 5.2534 10.8098 4.9665 10.8098 4.61955C10.8098 4.28594 10.693 4.00238 10.4595 3.76885C10.2259 3.53533 9.94238 3.41857 9.60878 3.41857C9.26183 3.41857 8.97493 3.53533 8.74808 3.76885C8.52122 4.00238 8.4078 4.28594 8.4078 4.61955C8.4078 4.9665 8.52122 5.2534 8.74808 5.48025C8.97493 5.7071 9.26183 5.82053 9.60878 5.82053ZM9.60878 7.42184C8.82147 7.42184 8.15759 7.15162 7.61715 6.61117C7.07671 6.07073 6.80649 5.40686 6.80649 4.61955C6.80649 3.84558 7.07671 3.18504 7.61715 2.63793C8.15759 2.09082 8.82147 1.81726 9.60878 1.81726C10.3827 1.81726 11.0433 2.09082 11.5904 2.63793C12.1375 3.18504 12.4111 3.84558 12.4111 4.61955C12.4111 5.40686 12.1375 6.07073 11.5904 6.61117C11.0433 7.15162 10.3827 7.42184 9.60878 7.42184ZM6.40616 10.9247C6.40616 11.325 6.61967 11.7921 7.04669 12.3258C7.4737 12.8596 8.32773 13.707 9.60878 14.8679C10.8631 13.7337 11.7105 12.8996 12.1509 12.3659C12.5912 11.8321 12.8114 11.3517 12.8114 10.9247C12.8114 10.6178 12.7113 10.3576 12.5111 10.1441C12.311 9.93055 12.0641 9.8238 11.7705 9.8238C11.5837 9.8238 11.4069 9.86383 11.2401 9.9439C11.0733 10.024 10.9365 10.1374 10.8298 10.2842L9.86899 11.4251H9.32855L8.36776 10.2842C8.26101 10.1374 8.12423 10.024 7.95743 9.9439C7.79063 9.86383 7.62049 9.8238 7.44701 9.8238C7.1401 9.8238 6.88989 9.93055 6.6964 10.1441C6.50291 10.3576 6.40616 10.6178 6.40616 10.9247ZM4.80486 10.9247C4.80486 10.2175 5.04505 9.59027 5.52544 9.04316C6.00584 8.49605 6.64636 8.22249 7.44701 8.22249C7.86068 8.22249 8.25767 8.3159 8.63799 8.50272C9.0183 8.68954 9.34189 8.94308 9.60878 9.26334C9.87566 8.94308 10.1959 8.68954 10.5696 8.50272C10.9432 8.3159 11.3435 8.22249 11.7705 8.22249C12.5712 8.22249 13.2117 8.49938 13.6921 9.05317C14.1725 9.60695 14.4127 10.2308 14.4127 10.9247C14.4127 11.6319 14.1558 12.3292 13.6421 13.0164C13.1283 13.7036 12.0775 14.7745 10.4895 16.229L9.60878 17.0297L8.72806 16.229C7.11341 14.7612 6.05588 13.687 5.55547 13.0064C5.05506 12.3258 4.80486 11.6319 4.80486 10.9247ZM4.0042 6.62118C4.23105 6.62118 4.42121 6.54445 4.57467 6.39099C4.72813 6.23754 4.80486 6.04738 4.80486 5.82053C4.80486 5.59368 4.72813 5.40352 4.57467 5.25006C4.42121 5.0966 4.23105 5.01988 4.0042 5.01988C3.77735 5.01988 3.5872 5.0966 3.43374 5.25006C3.28028 5.40352 3.20355 5.59368 3.20355 5.82053C3.20355 6.04738 3.28028 6.23754 3.43374 6.39099C3.5872 6.54445 3.77735 6.62118 4.0042 6.62118ZM9.66883 17.8303V16.229H16.014V10.6244H13.6521V9.02314H16.014C16.4544 9.02314 16.8313 9.17994 17.1449 9.49353C17.4585 9.80712 17.6153 10.1841 17.6153 10.6244V17.8303H9.66883ZM3.20355 16.229H9.66883V17.8303H1.60224V10.6244C1.60224 10.1841 1.7557 9.80712 2.06262 9.49353C2.36953 9.17994 2.74985 9.02314 3.20355 9.02314H5.56548V10.6244H3.20355V16.229ZM4.0042 8.22249C3.32365 8.22249 2.75318 7.9923 2.29281 7.53193C1.83243 7.07155 1.60224 6.50108 1.60224 5.82053C1.60224 5.15332 1.83243 4.58619 2.29281 4.11914C2.75318 3.65209 3.32365 3.41857 4.0042 3.41857C4.67141 3.41857 5.23854 3.65209 5.70559 4.11914C6.17264 4.58619 6.40616 5.15332 6.40616 5.82053C6.40616 6.50108 6.17264 7.07155 5.70559 7.53193C5.23854 7.9923 4.67141 8.22249 4.0042 8.22249Z" fill="#000030"></path></g></svg></div><div><span>
{{ block.settings.text_personen }}
</span>
: <strong>
{{ block.settings.text_personen_wert }}
</strong>
</div></div><div id="w-node-f688e81e-3817-9043-3d91-1bb4b595507d-75542339" class="testimonial_facts-item"><div class="testimonial_facts-icon w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewbox="0 0 20 21" fill="none" preserveaspectratio="xMidYMid meet" aria-hidden="true" role="img"><mask id="mask0_7266_28024" style="mask-type:alpha" maskunits="userSpaceOnUse" x="0" y="0" width="20" height="21"><rect y="0.823608" width="19.2157" height="19.2157" fill="#D9D9D9"></rect></mask><g mask="url(#mask0_7266_28024)"><path d="M9.60784 17.6373C7.83306 17.6373 6.32183 17.0202 5.07414 15.7858C3.82646 14.5515 3.20261 13.0603 3.20261 11.3122C3.20261 10.4315 3.36942 9.61747 3.70302 8.87019C4.03663 8.12291 4.497 7.4557 5.08415 6.86855L9.60784 2.42493L14.1315 6.86855C14.7187 7.4557 15.1791 8.12291 15.5127 8.87019C15.8463 9.61747 16.0131 10.4315 16.0131 11.3122C16.0131 13.0603 15.3892 14.5515 14.1415 15.7858C12.8939 17.0202 11.3826 17.6373 9.60784 17.6373ZM9.60784 16.036V4.66676L6.20507 8.0295C5.73802 8.46986 5.38773 8.96693 5.15421 9.52072C4.92068 10.0745 4.80392 10.6717 4.80392 11.3122C4.80392 12.6066 5.27097 13.7175 6.20507 14.6449C7.13916 15.5723 8.27342 16.036 9.60784 16.036Z" fill="#1C1B1F"></path></g></svg></div><div><span>
{{ block.settings.text_wasser }}
</span>
: <strong>
{{ block.settings.text_wasser_wert }}
</strong>
</div></div></div></div></div>
                                    <div class="li-custom w-embed"></div>

                            </div>
            {% endif %}
{% endfor %}
</div><div class="testimonial_swiper-leff"><div class="testimonial_swiper-prev"><div class="swiper-icon w-embed"><svg width=" 100%" height=" 100%" viewbox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg"><mask id="mask0_7192_3567" style="mask-type:alpha" maskunits="userSpaceOnUse" x="2" y="2" width="21" height="21"><rect x="2.2207" y="22.7769" width="20.5541" height="20.5541" transform="rotate(-90 2.2207 22.7769)" fill="currentColor"></rect></mask><g mask="url(#mask0_7192_3567)"><path d="M11.6406 12.4997L15.5801 16.4392L14.3811 17.6382L9.24258 12.4997L14.3811 7.36116L15.5801 8.56014L11.6406 12.4997Z" fill="currentColor"></path></g></svg></div></div></div><div class="testimonial_swiper-right"><div class="testimonial_swiper-next"><div class="swiper-icon w-embed"><svg width=" 100%" height=" 100%" viewbox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg"><mask id="mask0_7192_3574" style="mask-type:alpha" maskunits="userSpaceOnUse" x="2" y="2" width="21" height="21"><rect x="22.7793" y="2.22314" width="20.5541" height="20.5541" transform="rotate(90 22.7793 2.22314)" fill="currentColor"></rect></mask><g mask="url(#mask0_7192_3574)"><path d="M13.3594 12.5003L9.41992 8.5608L10.6189 7.36182L15.7574 12.5003L10.6189 17.6388L9.41992 16.4399L13.3594 12.5003Z" fill="currentColor"></path></g></svg></div></div></div></div></div><div data-w-tab="Tab 2" class="w-tab-pane"><div class="swiper is-testi-fach"><div class="swiper-wrapper testi-wrapper">{% for block in section.blocks %}
    {% if block.type == "fachunternehmen" %}
                    <div x-transition="" li-block="Fachunternehmen" x-show="artikelCount>= {{ forloop.index }}" class="swiper-slide is-testi-slide">
                                    <div class="testimonial_card"><div id="w-node-_4a52d82e-6045-c155-c23c-f8a27554233b-75542339" class="testimonial_img-wrapper"><div class="testimonial_img-wrapper"><img loading="lazy" alt="{{ block.settings.image_bild.alt }}" src="{{ block.settings.image_bild | img_url: 'master' }}" class="testimonial_img"}>
{% if block.settings.thumbnail != blank %}    <div li-if="block.settings.thumbnail != blank" class="testimonial_thumbnail w-embed">
    <video slot="media" src="{{ block.settings.thumbnail.sources[1].url }}" playsinline="" crossorigin="" width="100%" height="100%" loop="" autoplay=""></video>    </div>
{% endif %}{% if block.settings.video != blank %}    <div li-if="block.settings.video != blank" x-on:click="open{{ forloop.index }} = ! open{{ forloop.index }}" aria-label="Video abspielen" class="testimonial_play-video">
    <img loading="lazy" src="{{ 'play-button.svg' | asset_url }}" alt="" class="testimonial_play-button">
<div class="text-weight-semibold text-size-tiny">
{{ block.settings.text_video_abspielen }}
</div>
    </div>
{% endif %}</div></div><div id="w-node-_4a52d82e-6045-c155-c23c-f8a275542342-75542339" class="testimonial_content"><div class="testimonial_content-top"><div class="heading-style-h3">
{{ block.settings.text_headline }}
</div>
<div id="w-node-_4a52d82e-6045-c155-c23c-f8a275542346-75542339"> {{ block.settings.richtext_text }} </div>
</div><div class="testimonial_facts"><div class="testimonial_facts-item"><div class="testimonial_facts-icon w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewbox="0 0 20 20" fill="none" preserveaspectratio="xMidYMid meet" aria-hidden="true" role="img"><mask id="mask0_7266_28009" style="mask-type:alpha" maskunits="userSpaceOnUse" x="0" y="0" width="20" height="20"><rect y="0.00012207" width="19.2157" height="19.2157" fill="#D9D9D9"></rect></mask><g mask="url(#mask0_7266_28009)"><path d="M3.20199 16.814V9.30785L1.76081 10.4087L0.800026 9.1277L3.20199 7.2862V4.80417H4.80329V6.0652L9.60722 2.40221L18.4144 9.1277L17.4536 10.3887L16.0124 9.30785V16.814H3.20199ZM4.80329 15.2127H8.80656V12.0101H10.4079V15.2127H14.4111V8.08685L9.60722 4.42386L4.80329 8.08685V15.2127ZM3.20199 4.00352C3.20199 3.33631 3.43551 2.76918 3.90256 2.30213C4.36961 1.83508 4.93674 1.60156 5.60395 1.60156C5.8308 1.60156 6.02096 1.52483 6.17441 1.37137C6.32787 1.21791 6.4046 1.02776 6.4046 0.800903H8.00591C8.00591 1.46811 7.77238 2.03524 7.30534 2.50229C6.83829 2.96934 6.27116 3.20286 5.60395 3.20286C5.3771 3.20286 5.18694 3.27959 5.03348 3.43305C4.88002 3.58651 4.80329 3.77667 4.80329 4.00352H3.20199Z" fill="#000030"></path></g></svg></div><div><span>
{{ block.settings.text_installation }}
</span>
: <strong>
{{ block.settings.text_installation_wert }}
</strong>
</div></div><div id="w-node-_908d9445-347a-315a-1e73-6d81b9d20bae-75542339" class="testimonial_facts-item"><div class="testimonial_facts-icon w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewbox="0 0 20 20" fill="none" preserveaspectratio="xMidYMid meet" aria-hidden="true" role="img"><mask id="mask0_7266_28009" style="mask-type:alpha" maskunits="userSpaceOnUse" x="0" y="0" width="20" height="20"><rect y="0.00012207" width="19.2157" height="19.2157" fill="#D9D9D9"></rect></mask><g mask="url(#mask0_7266_28009)"><path d="M3.20199 16.814V9.30785L1.76081 10.4087L0.800026 9.1277L3.20199 7.2862V4.80417H4.80329V6.0652L9.60722 2.40221L18.4144 9.1277L17.4536 10.3887L16.0124 9.30785V16.814H3.20199ZM4.80329 15.2127H8.80656V12.0101H10.4079V15.2127H14.4111V8.08685L9.60722 4.42386L4.80329 8.08685V15.2127ZM3.20199 4.00352C3.20199 3.33631 3.43551 2.76918 3.90256 2.30213C4.36961 1.83508 4.93674 1.60156 5.60395 1.60156C5.8308 1.60156 6.02096 1.52483 6.17441 1.37137C6.32787 1.21791 6.4046 1.02776 6.4046 0.800903H8.00591C8.00591 1.46811 7.77238 2.03524 7.30534 2.50229C6.83829 2.96934 6.27116 3.20286 5.60395 3.20286C5.3771 3.20286 5.18694 3.27959 5.03348 3.43305C4.88002 3.58651 4.80329 3.77667 4.80329 4.00352H3.20199Z" fill="#000030"></path></g></svg></div><div><span>
{{ block.settings.text_produkt }}
</span>
: <strong>
{{ block.settings.text_produkt_wert }}
</strong>
</div></div><div id="w-node-_1956ac17-7742-5867-22ac-7a403c987810-75542339" class="testimonial_facts-item"><div class="testimonial_facts-icon w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewbox="0 0 20 20" fill="none" preserveaspectratio="xMidYMid meet" aria-hidden="true" role="img"><mask id="mask0_7266_28019" style="mask-type:alpha" maskunits="userSpaceOnUse" x="0" y="0" width="20" height="20"><rect y="0.21582" width="19.2157" height="19.2157" fill="#D9D9D9"></rect></mask><g mask="url(#mask0_7266_28019)"><path d="M15.2134 6.62118C15.4402 6.62118 15.6304 6.54445 15.7838 6.39099C15.9373 6.23754 16.014 6.04738 16.014 5.82053C16.014 5.59368 15.9373 5.40352 15.7838 5.25006C15.6304 5.0966 15.4402 5.01988 15.2134 5.01988C14.9865 5.01988 14.7963 5.0966 14.6429 5.25006C14.4894 5.40352 14.4127 5.59368 14.4127 5.82053C14.4127 6.04738 14.4894 6.23754 14.6429 6.39099C14.7963 6.54445 14.9865 6.62118 15.2134 6.62118ZM15.2134 8.22249C14.5328 8.22249 13.9623 7.9923 13.502 7.53193C13.0416 7.07155 12.8114 6.50108 12.8114 5.82053C12.8114 5.15332 13.0416 4.58619 13.502 4.11914C13.9623 3.65209 14.5328 3.41857 15.2134 3.41857C15.8806 3.41857 16.4477 3.65209 16.9147 4.11914C17.3818 4.58619 17.6153 5.15332 17.6153 5.82053C17.6153 6.50108 17.3818 7.07155 16.9147 7.53193C16.4477 7.9923 15.8806 8.22249 15.2134 8.22249ZM9.60878 5.82053C9.94238 5.82053 10.2259 5.7071 10.4595 5.48025C10.693 5.2534 10.8098 4.9665 10.8098 4.61955C10.8098 4.28594 10.693 4.00238 10.4595 3.76885C10.2259 3.53533 9.94238 3.41857 9.60878 3.41857C9.26183 3.41857 8.97493 3.53533 8.74808 3.76885C8.52122 4.00238 8.4078 4.28594 8.4078 4.61955C8.4078 4.9665 8.52122 5.2534 8.74808 5.48025C8.97493 5.7071 9.26183 5.82053 9.60878 5.82053ZM9.60878 7.42184C8.82147 7.42184 8.15759 7.15162 7.61715 6.61117C7.07671 6.07073 6.80649 5.40686 6.80649 4.61955C6.80649 3.84558 7.07671 3.18504 7.61715 2.63793C8.15759 2.09082 8.82147 1.81726 9.60878 1.81726C10.3827 1.81726 11.0433 2.09082 11.5904 2.63793C12.1375 3.18504 12.4111 3.84558 12.4111 4.61955C12.4111 5.40686 12.1375 6.07073 11.5904 6.61117C11.0433 7.15162 10.3827 7.42184 9.60878 7.42184ZM6.40616 10.9247C6.40616 11.325 6.61967 11.7921 7.04669 12.3258C7.4737 12.8596 8.32773 13.707 9.60878 14.8679C10.8631 13.7337 11.7105 12.8996 12.1509 12.3659C12.5912 11.8321 12.8114 11.3517 12.8114 10.9247C12.8114 10.6178 12.7113 10.3576 12.5111 10.1441C12.311 9.93055 12.0641 9.8238 11.7705 9.8238C11.5837 9.8238 11.4069 9.86383 11.2401 9.9439C11.0733 10.024 10.9365 10.1374 10.8298 10.2842L9.86899 11.4251H9.32855L8.36776 10.2842C8.26101 10.1374 8.12423 10.024 7.95743 9.9439C7.79063 9.86383 7.62049 9.8238 7.44701 9.8238C7.1401 9.8238 6.88989 9.93055 6.6964 10.1441C6.50291 10.3576 6.40616 10.6178 6.40616 10.9247ZM4.80486 10.9247C4.80486 10.2175 5.04505 9.59027 5.52544 9.04316C6.00584 8.49605 6.64636 8.22249 7.44701 8.22249C7.86068 8.22249 8.25767 8.3159 8.63799 8.50272C9.0183 8.68954 9.34189 8.94308 9.60878 9.26334C9.87566 8.94308 10.1959 8.68954 10.5696 8.50272C10.9432 8.3159 11.3435 8.22249 11.7705 8.22249C12.5712 8.22249 13.2117 8.49938 13.6921 9.05317C14.1725 9.60695 14.4127 10.2308 14.4127 10.9247C14.4127 11.6319 14.1558 12.3292 13.6421 13.0164C13.1283 13.7036 12.0775 14.7745 10.4895 16.229L9.60878 17.0297L8.72806 16.229C7.11341 14.7612 6.05588 13.687 5.55547 13.0064C5.05506 12.3258 4.80486 11.6319 4.80486 10.9247ZM4.0042 6.62118C4.23105 6.62118 4.42121 6.54445 4.57467 6.39099C4.72813 6.23754 4.80486 6.04738 4.80486 5.82053C4.80486 5.59368 4.72813 5.40352 4.57467 5.25006C4.42121 5.0966 4.23105 5.01988 4.0042 5.01988C3.77735 5.01988 3.5872 5.0966 3.43374 5.25006C3.28028 5.40352 3.20355 5.59368 3.20355 5.82053C3.20355 6.04738 3.28028 6.23754 3.43374 6.39099C3.5872 6.54445 3.77735 6.62118 4.0042 6.62118ZM9.66883 17.8303V16.229H16.014V10.6244H13.6521V9.02314H16.014C16.4544 9.02314 16.8313 9.17994 17.1449 9.49353C17.4585 9.80712 17.6153 10.1841 17.6153 10.6244V17.8303H9.66883ZM3.20355 16.229H9.66883V17.8303H1.60224V10.6244C1.60224 10.1841 1.7557 9.80712 2.06262 9.49353C2.36953 9.17994 2.74985 9.02314 3.20355 9.02314H5.56548V10.6244H3.20355V16.229ZM4.0042 8.22249C3.32365 8.22249 2.75318 7.9923 2.29281 7.53193C1.83243 7.07155 1.60224 6.50108 1.60224 5.82053C1.60224 5.15332 1.83243 4.58619 2.29281 4.11914C2.75318 3.65209 3.32365 3.41857 4.0042 3.41857C4.67141 3.41857 5.23854 3.65209 5.70559 4.11914C6.17264 4.58619 6.40616 5.15332 6.40616 5.82053C6.40616 6.50108 6.17264 7.07155 5.70559 7.53193C5.23854 7.9923 4.67141 8.22249 4.0042 8.22249Z" fill="#000030"></path></g></svg></div><div><span>
{{ block.settings.text_personen }}
</span>
: <strong>
{{ block.settings.text_personen_wert }}
</strong>
</div></div><div id="w-node-f688e81e-3817-9043-3d91-1bb4b595507d-75542339" class="testimonial_facts-item"><div class="testimonial_facts-icon w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewbox="0 0 20 21" fill="none" preserveaspectratio="xMidYMid meet" aria-hidden="true" role="img"><mask id="mask0_7266_28024" style="mask-type:alpha" maskunits="userSpaceOnUse" x="0" y="0" width="20" height="21"><rect y="0.823608" width="19.2157" height="19.2157" fill="#D9D9D9"></rect></mask><g mask="url(#mask0_7266_28024)"><path d="M9.60784 17.6373C7.83306 17.6373 6.32183 17.0202 5.07414 15.7858C3.82646 14.5515 3.20261 13.0603 3.20261 11.3122C3.20261 10.4315 3.36942 9.61747 3.70302 8.87019C4.03663 8.12291 4.497 7.4557 5.08415 6.86855L9.60784 2.42493L14.1315 6.86855C14.7187 7.4557 15.1791 8.12291 15.5127 8.87019C15.8463 9.61747 16.0131 10.4315 16.0131 11.3122C16.0131 13.0603 15.3892 14.5515 14.1415 15.7858C12.8939 17.0202 11.3826 17.6373 9.60784 17.6373ZM9.60784 16.036V4.66676L6.20507 8.0295C5.73802 8.46986 5.38773 8.96693 5.15421 9.52072C4.92068 10.0745 4.80392 10.6717 4.80392 11.3122C4.80392 12.6066 5.27097 13.7175 6.20507 14.6449C7.13916 15.5723 8.27342 16.036 9.60784 16.036Z" fill="#1C1B1F"></path></g></svg></div><div><span>
{{ block.settings.text_wasser }}
</span>
: <strong>
{{ block.settings.text_wasser_wert }}
</strong>
</div></div></div></div></div>
                                    <div class="li-custom w-embed"></div>

                            </div>
            {% endif %}
{% endfor %}
</div><div class="testimonial_swiper-leff"><div class="testimonial_swiper-prev"><div class="swiper-icon w-embed"><svg width=" 100%" height=" 100%" viewbox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg"><mask id="mask0_7192_3567" style="mask-type:alpha" maskunits="userSpaceOnUse" x="2" y="2" width="21" height="21"><rect x="2.2207" y="22.7769" width="20.5541" height="20.5541" transform="rotate(-90 2.2207 22.7769)" fill="currentColor"></rect></mask><g mask="url(#mask0_7192_3567)"><path d="M11.6406 12.4997L15.5801 16.4392L14.3811 17.6382L9.24258 12.4997L14.3811 7.36116L15.5801 8.56014L11.6406 12.4997Z" fill="currentColor"></path></g></svg></div></div></div><div class="testimonial_swiper-right"><div class="testimonial_swiper-next"><div class="swiper-icon w-embed"><svg width=" 100%" height=" 100%" viewbox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg"><mask id="mask0_7192_3574" style="mask-type:alpha" maskunits="userSpaceOnUse" x="2" y="2" width="21" height="21"><rect x="22.7793" y="2.22314" width="20.5541" height="20.5541" transform="rotate(90 22.7793 2.22314)" fill="currentColor"></rect></mask><g mask="url(#mask0_7192_3574)"><path d="M13.3594 12.5003L9.41992 8.5608L10.6189 7.36182L15.7574 12.5003L10.6189 17.6388L9.41992 16.4399L13.3594 12.5003Z" fill="currentColor"></path></g></svg></div></div></div></div></div></div></div><div class="cta-in-section">{% if section.settings.text_button_text != blank or section.settings.text_button_text_2 != blank %}    <div li-if="section.settings.text_button_text != blank or section.settings.text_button_text_2 != blank" id="w-node-_646415cb-5361-ecd4-2e80-4b94cc580336-cc580336" class="button-group">
    {% if section.settings.text_button_text != blank %}    <div li-if="section.settings.text_button_text != blank" id="w-node-f50b8864-b770-3670-2cd2-0a3a2cd2ed87-cc580336">
    <a aria-label="{{ section.settings.text_button_text }}" id="w-node-_646415cb-5361-ecd4-2e80-4b94cc580337-cc580336" href="{{ section.settings.url_button_link }}" class="button w-button"> {{ section.settings.text_button_text }} </a>
    </div>
{% endif %}{% if section.settings.text_button_text_2 != blank %}    <div li-if="section.settings.text_button_text_2 != blank" id="w-node-bf33479f-2361-66f9-dba6-9cb9a97f87f3-cc580336">
    <a aria-label="{{ section.settings.text_button_text_2 }}" id="w-node-_646415cb-5361-ecd4-2e80-4b94cc580339-cc580336" href="{{ section.settings.url_button_link_2 }}" class="button is-secondary w-button"> {{ section.settings.text_button_text_2 }} </a>
    </div>
{% endif %}    </div>
{% endif %}<div class="cta-in-section_checks">{% for block in section.blocks %}
    {% if block.type == "checkmark" %}
                    <div li-block="Checkmark" class="cta-in-section_check-item">
                                    <img loading="lazy" src="{{ 'green-check.svg' | asset_url }}" alt="" class="cta-in-section_check-icon">

                                    <div>
{{ block.settings.text_text }}
</div>

                            </div>
            {% endif %}
{% endfor %}
</div></div>{% for block in section.blocks %}    <div li-for="block in section.blocks" id="w-node-d3a583dd-8a8f-8468-49c8-f7ca9c91ea10-9c91ea10">
                                    <template x-if="open{{ forloop.index }}"><div class="testimonial_video-wrapper"><div x-on:click="open{{ forloop.index }} = ! open{{ forloop.index }}" class="testimonial_video-close"></div><div class="padding-global"><div class="container-large position-relativ"><div class="position-relativ"><img src="{{ 'close-icon.svg' | asset_url }}" loading="lazy" x-on:click="open{{ forloop.index }} = ! open{{ forloop.index }}" alt="" class="video_close">
<div class="video_component is-testimonial w-embed"><media-theme-sutro style="height: 100%"><video slot="media" src="{{ block.settings.video.sources[1].url }}" playsinline="" crossorigin=""></video></media-theme-sutro></div></div></div></div></div></template>
                        </div>
{% endfor %}</div><div class="hide w-embed w-script"><script type="module" src="https://cdn.jsdelivr.net/npm/player.style/sutro/+esm"></script></div></div>{% if section.settings.checkbox_pfeil == true %}
<div class="direction-holder"><img loading="lazy" src="{{ 'line-green.svg' | asset_url }}" alt="" class="direction-icon">
</div>{% endif %}
<div class="hide w-embed w-script"><script>pageFunctions.addFunction('testimonials', function() {
    const swiperTestiPrivat = new Swiper('.is-testi-privat', {
      // Default parameters
      slidesPerView: 1,
      spaceBetween: 32,
      navigation: {
        nextEl: '.testimonial_swiper-next',
        prevEl: '.testimonial_swiper-prev',
      },
      // Responsive breakpoints
      /*breakpoints: {
    // when window width is >= 320px
    479: {
     slidesPerView: 2,
        spaceBetween: 50,
    },
    // when window width is >= 480px
    767: {
     slidesPerView: 2,
        spaceBetween: 50,
    },
    // when window width is >= 640px
    991: {
      slidesPerView: 2,
      spaceBetween: 50
    }
  },*/
      centeredSlides: true,
    })
    const swiperTestiFach = new Swiper('.is-testi-fach', {
      // Default parameters
      slidesPerView: 1,
      spaceBetween: 32,
      navigation: {
        nextEl: '.testimonial_swiper-next',
        prevEl: '.testimonial_swiper-prev',
      },
      // Responsive breakpoints
      /*breakpoints: {
    // when window width is >= 320px
    479: {
     slidesPerView: 2,
        spaceBetween: 50,
    },
    // when window width is >= 480px
    767: {
     slidesPerView: 2,
        spaceBetween: 50,
    },
    // when window width is >= 640px
    991: {
      slidesPerView: 2,
      spaceBetween: 50
    }
  },*/
      centeredSlides: true,
    })
    });
</script></div> {% schema %} {"tag":"section","name":"G - Testimonials","class":"section_testimonials","blocks":[{"type":"@app"},{"name":"Headline small","type":"headline-small","settings":[{"id":"text_headline_small","type":"text","label":"Headline small","default":"Wirksam gegen Kalk f\u00fcr maximale Effizienz"}]},{"name":"Headline","type":"headline","settings":[{"id":"text_headline","type":"text","label":"Headline","default":"Aqon Pure reduziert Kalkablagerungen in offenen und geschlossenen Wasserkreisl\u00e4ufen."}]},{"name":"Text","type":"text","settings":[{"id":"richtext_intro_text","type":"richtext","label":"Intro Text","default":"<p>AQON Pure reduziert Kalkablagerungen in offenen und geschlossenen Wasserkreisl\u00e4ufen. Dies sorgt f\u00fcr eine optimale Energieeffizienz und senkt Kosten f\u00fcr Wartung &amp; Instanthaltung<\/p>"}]},{"name":"Span Element","type":"span-element","settings":[{"id":"text_text","type":"text","label":"Text","default":"This is some text inside of a div block."},{"type":"select","id":"class","label":"Klasse","options":[{"value":"text-size-regular","label":"Text"},{"value":"heading-style-h2","label":"H2"},{"value":"heading-style-h3","label":"H3"},{"value":"heading-style-h4","label":"H4"},{"value":"heading-style-h5","label":"H5"}],"default":"text-size-regular"}]},{"name":"Buttons","type":"buttons","settings":[{"id":"text_button_text","type":"text","label":"Button Text","default":"Mehr erfahren"},{"id":"url_button_link","type":"url","label":"Button Link"},{"id":"text_button_text_2","type":"text","label":"Button Text 2","default":"Mehr erfahren"},{"id":"url_button_link_2","type":"url","label":"Button Link 2"}]},{"name":"Privatpersonen","type":"privatpersonen","settings":[{"id":"image_bild","type":"image_picker","label":"Bild"},{"id":"text_video_abspielen","type":"text","label":"Video abspielen","default":"Video abspielen"},{"id":"text_headline","type":"text","label":"Headline","default":"Familie Packmor aus Erfstadt, Nordrhein Westfalen"},{"id":"richtext_text","type":"richtext","label":"Text","default":"<p>\u201cUnsere Anlagen k\u00f6nnen in jede bestehende Rohrleitung eingesetzt werden, selbst bei schwierigen Platzverh\u00e4ltnissen. Auf Wunsch bieten wir einen Einbauservice.\u201d<\/p>"},{"id":"text_installation","type":"text","label":"Installation","default":"Installation"},{"id":"text_installation_wert","type":"text","label":"Installation - Wert","default":"M\u00e4rz 2024"},{"id":"text_produkt","type":"text","label":"Produkt","default":"Produkt"},{"id":"text_produkt_wert","type":"text","label":"Produkt - Wert","default":"Home s"},{"id":"text_personen","type":"text","label":"Personen","default":"Personen im Haushalt"},{"id":"text_personen_wert","type":"text","label":"Personen - Wert","default":"5 (Einfamlienhaus)"},{"id":"text_wasser","type":"text","label":"Wasser","default":"Wasserh\u00e4rte"},{"id":"text_wasser_wert","type":"text","label":"Wasser - Wert","default":"20\u00b0"},{"type":"video","id":"video","label":"Video hochladen"},{"type":"video","id":"thumbnail","label":"Video Thumbnail"}]},{"name":"Fachunternehmen","type":"fachunternehmen","settings":[{"id":"image_bild","type":"image_picker","label":"Bild"},{"id":"text_video_abspielen","type":"text","label":"Video abspielen","default":"Video abspielen"},{"id":"text_headline","type":"text","label":"Headline","default":"Familie Packmor aus Erfstadt, Nordrhein Westfalen"},{"id":"richtext_text","type":"richtext","label":"Text","default":"<p>\u201cUnsere Anlagen k\u00f6nnen in jede bestehende Rohrleitung eingesetzt werden, selbst bei schwierigen Platzverh\u00e4ltnissen. Auf Wunsch bieten wir einen Einbauservice.\u201d<\/p>"},{"id":"text_installation","type":"text","label":"Installation","default":"Installation"},{"id":"text_installation_wert","type":"text","label":"Installation - Wert","default":"M\u00e4rz 2024"},{"id":"text_produkt","type":"text","label":"Produkt","default":"Produkt"},{"id":"text_produkt_wert","type":"text","label":"Produkt - Wert","default":"Home s"},{"id":"text_personen","type":"text","label":"Personen","default":"Personen im Haushalt"},{"id":"text_personen_wert","type":"text","label":"Personen - Wert","default":"5 (Einfamlienhaus)"},{"id":"text_wasser","type":"text","label":"Wasser","default":"Wasserh\u00e4rte"},{"id":"text_wasser_wert","type":"text","label":"Wasser - Wert","default":"20\u00b0"},{"type":"video","id":"video","label":"Video hochladen"},{"type":"video","id":"thumbnail","label":"Video Thumbnail"}]},{"name":"Checkmark","type":"checkmark","settings":[{"id":"text_text","type":"text","label":"Text","default":"Inkl. kostenlosen Wasserh\u00e4rtetest"}]}],"settings":[{"type":"video","id":"video","label":"Video hochladen"},{"id":"text_tab_1","type":"text","label":"Tab 1","default":"Privatpersonen"},{"id":"text_tab_2","type":"text","label":"Tab 2","default":"Fachunternehmen"},{"id":"text_button_text","type":"text","label":"Button Text","default":"Mehr erfahren"},{"id":"url_button_link","type":"url","label":"Button Link"},{"id":"text_button_text_2","type":"text","label":"Button Text 2","default":"Mehr erfahren"},{"id":"url_button_link_2","type":"url","label":"Button Link 2"},{"id":"checkbox_pfeil","type":"checkbox","label":"Pfeil","default":true}],"presets":[{"name":"G - Testimonials","category":"Liquify"}]} {% endschema %}