<div class="trener"></div><div class="padding-global"><div class="container-large"><div class="transission clickable-off"></div><div data-current="Tab 1" data-easing="ease" data-duration-in="300" data-duration-out="100" class="gastro_tabs w-tabs"><div class="gastro_nav no-scrollbar w-tab-menu"><a data-w-tab="Tab 1" class="gastro_tabs-link w-inline-block w-tab-link w--current"><div>
{{ section.settings.text_tab_1 }}
</div>
</a><a data-w-tab="Tab 2" class="gastro_tabs-link w-inline-block w-tab-link"><div>
{{ section.settings.text_tab_2 }}
</div>
</a><a data-w-tab="Tab 3" class="gastro_tabs-link w-inline-block w-tab-link"><div>
{{ section.settings.text_tab_3 }}
</div>
</a><a data-w-tab="Tab 4" class="gastro_tabs-link w-inline-block w-tab-link"><div>
{{ section.settings.text_tab_4 }}
</div>
</a><a data-w-tab="Tab 5" class="gastro_tabs-link w-inline-block w-tab-link"><div>
{{ section.settings.text_tab_5 }}
</div>
</a></div><div class="gastro_tabs-wrapper w-tab-content"><div data-w-tab="Tab 1" class="w-tab-pane w--tab-active"><div class="section_grid is-tabs"><div id="w-node-a1472c7e-2adc-d0a7-4f66-665554126d11-54126cf8" class="content-grid is-tabs"><div id="w-node-a1472c7e-2adc-d0a7-4f66-665554126d12-54126cf8"><div class="heading-large text-color-white"><span>
{{ section.settings.text_name_1 }}
</span>
<span class="text-color-grey">
{{ section.settings.text_position_1 }}
</span>
</div></div><div class="sitemap_info"><div id="w-node-a1472c7e-2adc-d0a7-4f66-665554126d1a-54126cf8" class="text-size-regular text-color-white">Telefon:</div><a id="w-node-a1472c7e-2adc-d0a7-4f66-665554126d1c-54126cf8" href="tel:{{ section.settings.text_telefon_1 }}" class="text-size-regular text-color-white is-link" href="tel:{{ section.settings.text_telefon_1 }}">
{{ section.settings.text_telefon_1 }}
</a>
<div id="w-node-a1472c7e-2adc-d0a7-4f66-665554126d1e-54126cf8" class="text-size-regular text-color-white">E-Mail:</div><a id="w-node-a1472c7e-2adc-d0a7-4f66-665554126d20-54126cf8" href="mailto:{{ section.settings.text_email_1 }}" class="text-size-regular text-color-white is-link" href="mailto:{{ section.settings.text_email_1 }}">
{{ section.settings.text_email_1 }}
</a>
</div></div><img class="section_img is-tabs"
     src="{{ section.settings.image_bild_1 | img_url: 'master' }}"
     alt="{{ section.settings.image_bild_1.alt }}"
     loading="lazy">
</div></div><div data-w-tab="Tab 2" class="w-tab-pane"><div class="section_grid is-tabs"><div id="w-node-a1472c7e-2adc-d0a7-4f66-665554126d25-54126cf8" class="content-grid is-tabs"><div id="w-node-a1472c7e-2adc-d0a7-4f66-665554126d26-54126cf8"><div class="heading-large text-color-white"><span>
{{ section.settings.text_name_2 }}
</span>
<span class="text-color-grey">
{{ section.settings.text_position_2 }}
</span>
</div></div><div class="sitemap_info"><div id="w-node-a1472c7e-2adc-d0a7-4f66-665554126d2e-54126cf8" class="text-size-regular text-color-white">Telefon:</div><a id="w-node-a1472c7e-2adc-d0a7-4f66-665554126d30-54126cf8" href="tel:{{ section.settings.text_telefon_2 }}" class="text-size-regular text-color-white is-link" href="tel:{{ section.settings.text_telefon_2 }}">
{{ section.settings.text_telefon_2 }}
</a>
<div id="w-node-a1472c7e-2adc-d0a7-4f66-665554126d32-54126cf8" class="text-size-regular text-color-white">E-Mail:</div><a id="w-node-a1472c7e-2adc-d0a7-4f66-665554126d34-54126cf8" href="mailto:{{ section.settings.text_email_2 }}" class="text-size-regular text-color-white is-link" href="mailto:{{ section.settings.text_email_2 }}">
{{ section.settings.text_email_2 }}
</a>
</div></div><img class="section_img is-tabs"
     src="{{ section.settings.image_bild_2 | img_url: 'master' }}"
     alt="{{ section.settings.image_bild_2.alt }}"
     loading="lazy">
</div></div><div data-w-tab="Tab 3" class="w-tab-pane"><div class="section_grid is-tabs"><div id="w-node-a1472c7e-2adc-d0a7-4f66-665554126d39-54126cf8" class="content-grid is-tabs"><div id="w-node-a1472c7e-2adc-d0a7-4f66-665554126d3a-54126cf8"><div class="heading-large text-color-white"><span>
{{ section.settings.text_name_3 }}
</span>
<span class="text-color-grey">
{{ section.settings.text_position_3 }}
</span>
</div></div><div class="sitemap_info"><div id="w-node-a1472c7e-2adc-d0a7-4f66-665554126d42-54126cf8" class="text-size-regular text-color-white">Telefon:</div><a id="w-node-a1472c7e-2adc-d0a7-4f66-665554126d44-54126cf8" href="tel:{{ section.settings.text_telefon_3 }}" class="text-size-regular text-color-white is-link" href="tel:{{ section.settings.text_telefon_3 }}">
{{ section.settings.text_telefon_3 }}
</a>
<div id="w-node-a1472c7e-2adc-d0a7-4f66-665554126d46-54126cf8" class="text-size-regular text-color-white">E-Mail:</div><a id="w-node-a1472c7e-2adc-d0a7-4f66-665554126d48-54126cf8" href="mailto:{{ section.settings.text_email_3 }}" class="text-size-regular text-color-white is-link" href="mailto:{{ section.settings.text_email_3 }}">
{{ section.settings.text_email_3 }}
</a>
</div></div><img class="section_img is-tabs"
     src="{{ section.settings.image_bild_3 | img_url: 'master' }}"
     alt="{{ section.settings.image_bild_3.alt }}"
     loading="lazy">
</div></div><div data-w-tab="Tab 4" class="w-tab-pane"><div class="section_grid is-tabs"><div id="w-node-a1472c7e-2adc-d0a7-4f66-665554126d4d-54126cf8" class="content-grid is-tabs"><div id="w-node-a1472c7e-2adc-d0a7-4f66-665554126d4e-54126cf8"><div class="heading-large text-color-white"><span>
{{ section.settings.text_name_4 }}
</span>
<span class="text-color-grey">
{{ section.settings.text_position_4 }}
</span>
</div></div><div class="sitemap_info"><div id="w-node-a1472c7e-2adc-d0a7-4f66-665554126d56-54126cf8" class="text-size-regular text-color-white">Telefon:</div><a id="w-node-a1472c7e-2adc-d0a7-4f66-665554126d58-54126cf8" href="tel:{{ section.settings.text_telefon_4 }}" class="text-size-regular text-color-white is-link" href="tel:{{ section.settings.text_telefon_4 }}">
{{ section.settings.text_telefon_4 }}
</a>
<div id="w-node-a1472c7e-2adc-d0a7-4f66-665554126d5a-54126cf8" class="text-size-regular text-color-white">E-Mail:</div><a id="w-node-a1472c7e-2adc-d0a7-4f66-665554126d5c-54126cf8" href="mailto:{{ section.settings.text_email_4 }}" class="text-size-regular text-color-white is-link" href="mailto:{{ section.settings.text_email_4 }}">
{{ section.settings.text_email_4 }}
</a>
</div></div><img class="section_img is-tabs"
     src="{{ section.settings.image_bild_4 | img_url: 'master' }}"
     alt="{{ section.settings.image_bild_4.alt }}"
     loading="lazy">
</div></div><div data-w-tab="Tab 5" class="w-tab-pane"><div class="section_grid is-tabs"><div id="w-node-a1472c7e-2adc-d0a7-4f66-665554126d61-54126cf8" class="content-grid is-tabs"><div id="w-node-a1472c7e-2adc-d0a7-4f66-665554126d62-54126cf8"><div class="heading-large text-color-white"><span>
{{ section.settings.text_name_5 }}
</span>
<span class="text-color-grey">
{{ section.settings.text_position_5 }}
</span>
</div></div><div class="sitemap_info"><div id="w-node-a1472c7e-2adc-d0a7-4f66-665554126d6a-54126cf8" class="text-size-regular text-color-white">Telefon:</div><a id="w-node-a1472c7e-2adc-d0a7-4f66-665554126d6c-54126cf8" href="tel:{{ section.settings.text_telefon_5 }}" class="text-size-regular text-color-white is-link" href="tel:{{ section.settings.text_telefon_5 }}">
{{ section.settings.text_telefon_5 }}
</a>
<div id="w-node-a1472c7e-2adc-d0a7-4f66-665554126d6e-54126cf8" class="text-size-regular text-color-white">E-Mail:</div><a id="w-node-a1472c7e-2adc-d0a7-4f66-665554126d70-54126cf8" href="mailto:{{ section.settings.text_email_5 }}" class="text-size-regular text-color-white is-link" href="mailto:{{ section.settings.text_email_5 }}">
{{ section.settings.text_email_5 }}
</a>
</div></div><img class="section_img is-tabs"
     src="{{ section.settings.image_bild_5 | img_url: 'master' }}"
     alt="{{ section.settings.image_bild_5.alt }}"
     loading="lazy">
</div></div></div></div></div></div><div id="lage" class="anchor-link"></div> {% schema %} {"tag":"section","name":"gastro_tabs","class":"section_gastro-kontakt is-tabs","settings":[{"id":"text_tab_1","type":"text","label":"Tab-1","default":"Gastrovertrieb"},{"id":"text_tab_2","type":"text","label":"Tab-2","default":"Gastrovertrieb"},{"id":"text_tab_3","type":"text","label":"Tab-3","default":"Gastrovertrieb"},{"id":"text_tab_4","type":"text","label":"Tab-4","default":"Tab 4"},{"id":"text_tab_5","type":"text","label":"Tab-5","default":"Tab 5"},{"id":"text_name_1","type":"text","label":"Name-1","default":"Florian Blach"},{"id":"text_position_1","type":"text","label":"Position-1","default":"(Gastronomievertieb)"},{"id":"text_telefon_1","type":"text","label":"Telefon-1","default":"Text Link"},{"id":"text_email_1","type":"text","label":"Email-1","default":"info@vioneers.com"},{"id":"image_bild_1","type":"image_picker","label":"Bild-1"},{"id":"text_name_2","type":"text","label":"Name-2","default":"Florian Blach"},{"id":"text_position_2","type":"text","label":"Position-2","default":"(Gastronomievertieb)"},{"id":"text_telefon_2","type":"text","label":"Telefon-2","default":"Text Link"},{"id":"text_email_2","type":"text","label":"Email-2","default":"info@vioneers.com"},{"id":"image_bild_2","type":"image_picker","label":"Bild-2"},{"id":"text_name_3","type":"text","label":"Name-3","default":"Florian Blach"},{"id":"text_position_3","type":"text","label":"Position-3","default":"(Gastronomievertieb)"},{"id":"text_telefon_3","type":"text","label":"Telefon-3","default":"Text Link"},{"id":"text_email_3","type":"text","label":"Email-3","default":"info@vioneers.com"},{"id":"image_bild_3","type":"image_picker","label":"Bild-3"},{"id":"text_name_4","type":"text","label":"Name-4","default":"Florian Blach"},{"id":"text_position_4","type":"text","label":"Position-4","default":"(Gastronomievertieb)"},{"id":"text_telefon_4","type":"text","label":"Telefon-4","default":"Text Link"},{"id":"text_email_4","type":"text","label":"Email-4","default":"info@vioneers.com"},{"id":"image_bild_4","type":"image_picker","label":"Bild-4"},{"id":"text_name_5","type":"text","label":"Name-5","default":"Florian Blach"},{"id":"text_position_5","type":"text","label":"Position-5","default":"(Gastronomievertieb)"},{"id":"text_telefon_5","type":"text","label":"Telefon-5","default":"Text Link"},{"id":"text_email_5","type":"text","label":"Email-5","default":"info@vioneers.com"},{"id":"image_bild_5","type":"image_picker","label":"Bild-5"}],"presets":[{"name":"gastro_tabs","category":"Liquify"}]} {% endschema %}