<div class="{% if section.settings.background_color == '' %}padding-global padding-section-medium{% else %}padding-global padding-section-medium background-color-light-blue{% endif %}"><div class="container-large">{% assign blockUsed = section.blocks.first %}
{% if blockUsed and blockUsed.settings != blank %}    <div li-if="blockUsed and blockUsed.settings != blank" class="testimonials_component">
    {% for block in section.blocks %}
    {% if block.type == "testimonial" %}
                    <div li-block="Testimonial" class="testimonials_img-wrapper">
                                    <img src="{{ block.settings.image_testimonial_first_img | img_url: 'master' }}" loading="lazy" alt="{{ block.settings.image_testimonial_first_img.alt }}" class="testimonials_img first-img"}>

                            </div>
            {% endif %}
{% endfor %}
    </div>
{% endif %}<div li-content-for-blocks="" class="content-centerd_wrapper">
{% for block in section.blocks %}
    {% case block.type %}
        {% when '@app' %}
            {% render block %}
    {% when 'headline-small' %}
            <div li-block="Headline small">
                    <h2 class="heading-style-small">
{{ block.settings.text_headline_small }}
</h2>

                </div>
    {% when 'headline' %}
            <div li-block="Headline">
                    <h1 class="heading-style-h2">
{{ block.settings.text_headline }}
</h1>

                </div>
    {% when 'text' %}
            <div li-block="Text">
                    <div class="max-width-xlarge"> {{ block.settings.richtext_intro_text }} </div>

                </div>
    {% when 'span-element' %}
            <div li-block="Span Element">
                    <div class="{{ block.settings.class }}">
{{ block.settings.text_text }}
</div>

                    <div class="li-custom w-embed"></div>

                </div>
    {% when 'buttons' %}
            <div li-block="Buttons">
                    {% if block.settings.text_button_text != blank or block.settings.text_button_text_2 != blank %}    <div li-if="block.settings.text_button_text != blank or block.settings.text_button_text_2 != blank" id="w-node-_646415cb-5361-ecd4-2e80-4b94cc580336-cc580336" class="button-group padding-top padding-small">
    {% if block.settings.text_button_text != blank %}    <div li-if="block.settings.text_button_text != blank" id="w-node-f50b8864-b770-3670-2cd2-0a3a2cd2ed87-cc580336">
    <a aria-label="{{ block.settings.text_button_text }}" id="w-node-_646415cb-5361-ecd4-2e80-4b94cc580337-cc580336" href="{{ block.settings.url_button_link }}" class="button w-button"> {{ block.settings.text_button_text }} </a>
    </div>
{% endif %}{% if block.settings.text_button_text_2 != blank %}    <div li-if="block.settings.text_button_text_2 != blank" id="w-node-bf33479f-2361-66f9-dba6-9cb9a97f87f3-cc580336">
    <a aria-label="{{ block.settings.text_button_text_2 }}" id="w-node-_646415cb-5361-ecd4-2e80-4b94cc580339-cc580336" href="{{ block.settings.url_button_link_2 }}" class="button is-secondary w-button"> {{ block.settings.text_button_text_2 }} </a>
    </div>
{% endif %}    </div>
{% endif %}
                </div>
        {% endcase %}
{% endfor %}

</div>

<div data-hover-pause="" id="w-node-_1fe325b2-42b4-f822-d9b0-d32cb08b5148-b08b5148" class="clients_component"><div class="clients_logo-row">{% for block in section.blocks %}
    {% if block.type == "logo" %}
                    <div li-block="Logo" class="clients_logo-item">
                                    <img width="136" id="w-node-_1fe325b2-42b4-f822-d9b0-d32cb08b514b-b08b5148" alt="{{ block.settings.image_logo.alt }}" src="{{ block.settings.image_logo | img_url: 'master' }}" loading="eager" class="clients_logo"}>

                            </div>
            {% endif %}
{% endfor %}
</div><div li-for:inside="block in section.blocks" class="clients_logo-row">
        {% for block in section.blocks %}                            
                            {% if block.type == 'logo' %}    <div li-if="block.type == 'logo'" class="clients_logo-item">
    <img width="136" id="w-node-_1fe325b2-42b4-f822-d9b0-d32cb08b514e-b08b5148" alt="{{ block.settings.image_logo.alt }}" src="{{ block.settings.image_logo | img_url: 'master' }}" loading="eager" li-object:alt="block.settings.image_logo.alt" li-object:src="block.settings.image_logo | img_url: 'master'" class="clients_logo">
    </div>
{% endif %}
                            
                    {% endfor %}    </div>
<div class="{% if section.settings.background_color == '' %}logo_swiper-gradient{% else %}logo_swiper-gradient is-light-blue{% endif %}"></div><div class="logo_swiper-gradient is-light-blue hide"></div></div><div><div id="w-node-_90bb382c-796d-02a9-185a-3f8650a108a2-00e96053" class="swiper is-einbau"><div class="swiper-wrapper">{% for block in section.blocks %}
    {% if block.type == "slide" %}
                    <div li-block="Slide" class="swiper-slide is-imgs">
                                    <img loading="eager" alt="{{ block.settings.image_bild.alt }}" src="{{ block.settings.image_bild | img_url: 'master' }}" class="swiper-img"}>

                                    {% if block.settings.image_logo != blank %}    <div li-if="block.settings.image_logo != blank">
    <img loading="lazy" alt="{{ block.settings.image_logo.alt }}" src="{{ block.settings.image_logo | img_url: 'master' }}" class="hero_badge-img-2"}>
    </div>
{% endif %}
                                    {% if block.settings.text_beschreibung != blank %}    <div li-if="block.settings.text_beschreibung != blank">
    <div class="swiper_image-tag">
{{ block.settings.text_beschreibung }}
</div>
    </div>
{% endif %}
                            </div>
            {% endif %}
{% endfor %}
</div><div class="einbau-pagination"><div class="swiper-pagination-bullet"></div><div class="swiper-pagination-bullet swiper-pagination-bullet-active"></div></div><div class="ueber_swiper-right"><div class="einbau_swiper_next"><div class="swiper-icon w-embed"><svg width=" 100%" height=" 100%" viewbox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg"><mask id="mask0_7192_3574" style="mask-type:alpha" maskunits="userSpaceOnUse" x="2" y="2" width="21" height="21"><rect x="22.7793" y="2.22314" width="20.5541" height="20.5541" transform="rotate(90 22.7793 2.22314)" fill="currentColor"></rect></mask><g mask="url(#mask0_7192_3574)"><path d="M13.3594 12.5003L9.41992 8.5608L10.6189 7.36182L15.7574 12.5003L10.6189 17.6388L9.41992 16.4399L13.3594 12.5003Z" fill="currentColor"></path></g></svg></div></div></div><div class="ueber_swiper-left"><div class="einbau_swiper_prev"><div class="swiper-icon w-embed"><svg width=" 100%" height=" 100%" viewbox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg"><mask id="mask0_7192_3567" style="mask-type:alpha" maskunits="userSpaceOnUse" x="2" y="2" width="21" height="21"><rect x="2.2207" y="22.7769" width="20.5541" height="20.5541" transform="rotate(-90 2.2207 22.7769)" fill="currentColor"></rect></mask><g mask="url(#mask0_7192_3567)"><path d="M11.6406 12.4997L15.5801 16.4392L14.3811 17.6382L9.24258 12.4997L14.3811 7.36116L15.5801 8.56014L11.6406 12.4997Z" fill="currentColor"></path></g></svg></div></div></div></div></div>{% if section.settings.image_bild %}    <div li-if="section.settings.image_bild">
    <img src="{{ section.settings.image_bild | img_url: 'master' }}" loading="eager" alt="{{ section.settings.image_bild.alt }}" class="service_hero_img"}>
    </div>
{% endif %}</div></div>{% if section.settings.checkbox_pfeil == true %}
<div class="direction-holder"><img loading="lazy" src="{{ 'line-green.svg' | asset_url }}" alt="" class="direction-icon">
</div>{% endif %}
<div class="hide w-embed w-script"><script>pageFunctions.addFunction('einbauSlider', function() {
    const swiperEinbauHero = new Swiper('.is-einbau', {
      slidesPerView: 1,
      spaceBetween: 0,
      navigation: {
        nextEl: '.einbau_swiper_next',
        prevEl: '.einbau_swiper_prev',
      },
      pagination: {
        el: ".einbau-pagination",
        clickable: true
      },
      // Responsive breakpoints
      /*breakpoints: {
    // when window width is >= 320px
    479: {
     slidesPerView: 2,
        spaceBetween: 50,
    },
    // when window width is >= 480px
    767: {
     slidesPerView: 2,
        spaceBetween: 50,
    },
    // when window width is >= 640px
    991: {
      slidesPerView: 2,
      spaceBetween: 50
    }
  },*/
    })
    });
</script></div><div class="li-custom"><div class="li-custom w-embed"></div>
</div> {% schema %} {"tag":"section","name":"H - Bild","class":"section_service_hero","blocks":[{"type":"@app"},{"name":"Testimonial","type":"testimonial","settings":[{"id":"image_testimonial_first_img","type":"image_picker","label":"Testimonial First Img"}]},{"name":"Headline small","type":"headline-small","settings":[{"id":"text_headline_small","type":"text","label":"Headline small","default":"Wirksam gegen Kalk f\u00fcr maximale Effizienz"}]},{"name":"Headline","type":"headline","settings":[{"id":"text_headline","type":"text","label":"Headline","default":"Aqon Pure reduziert Kalkablagerungen in offenen und geschlossenen Wasserkreisl\u00e4ufen."}]},{"name":"Text","type":"text","settings":[{"id":"richtext_intro_text","type":"richtext","label":"Intro Text","default":"<p>AQON Pure reduziert Kalkablagerungen in offenen und geschlossenen Wasserkreisl\u00e4ufen. Dies sorgt f\u00fcr eine optimale Energieeffizienz und senkt Kosten f\u00fcr Wartung &amp; Instanthaltung<\/p>"}]},{"name":"Span Element","type":"span-element","settings":[{"id":"text_text","type":"text","label":"Text","default":"This is some text inside of a div block."},{"type":"select","id":"class","label":"Klasse","options":[{"value":"text-size-regular","label":"Text"},{"value":"heading-style-h2","label":"H2"},{"value":"heading-style-h3","label":"H3"},{"value":"heading-style-h4","label":"H4"},{"value":"heading-style-h5","label":"H5"}],"default":"text-size-regular"}]},{"name":"Buttons","type":"buttons","settings":[{"id":"text_button_text","type":"text","label":"Button Text","default":"Mehr erfahren"},{"id":"url_button_link","type":"url","label":"Button Link"},{"id":"text_button_text_2","type":"text","label":"Button Text 2","default":"Mehr erfahren"},{"id":"url_button_link_2","type":"url","label":"Button Link 2"}]},{"name":"Logo","type":"logo","settings":[{"id":"image_logo","type":"image_picker","label":"Logo"}]},{"name":"Slide","type":"slide","settings":[{"id":"image_bild","type":"image_picker","label":"Bild"},{"id":"image_logo","type":"image_picker","label":"Logo"},{"id":"text_beschreibung","type":"text","label":"Beschreibung","default":"This is some text inside of a div block. "}]}],"settings":[{"id":"image_bild","type":"image_picker","label":"Bild"},{"id":"checkbox_pfeil","type":"checkbox","label":"Pfeil","default":true},{"type":"select","id":"background_color","label":"Hintergrund Farbe","options":[{"value":"","label":"Wei\u00df"},{"value":"background-color-light-blue","label":"Hellblau"}],"default":""}],"presets":[{"name":"H - Bild","category":"Liquify"}]} {% endschema %}