<div data-animation="default" class="navbar_component w-nav" data-easing2="ease" fs-scrolldisable-element="smart-nav" data-easing="ease" data-collapse="all" data-w-id="1f4a994c-7640-c194-e1f7-4193b5553f7b" role="banner" data-no-scroll="1" data-duration="400"><div class="navbar_container"><a href="{{ routes.root_url }}" li-object:href="routes.root_url" class="navbar_logo-link w-nav-brand"><img src="{{ 'vioneers-logo.svg' | asset_url }}" loading="lazy" alt="" class="navbar_logo">
</a><div class="navbar_wrapper">{% for link in linklists['main-menu'].links %}    <div data-hover="true" data-delay="200" li-for="link in linklists['main-menu'].links" class="navbar_menu-dropdown w-dropdown">
                                    
                            <div class="navbar_dropdown-toggle w-dropdown-toggle"><a li-object:href="link.url" href="{{ link.url }}" class="navbar_dropdown-toggle-link w-inline-block"><div class="{% if link.title == 'Schatzkammer' %}text-weight-bold text-color-gold{% endif %}"><div li-object="link.title">{{ link.title }}</div></div>{% if link.links.size > 0 %}    <div li-if="link.links.size > 0" class="dropdown-icon w-embed">
    <svg width="100%" height="100%" viewbox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M2.55806 6.29544C2.46043 6.19781 2.46043 6.03952 2.55806 5.94189L3.44195 5.058C3.53958 4.96037 3.69787 4.96037 3.7955 5.058L8.00001 9.26251L12.2045 5.058C12.3021 4.96037 12.4604 4.96037 12.5581 5.058L13.4419 5.94189C13.5396 6.03952 13.5396 6.19781 13.4419 6.29544L8.17678 11.5606C8.07915 11.6582 7.92086 11.6582 7.82323 11.5606L2.55806 6.29544Z" fill="currentColor"></path></svg>    </div>
{% endif %}</a></div>
                            
                            {% if link.links.size > 0  %}    <nav li-if="link.links.size > 0 " class="navbar_dropdown-list no-scrollbar w-dropdown-list">
    <div class="padding-global max-width-full"><div class="container-large"><div class="navbar_dropdown-grid">{% for child_link in link.links %}    <div li-for="child_link in link.links" id="w-node-fe87393d-082f-5f45-1422-9eb1ffe43a33-b641c10b">
                                    
                            <a href="{{ child_link.url }}" li-object="child_link.title" li-object:href="child_link.url" class="navbar_dropdown-link w-dropdown-link">{{ child_link.title }}</a>
                            
                            {% if child_link.links.size > 0 %}    <div li-if="child_link.links.size > 0">
    {% for grandchild_link in child_link.links %}    <div li-for="grandchild_link in child_link.links">
                                    
                            <a href="{{ grandchild_link.url }}" li-object="grandchild_link.title" li-object:href="grandchild_link.url" class="navbar_dropdown-link_child w-dropdown-link">{{ grandchild_link.title }}</a>
                            
                        </div>
{% endfor %}    </div>
{% endif %}
                            
                        </div>
{% endfor %}</div></div></div>    </nav>
{% endif %}
                            
                        </div>
{% endfor %}</div><nav role="navigation" id="w-node-_1f4a994c-7640-c194-e1f7-4193b5553f7f-b641c10b" class="navbar_menu is-page-height-tablet w-nav-menu">{% for child_link in link.links %}    <div x-bind:class="open ? 'is-open' : ''" li-for="child_link in link.links" class="dropdown-icon is-open hide">
                                    
                        </div>
{% endfor %}{% for child_link in link.links %}    <div x-bind:class="open ? 'is-open' : ''" li-for="child_link in link.links" class="navbar_child-link-wrapper is-open hide">
                                    
                        </div>
{% endfor %}<div x-bind:class="open ? 'is-open' : ''" li-for:inside="child_link in link.links" class="navbar_child-link-wrapper is-open hide">
        {% for child_link in link.links %}                            
                    {% endfor %}    </div>
<div class="navbar_child-link-wrapper-child is-open hide"></div><div class="padding-global is-mobil-nav"><div class="container-large"><div>{% for link in linklists['main-menu'].links %}    <div x-data="{ open: false }" li-for="link in linklists['main-menu'].links" id="w-node-_6c4938a2-23d1-a0a5-266e-393522ac54f8-b641c10b" class="navbar_link-wrapper hide-desktop">
                                    
                            <div x-on:click="open = ! open" class="navbar_dropdown-link"><a x-on:click="open = ! open" li-object:href="link.url" href="{{ link.url }}" class="navbar_stretch-link w-inline-block"><div li-object="link.title">{{ link.title }}</div></a>{% if link.links.size > 0 %}    <div li-if="link.links.size > 0" class="navbar_stretch-icon">
    <div x-bind:class="open ? 'is-open' : ''" class="dropdown-icon w-embed"><svg width="100%" height="100%" viewbox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M2.55806 6.29544C2.46043 6.19781 2.46043 6.03952 2.55806 5.94189L3.44195 5.058C3.53958 4.96037 3.69787 4.96037 3.7955 5.058L8.00001 9.26251L12.2045 5.058C12.3021 4.96037 12.4604 4.96037 12.5581 5.058L13.4419 5.94189C13.5396 6.03952 13.5396 6.19781 13.4419 6.29544L8.17678 11.5606C8.07915 11.6582 7.92086 11.6582 7.82323 11.5606L2.55806 6.29544Z" fill="currentColor"></path></svg></div>    </div>
{% endif %}</div>
                            
                            <div x-bind:class="open ? 'is-open' : ''" li-for:inside="child_link in link.links" class="navbar_child-link-wrapper">
        {% for child_link in link.links %}                            
                            <div x-data="{ openChild: false }"><div x-on:click="openChild = ! openChild" class="navbar_dropdown-link_child"><a li-object:href="child_link.url" href="{{ child_link.url }}" class="navbar_stretch-link w-inline-block"><div li-object="child_link.title">{{ child_link.title }}</div></a>{% if child_link.links.size > 0 %}    <div li-if="child_link.links.size > 0" class="navbar_stretch-icon">
    <div x-bind:class="openChild ? 'is-open' : ''" class="dropdown-icon w-embed"><svg width="100%" height="100%" viewbox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M2.55806 6.29544C2.46043 6.19781 2.46043 6.03952 2.55806 5.94189L3.44195 5.058C3.53958 4.96037 3.69787 4.96037 3.7955 5.058L8.00001 9.26251L12.2045 5.058C12.3021 4.96037 12.4604 4.96037 12.5581 5.058L13.4419 5.94189C13.5396 6.03952 13.5396 6.19781 13.4419 6.29544L8.17678 11.5606C8.07915 11.6582 7.92086 11.6582 7.82323 11.5606L2.55806 6.29544Z" fill="currentColor"></path></svg></div>    </div>
{% endif %}</div>{% if child_link.links.size > 0 %}    <div x-bind:class="openChild ? 'is-open' : ''" li-if="child_link.links.size > 0" class="navbar_child-link-wrapper-child">
    {% for grandchild_link in child_link.links %}    <div li-for="grandchild_link in child_link.links">
                                    
                            <a li-object:href="grandchild_link.url" li-object="grandchild_link.title" href="{{ grandchild_link.url }}" class="navbar_dropdown-link_grand-child">{{ grandchild_link.title }}</a>
                            
                        </div>
{% endfor %}    </div>
{% endif %}</div>
                            
                    {% endfor %}    </div>

                            
                        </div>
{% endfor %}{% for link in linklists['burger-menu'].links %}    <div x-data="{ open: false }" li-for="link in linklists['burger-menu'].links" id="w-node-_47a4d4a8-107d-3755-970f-ef2466fdf6f9-b641c10b" class="navbar_link-wrapper">
                                    
                            <div x-on:click="open = ! open" class="navbar_dropdown-link hide-desktop"><a li-object:href="link.url" href="{{ link.url }}" class="navbar_stretch-link w-inline-block"><div li-object="link.title">{{ link.title }}</div></a>{% if link.links.size > 0 %}    <div li-if="link.links.size > 0" class="navbar_stretch-icon">
    <div x-bind:class="open ? 'is-open' : ''" class="dropdown-icon w-embed"><svg width=" 100%" height=" 100%" viewbox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M2.55806 6.29544C2.46043 6.19781 2.46043 6.03952 2.55806 5.94189L3.44195 5.058C3.53958 4.96037 3.69787 4.96037 3.7955 5.058L8.00001 9.26251L12.2045 5.058C12.3021 4.96037 12.4604 4.96037 12.5581 5.058L13.4419 5.94189C13.5396 6.03952 13.5396 6.19781 13.4419 6.29544L8.17678 11.5606C8.07915 11.6582 7.92086 11.6582 7.82323 11.5606L2.55806 6.29544Z" fill="currentColor"></path></svg></div>    </div>
{% endif %}</div>
                            
                            <div x-bind:class="open ? 'is-open' : ''" li-for:inside="child_link in link.links" class="navbar_child-link-wrapper navbar_dropdown-grid">
        {% for child_link in link.links %}                            
                            <a li-object:href="child_link.url" href="{{ child_link.url }}" class="navbar_dropdown-link_child is-more-burger w-inline-block"><div li-object="child_link.title">{{ child_link.title }}</div></a>
                            
                    {% endfor %}    </div>

                            
                        </div>
{% endfor %}</div></div></div></nav><div x-data="{modals: 0}" class="navbar_shop-wrapper"><div class="navbar_shop-icons"><div><div x-on:click="modals = 1; $nextTick(() => { if (modals === 1) $refs.inputField.focus(); })" class="navbar_shop-icon is-search"><div class="icon-embed-xsmall w-embed"><svg width="24" height="23" viewbox="0 0 24 23" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="10.5944" cy="10.5412" r="8.59468" transform="rotate(2.55827 10.5944 10.5412)" stroke="#0C0C0C" stroke-width="2"></circle><path d="M17.5352 16.4536L22.1493 20.6615" stroke="#0C0C0C" stroke-width="2" stroke-linecap="square" stroke-linejoin="round"></path></svg></div></div><div x-bind:class="modals === 1 ? 'is-open' : ''" class="navbar_predictive-search-holder"><div x-on:click="modals = 0" class="navbar_predictive-search-close"></div><div><div class="predictive-search_component"><div class="predictive-search_header"><div class="heading-style-h3">Suche</div><div x-on:click="modals = 0" class="predictive-search_close w-embed"><svg width="15" height="15" viewbox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.84775 14.178L0.447754 12.778L6.04775 7.17798L0.447754 1.57798L1.84775 0.177979L7.44775 5.77798L13.0478 0.177979L14.4478 1.57798L8.84775 7.17798L14.4478 12.778L13.0478 14.178L7.44775 8.57798L1.84775 14.178Z" fill="currentColor"></path></svg></div></div><div id="originaldiv" class="predictive-search_holder"><div class="predictive-search_form w-form"><form method="get" name="wf-form-produkt-suche" data-name="produkt-suche" role="search" action="/search" id="wf-form-produkt-suche" x-bind:action="'{{ routes.search_url }}'" class="predictive-search_form-component" data-wf-page-id="65d38219e69198496ff8b597" data-wf-element-id="5b2e553e-a617-32ad-1ea6-e4a5af758746"><div class="predictive-search_input-holder"><input name="type" type="hidden" class="form_input" value="product">
<input type="search" name="q" placeholder="Jetzt Suchen" id="suche" x-ref="inputField" class="predictive-search_input _w-input">
<button type="submit" class="navbar_shop-icon"><div class="icon-embed-xsmall w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewbox="0 0 25 25" fill="none" preserveaspectratio="xMidYMid meet" aria-hidden="true" role="img"><mask id="mask0_2941_121300" style="mask-type:alpha" maskunits="userSpaceOnUse" x="0" y="0" width="25" height="25"><rect x="0.123535" y="0.987549" width="24" height="24" fill="#D9D9D9"></rect></mask><g mask="url(#mask0_2941_121300)"><path d="M19.7235 21.9875L13.4235 15.6875C12.9235 16.0875 12.3485 16.4042 11.6985 16.6375C11.0485 16.8709 10.3569 16.9875 9.62354 16.9875C7.80687 16.9875 6.26937 16.3584 5.01104 15.1C3.7527 13.8417 3.12354 12.3042 3.12354 10.4875C3.12354 8.67088 3.7527 7.13338 5.01104 5.87505C6.26937 4.61672 7.80687 3.98755 9.62354 3.98755C11.4402 3.98755 12.9777 4.61672 14.236 5.87505C15.4944 7.13338 16.1235 8.67088 16.1235 10.4875C16.1235 11.2209 16.0069 11.9125 15.7735 12.5625C15.5402 13.2125 15.2235 13.7875 14.8235 14.2875L21.1235 20.5875L19.7235 21.9875ZM9.62354 14.9875C10.8735 14.9875 11.936 14.55 12.811 13.675C13.686 12.8 14.1235 11.7375 14.1235 10.4875C14.1235 9.23755 13.686 8.17505 12.811 7.30005C11.936 6.42505 10.8735 5.98755 9.62354 5.98755C8.37354 5.98755 7.31104 6.42505 6.43604 7.30005C5.56104 8.17505 5.12354 9.23755 5.12354 10.4875C5.12354 11.7375 5.56104 12.8 6.43604 13.675C7.31104 14.55 8.37354 14.9875 9.62354 14.9875Z" fill="currentColor"></path></g></svg></div></button></div><div id="predictive-search" fs-scrolldisable-element="preserve" class="predictive-search_overflow no-scrollbar"><div li-section="predictive-search">{% if predictive_search.performed %}    <div li-if="predictive_search.performed">
    {% assign first_column_results_size = predictive_search.resources.queries.size | plus: predictive_search.resources.collections.size | plus: predictive_search.resources.pages.size | plus: predictive_search.resources.articles.size | plus: predictive_search.resources.products.size %}
{% if first_column_results_size > 0 %}    <div li-if="first_column_results_size > 0">
    {% if predictive_search.resources.queries.size > 0 or predictive_search.resources.collections.size > 0 %}    <div li-if="predictive_search.resources.queries.size > 0 or predictive_search.resources.collections.size > 0" class="predictive-search_topic">
    <div class="predictive-search_headline"><div class="text-style-muted">Vorschläge</div></div><ul role="list" class="predictive-search_list w-list-unstyled">{% for query in predictive_search.resources.queries %}    <li li-for="query in predictive_search.resources.queries" class="predictive-search_item">
                                    
                            <a x-bind:href="{{ query.url }}" href="#" class="predictive-search_link w-inline-block"><div li-object="query.styled_text">{{ query.styled_text }}</div></a>
                            
                        </li>
{% endfor %}{% for collection in predictive_search.resources.collections %}    <li li-for="collection in predictive_search.resources.collections" class="predictive-search_item">
                                    
                            <a x-bind:href="'{{ collection.url }}'" href="#" class="predictive-search_link w-inline-block"><div li-object="collection.title">{{ collection.title }}</div></a>
                            
                        </li>
{% endfor %}</ul>    </div>
{% endif %}{% if predictive_search.resources.products.size > 0 or predictive_search.resources.articles.size > 0 or predictive_search.resources.pages.size > 0 %}    <div li-if="predictive_search.resources.products.size > 0 or predictive_search.resources.articles.size > 0 or predictive_search.resources.pages.size > 0" class="predictive-search_topic">
    <div class="predictive-search_headline"><div class="text-style-muted">Produkte</div></div><ul role="list" class="predictive-search_product-list w-list-unstyled">{% for product in predictive_search.resources.products %}    <li li-for="product in predictive_search.resources.products" class="predictive-search_produt-item">
                                    
                            <a x-bind:href="'{{ product.url }}'" href="#" class="predictive-search_line-item w-inline-block"><div class="predictive-search_image-wrapper"><img li-object:src="product.featured_media | image_url: width: 150" li-object:alt="product.featured_image.alt" src="{{ product.featured_media | image_url: width: 150 }}" loading="lazy" alt="{{ product.featured_image.alt }}" class="predictive-search_image">
</div><div class="predictive-search_product-info"><div><div class="text-size-regular text-weight-bold text-style-ptserif is-inline"><span li-object="product.title | append: ' '">{{ product.title | append: ' ' }}</span></div>{% if product.metafields.product.vintage != 'NV' %}    <div li-if="product.metafields.product.vintage != 'NV'" class="text-size-regular text-weight-bold text-style-ptserif is-inline">
    <span li-object="product.metafields.product.vintage | prepend: ' '">{{ product.metafields.product.vintage | prepend: ' ' }}</span>    </div>
{% endif %}</div><div class="text-size-small text-style-ptserif"><span li-object="product.price | money">{{ product.price | money }}</span></div></div></a>
                            
                        </li>
{% endfor %}</ul>    </div>
{% endif %}{% if predictive_search.resources.articles.size > 0 or predictive_search.resources.pages.size > 0 %}    <div li-if="predictive_search.resources.articles.size > 0 or predictive_search.resources.pages.size > 0" class="predictive-search_topic">
    <div class="predictive-search_headline"><div class="text-style-muted text-style-ptserif">Seiten</div></div><ul role="list" class="predictive-search_list w-list-unstyled">{% for page in predictive_search.resources.pages %}    <li li-for="page in predictive_search.resources.pages" class="predictive-search_item">
                                    
                            <a x-bind:href="'{{ page.url }}'" href="#" class="predictive-search_link w-inline-block"><div li-object="page.title">{{ page.title }}</div></a>
                            
                        </li>
{% endfor %}</ul>    </div>
{% endif %}    </div>
{% endif %}{% if first_column_results_size == 0 %}    <div li-if="first_column_results_size == 0">
    <div class="predictive-search_topic"><div class="text-style-muted">Keine Ergebnisse zu "<span li-object="predictive_search.terms">{{ predictive_search.terms }}</span>"</div></div>    </div>
{% endif %}    </div>
{% endif %}{% unless predictive_search.performed == true %}    <div li-unless="predictive_search.performed == true">
    <div class="predictive-search_overflow"><div><div><div class="predictive-search_topic"><div class="predictive-search_headline"><div class="text-style-muted">Vorschläge</div></div><ul role="list" class="predictive-search_list w-list-unstyled">{% for block in section.blocks %}
    {% if block.type == "vorschlaege" %}
                    <li li-block="Vorschlaege" class="predictive-search_item">
                                    <a class="predictive-search_link w-inline-block" href="{{ block.settings.url_link }}"> <div>{{ block.settings.text_text }}</div> </a>

                            </li>
            {% endif %}
{% endfor %}
</ul></div><div class="predictive-search_topic"><div class="predictive-search_headline"><div class="text-style-muted">Bestseller</div></div><ul role="list" class="predictive-search_product-list w-list-unstyled">{% for product in section.settings.collection_bestseller.products limit: section.settings.collection_bestseller_limit %}
<li class="predictive-search_produt-item">
    
    <a li-object:href="product.url" href="{{ product.url }}" class="predictive-search_line-item w-inline-block"><div class="predictive-search_image-wrapper"><img li-object:src="product.featured_image | img_url: 'master'" li-object:alt="product.featured_image.alt" src="{{ product.featured_image | img_url: 'master' }}" loading="lazy" alt="{{ product.featured_image.alt }}" class="predictive-search_image">
</div><div class="predictive-search_product-info"><div><div class="text-size-regular text-weight-bold text-style-ptserif is-inline"><span li-object="product.title | append: ' '">{{ product.title | append: ' ' }}</span></div>{% if product.metafields.product.vintage != 'NV' %}    <div li-if="product.metafields.product.vintage != 'NV'" class="text-size-regular text-weight-bold text-style-ptserif is-inline">
    <span li-object="product.metafields.product.vintage | prepend: ' '">{{ product.metafields.product.vintage | prepend: ' ' }}</span>    </div>
{% endif %}</div><div class="text-size-small text-style-ptserif"><span li-object="product.price | money">{{ product.price | money }}</span></div></div></a>
    
</li>
{% endfor %}
</ul></div></div></div></div>    </div>
{% endunless %}</div></div></form><div class="hide w-form-done"><div>Thank you! Your submission has been received!</div></div><div class="hide w-form-fail"><div>Oops! Something went wrong while submitting the form.</div></div></div></div></div></div></div></div>{% if customer %}    <div data-hover="false" data-delay="0" li-if="customer" class="hide-tablet w-dropdown">
    <div class="navbar_shop-icon w-dropdown-toggle"><div class="icon-embed-xsmall w-embed"><svg width="18" height="21" viewbox="0 0 18 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 16.246C0 13.8179 1.88864 11.8087 4.31205 11.6587L9 11.3684L13.6879 11.6587C16.1114 11.8087 18 13.8179 18 16.246C18 18.7843 15.9423 20.8421 13.4039 20.8421H4.5961C2.05774 20.8421 0 18.7843 0 16.246Z" fill="#0C0C0C"></path><ellipse cx="9.47512" cy="5.21053" rx="4.73684" ry="5.21053" fill="#0C0C0C"></ellipse><rect y="17.0527" width="18" height="3.78947" fill="#0C0C0C"></rect></svg></div></div><nav class="account-popup_wrapper-dropdown w-dropdown-list"><div class="account-popup_wrapper"><h3 class="heading-medium is-relativ">Hallo <span li-object="customer.first_name | append: '.'">{{ customer.first_name | append: '.' }}</span><br>
Schön, dass Du da bist.</h3><div class="account-popup_links-wrapper"><div class="w-embed"><a href="/apps/iwish" class="iWishView account-popup_links w-inline-block"><img src="{{ 'merkliste.svg' | asset_url }}" alt="merkliste" class="account-popup_icon">
<div>Merkliste (<span class="iWishCount">0</span>)</div></a></div><a href="{{ routes.account_url }}" li-object:href="routes.account_url" class="account-popup_links w-inline-block"><img src="{{ 'bestellungen.svg' | asset_url }}" loading="eager" alt="" class="account-popup_icon">
<div>Bestellungen</div></a><a href="{{ routes.account_addresses_url }}" li-object:href="routes.account_addresses_url" class="account-popup_links w-inline-block"><img src="{{ 'settings.svg' | asset_url }}" loading="eager" alt="" class="account-popup_icon">
<div>Adressen bearbeiten</div></a><a li-object:href="routes.account_logout_url" href="{{ routes.account_logout_url }}" class="account-popup_links is-last w-inline-block"><img src="{{ 'logout.svg' | asset_url }}" loading="eager" alt="" class="account-popup_icon">
<div>Abmelden</div></a></div>{% if cart.item_count > 0 %}    <div li-if="cart.item_count > 0">
    <a href="{{ routes.cart_url }}" li-object:href="routes.cart_url" class="button is-relativ w-button">Zum Warenkorb</a>    </div>
{% endif %}{% if cart.item_count < 0 %}    <div li-if="cart.item_count < 0">
    <a href="{{ routes.all_products_collection_url }}" li-object:href="routes.all_products_collection_url" class="button is-relativ w-button">Jetzt einkaufen</a>    </div>
{% endif %}</div></nav>    </div>
{% endif %}{% if customer %}    <div li-if="customer" class="navbar_account">
    <a li-object:href="routes.account_url" href="{{ routes.account_url }}" class="navbar_shop-icon w-inline-block"><div class="icon-embed-xsmall w-embed"><svg width="18" height="21" viewbox="0 0 18 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 16.246C0 13.8179 1.88864 11.8087 4.31205 11.6587L9 11.3684L13.6879 11.6587C16.1114 11.8087 18 13.8179 18 16.246C18 18.7843 15.9423 20.8421 13.4039 20.8421H4.5961C2.05774 20.8421 0 18.7843 0 16.246Z" fill="#0C0C0C"></path><ellipse cx="9.47512" cy="5.21053" rx="4.73684" ry="5.21053" fill="#0C0C0C"></ellipse><rect y="17.0527" width="18" height="3.78947" fill="#0C0C0C"></rect></svg></div></a>    </div>
{% endif %}{% unless customer %}    <div li-unless="customer">
    <a li-object:href="routes.account_url" href="{{ routes.account_url }}" class="navbar_shop-icon w-inline-block"><div class="icon-embed-xsmall w-embed"><svg width="18" height="21" viewbox="0 0 18 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 16.246C0 13.8179 1.88864 11.8087 4.31205 11.6587L9 11.3684L13.6879 11.6587C16.1114 11.8087 18 13.8179 18 16.246C18 18.7843 15.9423 20.8421 13.4039 20.8421H4.5961C2.05774 20.8421 0 18.7843 0 16.246Z" fill="#0C0C0C"></path><ellipse cx="9.47512" cy="5.21053" rx="4.73684" ry="5.21053" fill="#0C0C0C"></ellipse><rect y="17.0527" width="18" height="3.78947" fill="#0C0C0C"></rect></svg></div></a>    </div>
{% endunless %}<script>
    document.addEventListener('alpine:init', () => {

    Alpine.data('handleMinicart', () => ({
        init() {
            console.log('handleMinicart init')
        },
        open: false,
        note: null,
        attributes: {},
        original_total_price: 0,
        total_price: 0,
        total_discount: 0,
        total_weight: 0.0,
        item_count: 0,
        products: [],
        requires_shipping: false,
        currency: 'EUR',
        items_subtotal_price: 0,
        cart_level_discount_applications: [],
        cartApiResponseDefault : {
            result : {},
            show : false,
            timeout : 5000,
        },
        cartApiResponse : {
            result : {},
            show : false,
            timeout : 5000,
        },

        // deprecated:
        total: {
            items: 0,
            price: 0,
            weight: 0,
            discount: 0,
        },
        _abortController : null,
        initAbortController() {
            if(this._abortController) {
                this._abortController.abort('abort previous request');
            }
            this._abortController = new AbortController()
        },
        getAbortControllerSignal() {
            return this._abortController.signal
        },
        resetAbortController() {
            this._abortController = null;
        },
        toggleMiniCart() {
            console.log('(minicart.js) toggleMiniCart called');

            LiquifyHelper.handleTriggerClick();

            this.getCart();
        },

        /**
         * Get the cart data.
         */
        getCart() {
            this.initAbortController()
            fetch(window.Shopify.routes.root + 'cart.js', {
                method: 'GET',
                signal: this.getAbortControllerSignal(),
                headers: {'Content-Type': 'application/json'},
            })
            .then(response => response.json())
            .then(data => {
                this.resetAbortController();

                this.total.items = data.item_count;

                this.products = data.items.map((item) => {
                    item.title = this.htmlspecialchars_decode(item.title)
                    return item
                })

                this.total.price = data.total_price;
                this.total.weight = data.total_weight;
                this.total.discount = data.total_discount;

                this.$dispatch('carttotalitems', data.item_count);
            })
            .catch((error) => {
                console.error('Error:', error);
            });
        },

        /**
         * @param id
         * @param quantity
         */
        increaseCartItemQuantity(id, quantity) {
            this.updateCartItemQuantity(id, parseInt(quantity) + 1);
        },

        /**
         * @param id
         * @param quantity
         */
        decreaseCartItemQuantity(id, quantity) {
            this.updateCartItemQuantity(id, parseInt(quantity) - 1);
        },

        /**
         * Update the cart item.
         *
         * @param id
         * @param quantity
         */
        updateCartItemQuantity(id, quantity) {
            this.initAbortController();
            console.log('updateCartItemQuantity(): id, quantity: ', id, quantity);
            this.products.filter((product)  => {
                if(parseInt(product.id) === parseInt(id)) {
                    product.quantity = quantity
                }
            })
            fetch(window.Shopify.routes.root + 'cart/change.js', {
                method: 'POST',
                signal: this.getAbortControllerSignal(),
                headers: {'Content-Type': 'application/json'},
                body: JSON.stringify({
                    id: `${id}`,
                    quantity: quantity,
                }),
            })
                .then(response => response.json())
                .then(data => {
                    this.resetAbortController();
                    console.log('updateCartItemQuantity(): ', data);

                    this.$dispatch('cartupdated');
                    this.$dispatch('showcartmessage', { status: data.status, message: data.message, description: data.description });
                })
                .catch((error) => {
                    console.error('Error:', error);
                    this.$dispatch('showcartmessage', { status: error?.status, message: error, description: error });
                });
        },

        /**
         * Format monetary values.
         */
        moneyFormat(value, minor = true) {
            return LiquifyHelper.moneyFormat(value, minor)
        },

        htmlspecialchars_decode(string) {
            return LiquifyHelper.htmlspecialchars_decode(string)
        },

        /**
         * Shows the minicart api message
         * @param event
         */
        showCartMessage(event) {
            console.log("dispatched showCartMessage", event)
            if(event?.detail?.status) {
                this.cartApiResponse.result = event.detail ?? this.cartApiResponseDefault.result;
                this.cartApiResponse.show = true
                setTimeout(() =>  this.cartApiResponse =  this.cartApiResponseDefault, this.cartApiResponse.timeout ?? 5000)
            }
        },
    }))
});


</script>
<div li-element="mini-cart" x-cloak="" x-data="handleMinicart()" x-init="getCart()" @cartupdated.window="getCart()" @setcartitem.window="updateCartItemQuantity($event.detail.product, $event.detail.quantity)" @increasecartitem.window="increaseCartItemQuantity($event.detail.product, $event.detail.quantity)" @decreasecartitem.window="decreaseCartItemQuantity($event.detail.product, $event.detail.quantity)" @toggleminicart.window="toggleMiniCart()" @showcartmessage.window="showCartMessage"><div data-hover="false" data-delay="0" class="nav_dropdown w-dropdown"><div li-element="mini-cart-toggle" class="navbar_shop-icon w-dropdown-toggle" @click="$dispatch('cartupdated.window')"><div class="icon-embed-xsmall w-embed"><svg width="21" height="23" viewbox="0 0 21 23" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.4351 21.8169H19.86L19.1421 8.02856H10.4351H1.71789L1 21.8169H10.4351Z" fill="#0C0C0C" stroke="#0C0C0C" stroke-width="1.6" stroke-miterlimit="10"></path><path d="M5.71607 8.02865V6.64672C5.68633 6.00582 5.78618 5.36551 6.00959 4.76452C6.23299 4.16353 6.5753 3.61436 7.01581 3.15023C7.45632 2.68609 7.98588 2.31664 8.57246 2.06422C9.15904 1.8118 9.79044 1.68164 10.4285 1.68164C11.0665 1.68164 11.6979 1.8118 12.2845 2.06422C12.871 2.31664 13.4006 2.68609 13.8411 3.15023C14.2816 3.61436 14.6239 4.16353 14.8473 4.76452C15.0707 5.36551 15.1706 6.00582 15.1409 6.64672V8.02865" stroke="#0C0C0C" stroke-width="1.6" stroke-miterlimit="10"></path></svg></div><div li-element="mini-cart-item-count" class="navbar_shop-quantity" x-data="{ items: 0 }" x-text="items" @carttotalitems.window="items = event.detail">1</div></div><nav li-element="mini-cart-container" class="nav_mini-cart-holder w-dropdown-list" :class="open || 'mini-cart-closed'"><div li-element="dropdown-toggle" class="navbar_mini-cart-close" data-dropdowntoggle="" @click="LiquifyHelper.triggerClick($event.target.closest('.w-dropdown').querySelector('.w-dropdown-toggle.w--open'))"></div><div class="mini-cart_component"><div li-element="mini-cart-full" class="mini-cart_full" :style="total.items < 1 && { display: 'none' }"><div class="mini-cart_header"><div class="heading-style-h3">Mein Warenkorb</div><div li-element="dropdown-toggle" class="mini-cart_close w-embed" data-dropdowntoggle="" @click="LiquifyHelper.triggerClick($event.target.closest('.w-dropdown').querySelector('.w-dropdown-toggle.w--open'))"><svg width="15" height="15" viewbox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.84775 14.178L0.447754 12.778L6.04775 7.17798L0.447754 1.57798L1.84775 0.177979L7.44775 5.77798L13.0478 0.177979L14.4478 1.57798L8.84775 7.17798L14.4478 12.778L13.0478 14.178L7.44775 8.57798L1.84775 14.178Z" fill="currentColor"></path></svg></div></div><div class="mini-cart_line-item no-scrollbar"><ul role="list" class="mini-cart_line-item_list w-list-unstyled"><template x-for="product in products" :key="product.key">
    <li li-element="mini-cart-item" class="mini-cart_line-item_item" x-init="getCart()"><a li-js-object:href="product.url" href="#" class="w-inline-block" x-bind:href="product.url"><img src="https://d3e54v103j8qbb.cloudfront.net/plugins/Basic/assets/placeholder.60f9b1840c.svg" loading="lazy" alt="" class="mini-cart_line-item_img" x-bind:src="product.image">
</a><div class="mini-cart_line-item_product-info"><a li-js-object:href="product.url" href="#" class="mini-cart_lin-item_name-wrapper w-inline-block" x-bind:href="product.url"><div><div li-js-object="product.title" class="text-size-regular text-style-ptserif" x-text="product.title">Product Titel</div><div li-js-object="product.vendor" class="text-size-small text-color-grey text-style-ptserif" x-text="product.vendor">Weigut</div><div class="text-size-small text-color-grey text-style-ptserif">Einzelpreis: <span li-js-price="product.final_price" x-text="moneyFormat(product.final_price)">15,75 €</span></div></div><div class="mini-cart_line-item_price"><div li-js-price="product.line_price" class="text-size-small text-style-ptserif" x-text="moneyFormat(product.line_price)">14,99 €</div><template x-if="product.final_line_price < product.original_line_price">
            <div li-js-if="product.final_line_price < product.original_line_price">
        <div li-js-price="product.original_line_price" class="text-size-small text-style-strikethrough text-style-muted text-style-ptserif" x-text="moneyFormat(product.original_line_price)">14,99 €</div>        </div>
    </template>
</div></a><div class="mini-cart_lin-item_name-wrapper"><div class="mini-cart_line-item_quantity"><a li-element="mini-cart-item-decrease" href="#" class="mini-cart_line-item_quantity-adjust" :productprop="product" @click="$dispatch('decreasecartitem', { product: product.id, quantity: product.quantity, action: 'decrease' })">-</a><input li-element="mini-cart-item-quantity" class="mini-cart_line-item_quantity-adjust" :productprop="product" @blur="$dispatch('setcartitem', { product: product.id, quantity: product.quantity })" x-model="product.quantity">
<a li-element="mini-cart-item-increase" href="#" class="mini-cart_line-item_quantity-adjust" :productprop="product" @click="$dispatch('increasecartitem', { product: product.id, quantity: product.quantity, action: 'increase' })">+</a></div><p li-element="mini-cart-item-remove" class="text-size-small text-color-grey text-style-ptserif pointer" :productprop="product" @click="$dispatch('setcartitem', { product: product.id, quantity: 0 })">Entfernen</p></div></div></li></template>
</ul></div><div x-data="{ shippingFree: {% if localization.market.handle == 'osterreich' %}{{ section.settings.text_versandkosten_at }}{% endif %} {% if localization.market.handle == 'de' %}{{ section.settings.text_versandkosten_de }}{% endif %}}" class="mini-cart_footer"><div class="mini-cart_footer_account-component hide"><div class="accordion_component"><div data-w-id="670e3921-c8d2-b038-28dc-f65a701b28ab" class="accordion_top"><div class="heading-style-h4">Jetzt Kundenkonto erstellen</div><div class="accordion_icon w-embed"><svg width="100%" height="100%" viewbox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M25.3333 15.667V16.3336C25.3333 16.7018 25.0349 17.0003 24.6667 17.0003H17V24.667C17 25.0351 16.7015 25.3336 16.3333 25.3336H15.6667C15.2985 25.3336 15 25.0351 15 24.667V17.0003H7.3333C6.96511 17.0003 6.66663 16.7018 6.66663 16.3336V15.667C6.66663 15.2988 6.96511 15.0003 7.3333 15.0003H15V7.33365C15 6.96546 15.2985 6.66699 15.6667 6.66699H16.3333C16.7015 6.66699 17 6.96546 17 7.33365V15.0003H24.6667C25.0349 15.0003 25.3333 15.2988 25.3333 15.667Z" fill="currentColor"></path></svg></div></div><div class="accordion_bottom"><div class="text-size-small">Neu hier? Dann erstelle Dir jetzt Dein neues Kundenkonto.</div></div></div></div><div x-bind:style="'display: ' + (((shippingFree - total.price) / 100) < 0 ? 'none' : 'block')" class="mini-cart_footer_progress-component"><div class="heading-style-h4">Jetzt Gratisversand sichern.</div><div class="mini-cart_footer_progress-bar"><div x-bind:style="'width: ' + (total.price/shippingFree) *100 + '%'" class="mini-cart_footer_progress-bar-innner"></div></div><div class="text-size-small">Noch <span li-js-price="shippingFree - total.price" class="is-price-card" x-text="moneyFormat(shippingFree - total.price)">52,75€</span>und wir übernehmen Deine Versandkosten.</div><div class="text-size-small hide">
{{ section.settings.text_versandkosten_at }}
</div>
<div class="text-size-small hide">
{{ section.settings.text_versandkosten_de }}
</div>
</div><div x-bind:style="'display: ' + (((shippingFree - total.price) / 100) < 0 ? 'block' : 'none')" class="mini-cart_footer_progress-component"><div class="heading-style-h4">Gratisversand freigeschaltet 🎉</div><div class="text-size-small">Glückwunsch! Du hast den Gratisversand auf Deine Bestellung freigeschaltet.</div></div><div li-cloak="hide" li-element="mini-cart-api-response" class="mini-cart_footer-message"><template x-if="cartApiResponse?.result?.message">
            <div li-js-if="cartApiResponse?.result?.message" class="mini-cart_footer-message-item-wrapper">
        <div li-js-object="cartApiResponse?.result?.message" class="mini-cart_footer-message-item" x-text="cartApiResponse?.result?.message">Hinweis</div>        </div>
    </template>
</div><div class="mini-cart_footer_price"><div class="mini-cart_footer_total"><div class="text-size-regular text-weight-bold text-style-ptserif">Gesamtbetrag</div><div><div li-js-price="total.price" class="text-size-regular text-weight-bold text-style-ptserif" x-text="moneyFormat(total.price)">14,99 €</div><template x-if="total.price < original_total_price">
            <div li-js-if="total.price < original_total_price">
        <div li-js-price="original_total_price" class="text-size-regular text-weight-bold text-style-strikethrough text-style-muted text-style-ptserif" x-text="moneyFormat(original_total_price)">14,99 €</div>        </div>
    </template>
</div></div><a x-bind:href="'/checkout'" href="#" class="button w-button">Zur Kasse</a><a li-object:href="routes.cart_url" href="{{ routes.cart_url }}" class="button is-outline w-button">Warenkorb</a></div></div></div><div x-cloak="" li-element="mini-cart-empty" :style="total.items && { display: 'none' }"><div class="mini-cart_header"><div class="heading-style-h3">Warenkorb</div><div li-element="dropdown-toggle" class="mini-cart_close w-embed" data-dropdowntoggle="" @click="LiquifyHelper.triggerClick($event.target.closest('.w-dropdown').querySelector('.w-dropdown-toggle.w--open'))"><svg width="15" height="15" viewbox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.84775 14.178L0.447754 12.778L6.04775 7.17798L0.447754 1.57798L1.84775 0.177979L7.44775 5.77798L13.0478 0.177979L14.4478 1.57798L8.84775 7.17798L14.4478 12.778L13.0478 14.178L7.44775 8.57798L1.84775 14.178Z" fill="currentColor"></path></svg></div></div><div class="mini-cart_empty"><div class="text-size-regular text-style-ptserif">Keine Artikel im Warenkorb</div></div></div></div></nav></div></div></div><div class="navbar_menu-button w-nav-button"><div class="menu-icon1"><div class="menu-icon1_line-top"></div><div class="menu-icon1_line-bottom"></div></div></div></div></div></div> {% schema %} {"tag":"div","name":"header","class":"section_navbar","blocks":[{"name":"Vorschlaege","type":"vorschlaege","settings":[{"id":"url_link","type":"url","label":"Link"},{"id":"text_text","type":"text","label":"Text","default":"Tag"}]}],"settings":[{"id":"collection_bestseller","type":"collection","label":"Bestseller"},{"type":"range","id":"collection_bestseller_limit","min":1,"max":99,"step":1,"label":"Limit: Bestseller","default":6},{"id":"text_versandkosten_at","type":"text","label":"Versandkosten-AT","default":"20000"},{"id":"text_versandkosten_de","type":"text","label":"Versandkosten-DE","default":"10000"}],"presets":[{"name":"header","category":"Liquify"}]} {% endschema %}