<div class="padding-global padding-section-medium"><div class="container-large"><div class="text-align-center"><h1 class="heading-style-h1">
{{ section.settings.text_headline }}
</h1>
</div><div class="support_tabs"><div x-tabs="" x-data="" class="produkt-tabs_wrapper"><div class="video-iframe-2 hide"></div><div id="w-node-_76f2750a-5648-1ca7-da32-f18b9e3d694f-b5f7d5b5" class="hide w-embed">{% assign categories = shop.metaobjects.support_titel.values | sort: 'titel' %}</div><ul x-tabs:list="" id=" w-node-_76f2750a-5648-1ca7-da32-f18b9e3d6950-b5f7d5b5" role="list" class="help-center_list hide-scrollbar w-list-unstyled">{% for item in shop.metaobjects.support_titel.values %}    <li x-bind:class="$tab.isSelected ? '' : 'is-not-selected'" li-for="item in shop.metaobjects.support_titel.values" x-tabs:tab="" class="help-center_item">
                                    <img src="{{ item.icon.value | img_url: 'master' }}" loading="lazy" li-object:src="item.icon.value | img_url: 'master'" alt="" class="produkt-tabs_icon is-tabs">

                            
                            <div li-object="item.titel" class="heading-style-h3">{{ item.titel }}</div>
                            
                        </li>
{% endfor %}</ul><div x-tabs:panels="">{% for item in shop.metaobjects.support_titel.values %}    <div li-for="item in shop.metaobjects.support_titel.values" x-tabs:panel="" class="produkt-tabs_tab">
                                    
                            <h2 li-object="item.titel" class="heading-style-h2">{{ item.titel }}</h2>
                            
                            <div class="w-dyn-list"><div role="list" class="w-dyn-items">{% for faq in item.fa_qs.value %}    <div li-for="faq in item.fa_qs.value" role="listitem" class="w-dyn-item">
                                    
                            <div class="dropdown_component"><div class="dropdown_header"><h3 li-object="faq.frage" class="heading-style-h3">{{ faq.frage }}</h3><div class="dropdown_symbol"></div></div><div class="dropdown_content"><div class="dropdown-inner-content"><div li-object="faq.antwort | metafield_tag" class="text-rich-text w-richtext">{{ faq.antwort | metafield_tag }}</div>{% if faq.youtube_url_schlussel != blank %}    <div li-if="faq.youtube_url_schlussel != blank" class="video-embed is-landingpage w-embed w-iframe">
    <iframe class="video-iframe-2" style="border-top-left-radius: 0.5em; border-top-right-radius: 0.5em; border-bottom-left-radius: 0.5em; border-bottom-right-radius: 0.5em; " src="https://www.youtube.com/embed/{{ faq.youtube_url_schlussel }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" scrolling="no" allowfullscreen=""></iframe>    </div>
{% endif %}</div></div></div>
                            
                        </div>
{% endfor %}</div><div class="hide w-dyn-empty"><div>No items found.</div></div></div>
                            
                        </div>
{% endfor %}</div></div></div></div></div> {% schema %} {"tag":"section","name":"Help-Center","class":"section_help-center background-color-grey","settings":[{"id":"text_headline","type":"text","label":"Headline","default":"Du brauchst Hilfe?"}],"presets":[{"name":"Help-Center","category":"Liquify"}]} {% endschema %}