<div class="padding-global"><div class="container-large"><div class="padding-section-small"><div class="kategorie-slider_swiper swiper-container"><div id="swiper-container" class="kategorie-slider_wrapper swiper"><ul role="list" class="kategorie-slider_swiper-list swiper-wrapper w-list-unstyled">{% for block in section.blocks %}
    {% if block.type == "kategorie" %}
                    <li li-block="Kategorie" class="kategorie-slider_swiper-item swiper-slide">
                                    <a class="kategorie-slider_item w-inline-block" href="{{ block.settings.url_link }}"> <img class="kategorie-slider_img is-darken" src="{{ block.settings.image_bild | img_url: 'master' }}" alt="{{ block.settings.image_bild.alt }}" loading="lazy"><h2 class="heading-style-h4 text-align-center">{{ block.settings.text_headline }}</h2> </a>

                            </li>
            {% endif %}
{% endfor %}
{% for block in section.blocks %}    <li li-for="block in section.blocks" class="kategorie-slider_swiper-item swiper-slide">
                                    
                            <a li-object:href="block.settings.url_link" href="{{ block.settings.url_link }}" class="kategorie-slider_item w-inline-block"><img src="{{ block.settings.image_bild | img_url: 'master' }}" loading="eager" li-object:src="block.settings.image_bild | img_url: 'master'" li-object:alt="block.settings.image_bild.alt" alt="{{ block.settings.image_bild.alt }}" class="kategorie-slider_img is-darken">
<h3 li-object="block.settings.text_headline" class="heading-style-h4 text-align-center">{{ block.settings.text_headline }}</h3></a>
                            
                        </li>
{% endfor %}</ul></div><div class="padding-global is-absolout pointer-events-off"><div class="container-large is-height"><div class="kategorie-slider_buttons"><a id="kategorie-left" href="#" class="kategorie-slider_button pointer-events-on w-inline-block"><img src="{{ 'arrow.svg' | asset_url }}" loading="lazy" alt="">
</a><a id="kategorie-right" href="#" class="kategorie-slider_button pointer-events-on w-inline-block"><img src="{{ 'arrow-2.svg' | asset_url }}" loading="lazy" alt="">
</a></div></div></div></div></div><div class="hide w-embed w-script">{% if section.settings.checkbox_swiper_script == true %}
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>{% endif %}
<script>document.addEventListener('DOMContentLoaded', function () {
    $('.swiper-container').each(function (index) {
      const swiperkategorien = new Swiper($(this).find('.kategorie-slider_wrapper.swiper')[0], {
        loopedSlides: 4,       
        slidesPerView: 'auto',
        spaceBetween: "4%",
        noSwipingSelector: 'input',
        focusableElements: 'input',
        a11y: false,
        centeredSlides: true,
        loop: true,         
        mousewheel: {         
          forceToAxis: true,         
        },         
        navigation: {           
          nextEl: '#kategorie-right',           
          prevEl: '#kategorie-left',         
        } 
      });
    });
  });
</script></div></div></div> {% schema %} {"tag":"section","name":"kategorien","class":"section_kategorien background-color-grey","blocks":[{"name":"Kategorie","type":"kategorie","settings":[{"id":"url_link","type":"url","label":"Link"},{"id":"image_bild","type":"image_picker","label":"Bild"},{"id":"text_headline","type":"text","label":"Headline","default":"Heading"}]}],"settings":[{"id":"checkbox_swiper_script","type":"checkbox","label":"Swiper-Script","default":true}],"presets":[{"name":"kategorien","category":"Liquify"}]} {% endschema %}