<div class="landingpage-gallery_component is-first"><img class="landingpage-gallery_image is-first"
     src="{{ section.settings.image_bild_1 | img_url: 'master' }}"
     alt="{{ section.settings.image_bild_1.alt }}"
     loading="lazy">
</div><div class="landingpage-gallery_component"><img class="landingpage-gallery_image"
     src="{{ section.settings.image_bild_2 | img_url: 'master' }}"
     alt="{{ section.settings.image_bild_2.alt }}"
     loading="lazy">
<img class="landingpage-gallery_image"
     src="{{ section.settings.image_bild_3 | img_url: 'master' }}"
     alt="{{ section.settings.image_bild_3.alt }}"
     loading="lazy">
</div> {% schema %} {"tag":"section","name":"l_gallery","class":"section_l-gallery","settings":[{"id":"image_bild_1","type":"image_picker","label":"Bild-1"},{"id":"image_bild_2","type":"image_picker","label":"Bild-2"},{"id":"image_bild_3","type":"image_picker","label":"Bild-3"}],"presets":[{"name":"l_gallery","category":"Liquify"}]} {% endschema %}