<div class="padding-global"><div class="container-small"><div class="header-100svh"><div class="padding-section-large"><div class="text-align-center"><div class="margin-bottom margin-small"><div class="subline text-color-white">
{{ section.settings.text_subline }}
</div>
<h1 class="heading-style-h1 text-color-white">
{{ section.settings.text_headline }}
</h1>
<p class="text-size-regular text-align-center max-width-large text-color-white"> {{ section.settings.textarea_longer_text }} </p>
</div><div class="margin-top margin-small">{% if section.settings.url_button_link != blank %}    <div li-if="section.settings.url_button_link != blank" class="button-group is-center">
    <a class="button is-white w-button" href="{{ section.settings.url_button_link }}"> {{ section.settings.text_button_text }} </a>
{% if section.settings.url_button_link_2 != blank %}    <div li-if="section.settings.url_button_link_2 != blank">
    <a class="button is-outline w-button" href="{{ section.settings.url_button_link_2 }}"> {{ section.settings.text_button_text_2 }} </a>
    </div>
{% endif %}    </div>
{% endif %}</div></div></div></div></div></div><div class="landingapge-hero_background-image-wrapper"><div class="image-overlay-layer"></div><img class="landingapge-hero_background-image"
     src="{{ section.settings.image_bild | img_url: 'master' }}"
     alt="{{ section.settings.image_bild.alt }}"
     loading="lazy">
</div> {% schema %} {"tag":"div","name":"l_hero","class":"section_l-hero","settings":[{"id":"text_subline","type":"text","label":"Subline","default":"This is some text inside of a div block."},{"id":"text_headline","type":"text","label":"Headline","default":"Medium length hero heading goes here"},{"id":"textarea_longer_text","type":"textarea","label":"Longer Text","default":"Wir haben erkannt, dass unser Fachwissen genutzt werden kann, um bessere Stoffe, fairere Arbeitsbedingungen, besser ausgebildete Hersteller, sauberere Produktionswege und durchdachtere Designs zu finden. Es hei\u00dft, Qualit\u00e4t sei die Erf\u00fcllung von Erwartungen. Warum nur erf\u00fcllen, wenn man sie auch \u00fcbertreffen kann? Wir machen so lange weiter, bis es nichts mehr zu verbessern gibt. Ist das ein unrealistisches Ziel?"},{"id":"text_button_text","type":"text","label":"Button-Text","default":"Button Text"},{"id":"url_button_link","type":"url","label":"Button-Link"},{"id":"text_button_text_2","type":"text","label":"Button-Text-2","default":"Button Text"},{"id":"url_button_link_2","type":"url","label":"Button-Link-2"},{"id":"image_bild","type":"image_picker","label":"Bild"}],"presets":[{"name":"l_hero","category":"Liquify"}]} {% endschema %}