<div class="padding-global padding-section-small"><div class="container-large"><div class="landingpage_content-grid"><h2 class="heading-style-h2">
{{ section.settings.text_headline }}
</h2>
<p class="text-size-regular max-width-large"> {{ section.settings.textarea_text }} </p>
<div id="w-node-_85117d61-9859-2072-9fd1-84020dd25007-690d5eea" class="hide">
{{ section.settings.text_vorher }}
</div>
<div id="w-node-_85117d61-9859-2072-9fd1-84020dd25009-690d5eea" class="hide">
{{ section.settings.text_nachher }}
</div>
<div id="w-node-_85117d61-9859-2072-9fd1-84020dd2500b-690d5eea" class="landingpage_facts">{% for block in section.blocks %}
    {% if block.type == "fact" %}
                    <div li-block="Fact" class="landingpage_icon-wrapper">
                                    <img src="{{ 'check.svg' | asset_url }}" loading="lazy" alt="" class="landingpage_icon">

                                    
                                    <p class="text-size-regular text-weight-medium">
{{ block.settings.text_text }}
</p>

                                    
                            </div>
            {% endif %}
{% endfor %}
</div></div><div class="landingpage_image-wrapper"><img src="{{ section.settings.image_bild_1 | img_url: 'master' }}" loading="lazy" alt="{{ section.settings.image_bild_1.alt }}" class="landingpage_image-sreveal image-one">
<img src="{{ section.settings.image_bild_2 | img_url: 'master' }}" loading="lazy" alt="{{ section.settings.image_bild_2.alt }}" class="landingpage_image-sreveal image-two">
</div><div class="hide w-embed w-script"><script src="https://unpkg.com/beerslider/dist/BeerSlider.js"></script><link rel="stylesheet" href="{{ 'beerslider.css' | asset_url }}">
<script>window.onload = function () {
    setTimeout(function () {
    $('.landingpage_image-wrapper').each(function (index, el) {
        let firstImage = $(this).find('img')[0].src;
        let secondImage =$(this).find('img')[1].src;
        let template = `
      	<div class="beer-slider" data-beer-label="{{ section.settings.text_nachher }}">
          <img src="${firstImage}">
          <div class="beer-reveal" data-beer-label="{{ section.settings.text_vorher }}">
            <img src="${secondImage}">
          </div>
        </div>
      `;
       $(this).find('img')[1].remove();
       $(this).find('img')[0].remove();
      $(this).append(template);
        $.fn.BeerSlider = function (options) {
          options = options || {};
          return this.each(function () {
            new BeerSlider(this, options);
          });
        };
      });
      $(".beer-slider").each(function (index, el) {
        $(el).BeerSlider({ start: $(el).data("start") })
      });
    })
  }
</script><style>.beer-slider {
    height: 100% !important;
  }
  .beer-slider,
  .beer-slider>img {
    width: 100% !important;
  }
  .beer-handle {
  width: 60px;
  height: 60px;
  background: #000;
  color: #fff;
  }
  .beer-range:focus~.beer-handle {
   background: #000;
  }
</style></div></div></div> {% schema %} {"tag":"div","name":"L-Reveal-Slider","class":"section_l-reveal","blocks":[{"name":"Fact","type":"fact","settings":[{"id":"text_text","type":"text","label":"Text","default":"5 Jahre Entwicklungszeit"}]}],"settings":[{"id":"text_headline","type":"text","label":"Headline","default":"Bags+Backpacks"},{"id":"textarea_text","type":"textarea","label":"text","default":"Wir haben erkannt, dass unser Fachwissen genutzt werden kann, um bessere Stoffe, fairere Arbeitsbedingungen, besser ausgebildete Hersteller, sauberere Produktionswege und durchdachtere Designs zu finden. Es hei\u00dft, Qualit\u00e4t sei die Erf\u00fcllung von Erwartungen. Warum nur erf\u00fcllen, wenn man sie auch \u00fcbertreffen kann? Wir machen so lange weiter, bis es nichts mehr zu verbessern gibt. Ist das ein unrealistisches Ziel?"},{"id":"text_vorher","type":"text","label":"Vorher","default":"This is some text inside of a div block."},{"id":"text_nachher","type":"text","label":"Nachher","default":"This is some text inside of a div block."},{"id":"image_bild_1","type":"image_picker","label":"bild-1"},{"id":"image_bild_2","type":"image_picker","label":"bild-2"}],"presets":[{"name":"L-Reveal-Slider","category":"Liquify","blocks":[{"type":"fact"}]}]} {% endschema %}