<div class="padding-global padding-section-small"><div class="container-medium is-center"><div class="landingpage_content-grid is-center"><div class="subline">
{{ section.settings.text_subline }}
</div>
<h2 class="heading-style-h2 text-align-center max-width-large">
{{ section.settings.text_headline }}
</h2>
<p class="text-size-regular text-align-center max-width-large">
{{ section.settings.text_text }}
</p>
<div id="w-node-e8413197-c4c2-fb76-26af-3579fa5f162e-690d5eea" class="landingpage_logo-wrapper">{% for block in section.blocks %}
    {% if block.type == "logo" %}
                    <div li-block="Logo" class="landingpage_logo">
                                    <img class="landingpage_img"
     src="{{ block.settings.image_logo | img_url: 'master' }}"
     alt="{{ block.settings.image_logo.alt }}"
     loading="lazy">

                            </div>
            {% endif %}
{% endfor %}
</div></div></div></div> {% schema %} {"tag":"div","name":"l_text_logos","class":"section_l-about-infos","blocks":[{"name":"Logo","type":"logo","settings":[{"id":"image_logo","type":"image_picker","label":"Logo"}]}],"settings":[{"id":"text_subline","type":"text","label":"subline","default":"Mission"},{"id":"text_headline","type":"text","label":"Headline","default":"Wir haben Heimplanet ins leben Gerufen, weil wir verbesserungs m\u00f6glichkeiten sehen"},{"id":"text_text","type":"text","label":"Text","default":"Wir haben erkannt, dass unser Fachwissen genutzt werden kann, um bessere Stoffe, fairere Arbeitsbedingungen, besser ausgebildete Hersteller, sauberere Produktionswege und durchdachtere Designs zu finden. Es hei\u00dft, Qualit\u00e4t sei die Erf\u00fcllung von Erwartungen. Warum nur erf\u00fcllen, wenn man sie auch \u00fcbertreffen kann? Wir machen so lange weiter, bis es nichts mehr zu verbessern gibt. Ist das ein unrealistisches Ziel?"}],"presets":[{"name":"l_text_logos","category":"Liquify"}]} {% endschema %}