<div class="padding-global"><div class="container-large"><div class="ueber_content"><div id="w-node-_49fad81b-90b2-21d5-d89e-5be24d0345bb-4d0345b7" class="ueber_content-main"><div class="ueber_content-main-inner background-color-orange"><div class="ueber_content-main-top"><div class="text-size-tiny text-color-81 text-weight-semibold">
{{ section.settings.text_breadcrumb_1 }}
</div>
<div class="icon-embed-xxsmall w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewbox="0 0 16 16" fill="none" preserveaspectratio="xMidYMid meet" aria-hidden="true" role="img"><mask id="mask0_2183_5034" style="mask-type:alpha" maskunits="userSpaceOnUse" x="0" y="0" width="16" height="16"><rect y="16" width="16" height="16" transform="rotate(-90 0 16)" fill="#D9D9D9"></rect></mask><g mask="url(#mask0_2183_5034)"><path d="M8.93333 9L4.93333 13L4 12.0667L7.06667 9L4 5.93333L4.93333 5L8.93333 9Z" fill="#1C1B1F" fill-opacity="0.3"></path></g></svg></div><div class="text-size-tiny text-weight-semibold">
{{ section.settings.text_breadcrumb_2 }}
</div>
</div><div class="spacer-20"></div><h1 class="heading-style-h1">
{{ section.settings.text_main_heading }}
</h1>
<div class="spacer-20"></div><div class="max-width-medium"><p class="text-size-regular">
{{ section.settings.text_paragraph }}
</p>
</div><div class="spacer-36"></div><a class="button is-third w-button" href="{{ section.settings.url_button_url }}"> {{ section.settings.text_button_text }} </a>
</div></div><div id="w-node-_774ff942-afae-d513-9c0a-96c88ea76701-4d0345b7" class="ueber_content-main-img-holder"><img class="ueber_img"
     src="{{ section.settings.image_image | img_url: 'master' }}"
     alt="{{ section.settings.image_image.alt }}"
     loading="lazy">
</div></div></div></div> {% schema %} {"tag":"header","name":"offset_w_image","class":"section_ueber","settings":[{"id":"text_breadcrumb_1","type":"text","label":"Breadcrumb #1","default":"Home"},{"id":"text_breadcrumb_2","type":"text","label":"Breadcrumb #2","default":"\u00dcber uns"},{"id":"text_main_heading","type":"text","label":"Main Heading","default":"Mit Blockmine sicher und effizient in Bitcoin Mining investieren"},{"id":"text_paragraph","type":"text","label":"Paragraph","default":"Als strategischer Partner erm\u00f6glichen wir es Investoren, nachhaltig und profitabel in leistungsstarke ASIC Miner zu investieren und sich Schritt f\u00fcr Schritt eine eigene Mining-Infrastruktur mit \u00fcberdurchschnittlicher Rechenleistung aufzubauen."},{"id":"url_button_url","type":"url","label":"Button-Url"},{"id":"text_button_text","type":"text","label":"Button-Text","default":"Kontakt aufnehmen"},{"id":"image_image","type":"image_picker","label":"Image"}],"presets":[{"name":"offset_w_image","category":"Liquify"}]} {% endschema %}