<div class="padding-global padding-section-medium"><div class="container-large"><div class="products_max-width"><div li-content-for-blocks="" class="content-centerd_wrapper">
{% for block in section.blocks %}
    {% case block.type %}
        {% when '@app' %}
            {% render block %}
    {% when 'headline-small' %}
            <div li-block="Headline small">
                    <h2 class="heading-style-small">
{{ block.settings.text_headline_small }}
</h2>

                </div>
    {% when 'headline' %}
            <div li-block="Headline">
                    <h3 class="heading-style-h2">
{{ block.settings.text_headline }}
</h3>

                </div>
    {% when 'text' %}
            <div li-block="Text">
                    <div class="max-width-xlarge"> {{ block.settings.richtext_intro_text }} </div>

                </div>
    {% when 'span-element' %}
            <div li-block="Span Element">
                    <div class="{{ block.settings.class }}">
{{ block.settings.text_text }}
</div>

                    <div class="li-custom w-embed"></div>

                </div>
    {% when 'buttons' %}
            <div li-block="Buttons">
                    {% if block.settings.text_button_text != blank or block.settings.text_button_text_2 != blank %}    <div li-if="block.settings.text_button_text != blank or block.settings.text_button_text_2 != blank" id="w-node-_646415cb-5361-ecd4-2e80-4b94cc580336-cc580336" class="button-group padding-top padding-small">
    {% if block.settings.text_button_text != blank %}    <div li-if="block.settings.text_button_text != blank" id="w-node-f50b8864-b770-3670-2cd2-0a3a2cd2ed87-cc580336">
    <a aria-label="{{ block.settings.text_button_text }}" id="w-node-_646415cb-5361-ecd4-2e80-4b94cc580337-cc580336" href="{{ block.settings.url_button_link }}" class="button w-button"> {{ block.settings.text_button_text }} </a>
    </div>
{% endif %}{% if block.settings.text_button_text_2 != blank %}    <div li-if="block.settings.text_button_text_2 != blank" id="w-node-bf33479f-2361-66f9-dba6-9cb9a97f87f3-cc580336">
    <a aria-label="{{ block.settings.text_button_text_2 }}" id="w-node-_646415cb-5361-ecd4-2e80-4b94cc580339-cc580336" href="{{ block.settings.url_button_link_2 }}" class="button is-secondary w-button"> {{ block.settings.text_button_text_2 }} </a>
    </div>
{% endif %}    </div>
{% endif %}
                </div>
        {% endcase %}
{% endfor %}

</div>

</div><div li-content-for-blocks="" class="products_component">
{% for block in section.blocks %}
    {% case block.type %}
        {% when '@app' %}
            {% render block %}
    {% when 'produkt-kachel' %}
            <div li-block="Produkt-Kachel" class="product_item-wrapper">
                    <div id="w-node-de2f976b-1013-4e87-fd05-4b1da59ee1c8-a59ee1c1" class="products_item"><div class="products_item-top"><div><div class="heading-style-small">
{{ block.settings.text_headline_small }}
</div>
<h3 class="heading-style-h2">
{{ block.settings.text_headline }}
</h3>
</div><img src="{{ block.settings.image_bild | img_url: 'master' }}" loading="lazy" id="w-node-de2f976b-1013-4e87-fd05-4b1da59ee1cf-a59ee1c1" alt="{{ block.settings.image_bild.alt }}" class="products_img is-small"}>
<div id="w-node-de2f976b-1013-4e87-fd05-4b1da59ee1d0-a59ee1c1"> {{ block.settings.richtext_beschreibung }} </div>
</div><div id="w-node-de2f976b-1013-4e87-fd05-4b1da59ee1d2-a59ee1c1" class="products_divider"></div><div id="w-node-de2f976b-1013-4e87-fd05-4b1da59ee1d3-a59ee1c1" class="products_split"><div id="w-node-de2f976b-1013-4e87-fd05-4b1da59ee1d4-a59ee1c1" class="products_info"><img src="{{ block.settings.image_icon_1 | img_url: 'master' }}" loading="lazy" id="w-node-de2f976b-1013-4e87-fd05-4b1da59ee1d5-a59ee1c1" alt="{{ block.settings.image_icon_1.alt }}" class="products_info-icon"}>
<div id="w-node-de2f976b-1013-4e87-fd05-4b1da59ee1d6-a59ee1c1"> {{ block.settings.richtext_text_1 }} </div>
</div><div id="w-node-de2f976b-1013-4e87-fd05-4b1da59ee1da-a59ee1c1" class="products_info"><img src="{{ block.settings.image_icon_2 | img_url: 'master' }}" loading="lazy" id="w-node-de2f976b-1013-4e87-fd05-4b1da59ee1db-a59ee1c1" alt="{{ block.settings.image_icon_2.alt }}" class="products_info-icon"}>
<div id="w-node-de2f976b-1013-4e87-fd05-4b1da59ee1dc-a59ee1c1"> {{ block.settings.richtext_text_2 }} </div>
</div><div id="w-node-de2f976b-1013-4e87-fd05-4b1da59ee1e0-a59ee1c1" class="products_info"><img src="{{ block.settings.image_icon_3 | img_url: 'master' }}" loading="lazy" id="w-node-de2f976b-1013-4e87-fd05-4b1da59ee1e1-a59ee1c1" alt="{{ block.settings.image_icon_3.alt }}" class="products_info-icon"}>
<div id="w-node-de2f976b-1013-4e87-fd05-4b1da59ee1e2-a59ee1c1"> {{ block.settings.richtext_text_3 }} </div>
</div><div id="w-node-de2f976b-1013-4e87-fd05-4b1da59ee1e6-a59ee1c1" class="products_info"><img src="{{ block.settings.image_icon_4 | img_url: 'master' }}" loading="lazy" id="w-node-de2f976b-1013-4e87-fd05-4b1da59ee1e7-a59ee1c1" alt="{{ block.settings.image_icon_4.alt }}" class="products_info-icon"}>
<div id="w-node-de2f976b-1013-4e87-fd05-4b1da59ee1e8-a59ee1c1"> {{ block.settings.richtext_text_4 }} </div>
</div></div><div id="w-node-de2f976b-1013-4e87-fd05-4b1da59ee1ec-a59ee1c1" class="products_divider"></div><div id="w-node-de2f976b-1013-4e87-fd05-4b1da59ee1ed-a59ee1c1" class="checks"><div id="w-node-de2f976b-1013-4e87-fd05-4b1da59ee1ee-a59ee1c1" class="check-item"><img src="{{ 'check-product.svg' | asset_url }}" loading="lazy" alt="" class="checks-icon">
<p>
{{ block.settings.text_check_text_1 }}
</p>
<a href="{{ block.settings.url_garantie_link }}" class="tip_button w-inline-block"> <div class="tip_icon w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewbox="0 0 19 18" fill="none"><g opacity="0.5"><mask id="mask0_626_2938" style="mask-type:alpha" maskunits="userSpaceOnUse" x="0" y="0" width="19" height="18"><rect x="0.5" width="18" height="18" fill="#D9D9D9"></rect></mask><g mask="url(#mask0_626_2938)"><path d="M8.75 12.75H10.25V8.25H8.75V12.75ZM9.5 6.75C9.7125 6.75 9.89063 6.67812 10.0344 6.53438C10.1781 6.39062 10.25 6.2125 10.25 6C10.25 5.7875 10.1781 5.60938 10.0344 5.46562C9.89063 5.32187 9.7125 5.25 9.5 5.25C9.2875 5.25 9.10938 5.32187 8.96563 5.46562C8.82188 5.60938 8.75 5.7875 8.75 6C8.75 6.2125 8.82188 6.39062 8.96563 6.53438C9.10938 6.67812 9.2875 6.75 9.5 6.75ZM9.5 16.5C8.4625 16.5 7.4875 16.3031 6.575 15.9094C5.6625 15.5156 4.86875 14.9813 4.19375 14.3063C3.51875 13.6313 2.98438 12.8375 2.59063 11.925C2.19687 11.0125 2 10.0375 2 9C2 7.9625 2.19687 6.9875 2.59063 6.075C2.98438 5.1625 3.51875 4.36875 4.19375 3.69375C4.86875 3.01875 5.6625 2.48438 6.575 2.09063C7.4875 1.69687 8.4625 1.5 9.5 1.5C10.5375 1.5 11.5125 1.69687 12.425 2.09063C13.3375 2.48438 14.1313 3.01875 14.8063 3.69375C15.4813 4.36875 16.0156 5.1625 16.4094 6.075C16.8031 6.9875 17 7.9625 17 9C17 10.0375 16.8031 11.0125 16.4094 11.925C16.0156 12.8375 15.4813 13.6313 14.8063 14.3063C14.1313 14.9813 13.3375 15.5156 12.425 15.9094C11.5125 16.3031 10.5375 16.5 9.5 16.5ZM9.5 15C11.175 15 12.5938 14.4187 13.7563 13.2563C14.9187 12.0938 15.5 10.675 15.5 9C15.5 7.325 14.9187 5.90625 13.7563 4.74375C12.5938 3.58125 11.175 3 9.5 3C7.825 3 6.40625 3.58125 5.24375 4.74375C4.08125 5.90625 3.5 7.325 3.5 9C3.5 10.675 4.08125 12.0938 5.24375 13.2563C6.40625 14.4187 7.825 15 9.5 15Z" fill="#1C1B1F"></path></g></g></svg></div> </a>
<div class="hide">
{{ block.settings.text_tooltip }}
</div>
</div><div id="w-node-de2f976b-1013-4e87-fd05-4b1da59ee1f4-a59ee1c1" class="check-item"><img src="{{ 'check-product.svg' | asset_url }}" loading="lazy" alt="" class="checks-icon">
<p>
{{ block.settings.text_check_text_2 }}
</p>
</div></div><div id="w-node-de2f976b-1013-4e87-fd05-4b1da59ee1f8-a59ee1c1" class="products_divider is-auto"></div><div id="w-node-de2f976b-1013-4e87-fd05-4b1da59ee1f9-a59ee1c1"><div id="w-node-de2f976b-1013-4e87-fd05-4b1da59ee1fa-a59ee1c1" class="products_prices"><div class="{% if block.settings.text_vergleichspreis != blank %}text-color-red{% endif %}"><div class="heading-style-h2">
{{ block.settings.text_preis }}
</div>
</div><div><div class="products_compare-price">
{{ block.settings.text_vergleichspreis }}
</div>
</div></div><div class="heading-style-small text-color-red">
{{ block.settings.text_sie_sparen }}
</div>
</div><a id="w-node-de2f976b-1013-4e87-fd05-4b1da59ee202-a59ee1c1" href="{{ block.settings.url_button_link }}" class="button w-button"> {{ block.settings.text_button_text }} </a>
<a id="w-node-de2f976b-1013-4e87-fd05-4b1da59ee204-a59ee1c1" href="{{ block.settings.url_mehr_erfahren_link }}" class="mehr-erfahren w-inline-block"> <div>{{ block.settings.text_mehr_erfahren_text }}</div><img src="{{ 'arrow-back.svg' | asset_url }}" loading="lazy" alt="" class="mehr-erfahren-icon"> </a>
</div>
                </div>
    {% when 'content-kachel' %}
            <div li-block="Content-Kachel" id="w-node-d592fa91-9d7d-a3bb-bf0f-8ebcf8b52ebd-a59ee1c1" class="product_item-wrapper">
                    <div id="w-node-d592fa91-9d7d-a3bb-bf0f-8ebcf8b52ebe-a59ee1c1" class="products_item"><div class="products_item-top"><div><div class="heading-style-small">
{{ block.settings.text_headline_small }}
</div>
<h3 class="heading-style-h2">
{{ block.settings.text_headline }}
</h3>
</div><div id="w-node-_365012a0-10a3-4aa6-c506-3672d08f6b9a-a59ee1c1" class="position-relativ"><img src="{{ block.settings.image_bild | img_url: 'master' }}" loading="lazy" id="w-node-d592fa91-9d7d-a3bb-bf0f-8ebcf8b52ec5-a59ee1c1" alt="{{ block.settings.image_bild.alt }}" class="products_img"}>
<div class="swiper_image-tag">
{{ block.settings.text_bild_beschreibung }}
</div>
</div><div id="w-node-d592fa91-9d7d-a3bb-bf0f-8ebcf8b52ec6-a59ee1c1"> {{ block.settings.richtext_beschreibung }} </div>
</div><div id="w-node-d592fa91-9d7d-a3bb-bf0f-8ebcf8b52ec8-a59ee1c1" class="products_divider"></div><div id="w-node-d592fa91-9d7d-a3bb-bf0f-8ebcf8b52edb-a59ee1c1" class="checks"><div id="w-node-d592fa91-9d7d-a3bb-bf0f-8ebcf8b52edc-a59ee1c1" class="check-item"><img src="{{ 'check-product.svg' | asset_url }}" loading="lazy" alt="" class="checks-icon">
<p>
{{ block.settings.text_check_text_1 }}
</p>
<div class="hide">
{{ block.settings.text_tooltip }}
</div>
</div><div id="w-node-d592fa91-9d7d-a3bb-bf0f-8ebcf8b52ee4-a59ee1c1" class="check-item"><img src="{{ 'check-product.svg' | asset_url }}" loading="lazy" alt="" class="checks-icon">
<p>
{{ block.settings.text_check_text_2 }}
</p>
</div><div id="w-node-_33ddd332-6f38-d00d-fb84-3a9ccc636d1d-a59ee1c1" class="check-item"><img src="{{ 'check-product.svg' | asset_url }}" loading="lazy" alt="" class="checks-icon">
<p>
{{ block.settings.text_check_text_3 }}
</p>
</div><div id="w-node-c5744c06-79cf-77d1-3185-0c873c558e91-a59ee1c1" class="check-item"><img src="{{ 'check-product.svg' | asset_url }}" loading="lazy" alt="" class="checks-icon">
<p>
{{ block.settings.text_check_text_4 }}
</p>
</div></div><a id="w-node-d592fa91-9d7d-a3bb-bf0f-8ebcf8b52ef3-a59ee1c1" href="{{ block.settings.url_button_link }}" class="button is-auto w-button"> {{ block.settings.text_button_text }} </a>
<div id="w-node-_0171ecb8-516d-f5df-534f-962f41b7ab28-a59ee1c1" class="mehr-erfahren is-away" href="{{ block.settings.url_mehr_erfahren_link }}"> <div id="w-node-_0171ecb8-516d-f5df-534f-962f41b7ab28-a59ee1c1" class="mehr-erfahren is-away" href="{{ block.settings.url_mehr_erfahren_link }}"><div>{{ block.settings.text_mehr_erfahren_text }}</div><img src="{{ 'arrow-back.svg' | asset_url }}" loading="lazy" alt="" class="mehr-erfahren-icon"></div> </div>
</div>
                </div>
        {% endcase %}
{% endfor %}

</div>

<div class="products_cta"><div class="products_cta-content"><h3 id="w-node-de2f976b-1013-4e87-fd05-4b1da59ee20a-a59ee1c1" class="products_cta-heading">
{{ section.settings.text_cta_headline }}
</h3>
<div id="w-node-de2f976b-1013-4e87-fd05-4b1da59ee20e-a59ee1c1" class="text-size-tiny text-opacity-80"> {{ section.settings.richtext_cta_beschreibung }} </div>
{% if section.settings.text_cta_mehr_erfahren != blank %}    <div li-if="section.settings.text_cta_mehr_erfahren != blank" id="w-node-_1980e9e5-58a1-c12e-ddf3-cec4c24582db-a59ee1c1">
    <a id="w-node-de2f976b-1013-4e87-fd05-4b1da59ee215-a59ee1c1" href="{{ section.settings.url_cta_link }}" class="mehr-erfahren w-inline-block"> <div>{{ section.settings.text_cta_mehr_erfahren }}</div><img src="{{ 'arrow-down.svg' | asset_url }}" loading="lazy" alt="" class="mehr-erfahren-icon"> </a>
    </div>
{% endif %}</div><img src="{{ section.settings.image_bild | img_url: 'master' }}" loading="lazy" id="w-node-de2f976b-1013-4e87-fd05-4b1da59ee219-a59ee1c1" alt="{{ section.settings.image_bild.alt }}" class="contacts_cta-img"}>
</div></div></div>{% if section.settings.checkbox_pfeil == true %}
<div class="direction-holder"><img loading="lazy" src="{{ 'line-green.svg' | asset_url }}" alt="" class="direction-icon">
</div>{% endif %}
<div class="hide w-embed w-script"><script>pageFunctions.addFunction('tippy', function() {
    tippy('[data-tippy-content]', {        
      animation: 'fade',    
      duration: 200,      
      arrow: true,          
      delay: [0, 50],      
      arrowType: 'round',  
      theme: 'translucent',        
      maxWidth: 220,
      placement: 'top',
    })});
</script></div> {% schema %} {"tag":"section","name":"P - Product Grid","class":"section_products background-color-light-blue","blocks":[{"type":"@app"},{"name":"Headline small","type":"headline-small","settings":[{"id":"text_headline_small","type":"text","label":"Headline small","default":"Wirksam gegen Kalk f\u00fcr maximale Effizienz"}]},{"name":"Headline","type":"headline","settings":[{"id":"text_headline","type":"text","label":"Headline","default":"Aqon Pure reduziert Kalkablagerungen in offenen und geschlossenen Wasserkreisl\u00e4ufen."}]},{"name":"Text","type":"text","settings":[{"id":"richtext_intro_text","type":"richtext","label":"Intro Text","default":"<p>AQON Pure reduziert Kalkablagerungen in offenen und geschlossenen Wasserkreisl\u00e4ufen. Dies sorgt f\u00fcr eine optimale Energieeffizienz und senkt Kosten f\u00fcr Wartung &amp; Instanthaltung<\/p>"}]},{"name":"Span Element","type":"span-element","settings":[{"id":"text_text","type":"text","label":"Text","default":"This is some text inside of a div block."},{"type":"select","id":"class","label":"Klasse","options":[{"value":"text-size-regular","label":"Text"},{"value":"heading-style-h2","label":"H2"},{"value":"heading-style-h3","label":"H3"},{"value":"heading-style-h4","label":"H4"},{"value":"heading-style-h5","label":"H5"}],"default":"text-size-regular"}]},{"name":"Buttons","type":"buttons","settings":[{"id":"text_button_text","type":"text","label":"Button Text","default":"Mehr erfahren"},{"id":"url_button_link","type":"url","label":"Button Link"},{"id":"text_button_text_2","type":"text","label":"Button Text 2","default":"Mehr erfahren"},{"id":"url_button_link_2","type":"url","label":"Button Link 2"}]},{"name":"Produkt-Kachel","type":"produkt-kachel","settings":[{"id":"text_headline_small","type":"text","label":"Headline Small","default":"AQON PURE"},{"id":"text_headline","type":"text","label":"Headline","default":"home s"},{"id":"image_bild","type":"image_picker","label":"Bild"},{"id":"richtext_beschreibung","type":"richtext","label":"Beschreibung","default":"<p>Die schlaue L\u00f6sung. Auch beim Preis. \u2028Das home s ist unsere Antwort f\u00fcr den kleinsten Raum.<\/p>"},{"id":"image_icon_1","type":"image_picker","label":"Icon 1"},{"id":"richtext_text_1","type":"richtext","label":"Text - 1","default":"<p>Geeignet f\u00fcr Einfamilienh\u00e4user<\/p>"},{"id":"image_icon_2","type":"image_picker","label":"Icon 2"},{"id":"richtext_text_2","type":"richtext","label":"Text - 2","default":"<p>Geeignet f\u00fcr Einfamilienh\u00e4user<\/p>"},{"id":"image_icon_3","type":"image_picker","label":"Icon 3"},{"id":"richtext_text_3","type":"richtext","label":"Text - 3","default":"<p>Geeignet f\u00fcr Einfamilienh\u00e4user<\/p>"},{"id":"image_icon_4","type":"image_picker","label":"Icon 4"},{"id":"richtext_text_4","type":"richtext","label":"Text - 4","default":"<p>Geeignet f\u00fcr Einfamilienh\u00e4user<\/p>"},{"id":"text_check_text_1","type":"text","label":"Check Text - 1","default":"1 Jahr Geld-Zur\u00fcck-Garantie"},{"id":"url_garantie_link","type":"url","label":"Garantie Link"},{"id":"text_tooltip","type":"text","label":"Tooltip","default":"This is some text inside of a div block."},{"id":"text_check_text_2","type":"text","label":"Check Text - 2","default":"Inkl. kostenloser Wasserh\u00e4rtepr\u00fcfung"},{"id":"text_preis","type":"text","label":"Preis","default":"1.290 \u20ac"},{"id":"text_vergleichspreis","type":"text","label":"Vergleichspreis","default":"1.490\u20ac"},{"id":"text_sie_sparen","type":"text","label":"Sie sparen","default":"Sie sparen 200\u20ac"},{"id":"url_button_link","type":"url","label":"Button Link"},{"id":"text_button_text","type":"text","label":"Button Text","default":"Unverbindlich anfragen"},{"id":"url_mehr_erfahren_link","type":"url","label":"Mehr Erfahren Link"},{"id":"text_mehr_erfahren_text","type":"text","label":"Mehr Erfahren Text","default":"Direkt im Shop kaufen"}]},{"name":"Content-Kachel","type":"content-kachel","settings":[{"id":"text_headline_small","type":"text","label":"Headline Small","default":"AQON PURE"},{"id":"text_headline","type":"text","label":"Headline","default":"home s"},{"id":"image_bild","type":"image_picker","label":"Bild"},{"id":"text_bild_beschreibung","type":"text","label":"Bild-Beschreibung","default":"This is some text inside of a div block."},{"id":"richtext_beschreibung","type":"richtext","label":"Beschreibung","default":"<p>Die schlaue L\u00f6sung. Auch beim Preis. \u2028Das home s ist unsere Antwort f\u00fcr den kleinsten Raum.<\/p>"},{"id":"text_check_text_1","type":"text","label":"Check Text - 1","default":"Kostenlos &amp; unverbindlich"},{"id":"text_tooltip","type":"text","label":"Tooltip","default":"This is some text inside of a div block."},{"id":"text_check_text_2","type":"text","label":"Check Text - 2","default":"Professioneller Ansprechpartner"},{"id":"text_check_text_3","type":"text","label":"Check Text - 3","default":"Vertraulich und sicher"},{"id":"text_check_text_4","type":"text","label":"Check Text - 4","default":"Flexible Terminvereinbarung"},{"id":"url_button_link","type":"url","label":"Button Link"},{"id":"text_button_text","type":"text","label":"Button Text","default":"Unverbindlich anfragen"},{"id":"url_mehr_erfahren_link","type":"url","label":"Mehr Erfahren Link"},{"id":"text_mehr_erfahren_text","type":"text","label":"Mehr Erfahren Text","default":"Direkt im Shop kaufen"}]}],"settings":[{"id":"text_cta_headline","type":"text","label":"CTA Headline","default":"Heading"},{"id":"richtext_cta_beschreibung","type":"richtext","label":"CTA Beschreibung","default":"<p>Gerne assistieren wir Ihnen bei der Aufnahme der Fotos auch telefonisch. Hierzu erreichen Sie uns unter +49 (0) 6251 \/ 59 308 - 0. Die Fotos k\u00f6nnen Sie anschlie\u00dfend unter Angabe Ihrer Anfragenummer senden an: fotos@aqon-pure.com<\/p>"},{"id":"url_cta_link","type":"url","label":"CTA - LInk"},{"id":"text_cta_mehr_erfahren","type":"text","label":"CTA - Mehr erfahren","default":"Mehr erfahren"},{"id":"image_bild","type":"image_picker","label":"Bild"},{"id":"checkbox_pfeil","type":"checkbox","label":"Pfeil","default":true}],"presets":[{"name":"P - Product Grid","category":"Liquify"}]} {% endschema %}