<div class="padding-global padding-section-medium"><div class="container-medium is-center"><div class="landingpage_content-grid is-center"><div class="subline">
{{ section.settings.text_subline }}
</div>
<h2 class="heading-style-h2 text-align-center max-width-large">
{{ section.settings.text_headline }}
</h2>
<p class="text-size-regular text-align-center max-width-large"> {{ section.settings.textarea_text }} </p>
</div><div class="about_grid"><div class="splide"><div class="splide__track"><div class="splide__list"><div class="splide__slide"><div class="about_slide-bild"><img class="about_img"
     src="{{ section.settings.image_bild_1 | img_url: 'master' }}"
     alt="{{ section.settings.image_bild_1.alt }}"
     loading="lazy">
<div class="about_caption-text">
{{ section.settings.text_caption_1 }}
</div>
</div></div></div></div></div><div id="w-node-a09b95c9-af38-795a-9b49-3642373c4e6d-373c4e5a" class="about_slide-bild is--2"><img class="about_img"
     src="{{ section.settings.image_bild_2 | img_url: 'master' }}"
     alt="{{ section.settings.image_bild_2.alt }}"
     loading="lazy">
<div class="about_caption-text">
{{ section.settings.text_caption_2 }}
</div>
</div><div id="w-node-a09b95c9-af38-795a-9b49-3642373c4e71-373c4e5a" class="about_zitat"><p class="text-size-regular">
{{ section.settings.text_zitat }}
</p>
<p class="subline">
{{ section.settings.text_autor }}
</p>
</div><div class="about_slide-bild is--3"><img class="about_img"
     src="{{ section.settings.image_bild_3 | img_url: 'master' }}"
     alt="{{ section.settings.image_bild_3.alt }}"
     loading="lazy">
<div class="about_caption-text">
{{ section.settings.text_caption_3 }}
</div>
</div></div></div></div><div id="mission" class="anchor-link"></div> {% schema %} {"tag":"div","name":"restore_infos","class":"section_about-infos","settings":[{"id":"text_subline","type":"text","label":"subline","default":"Mission"},{"id":"text_headline","type":"text","label":"Headline","default":"Wir haben Heimplanet ins leben Gerufen, weil wir verbesserungs m\u00f6glichkeiten sehen"},{"id":"textarea_text","type":"textarea","label":"Text","default":"Wir haben erkannt, dass unser Fachwissen genutzt werden kann, um bessere Stoffe, fairere Arbeitsbedingungen, besser ausgebildete Hersteller, sauberere Produktionswege und durchdachtere Designs zu finden. Es hei\u00dft, Qualit\u00e4t sei die Erf\u00fcllung von Erwartungen. Warum nur erf\u00fcllen, wenn man sie auch \u00fcbertreffen kann? Wir machen so lange weiter, bis es nichts mehr zu verbessern gibt. Ist das ein unrealistisches Ziel?"},{"id":"image_bild_1","type":"image_picker","label":"Bild-1"},{"id":"text_caption_1","type":"text","label":"Caption-1","default":"Das Tarp"},{"id":"image_bild_2","type":"image_picker","label":"Bild-2"},{"id":"text_caption_2","type":"text","label":"Caption-2","default":"Das Tarp"},{"id":"text_zitat","type":"text","label":"Zitat","default":"\"Wir machen Produkte, die lange halten, eine hohe Qualit\u00e4t haben und sehr zeitlos sind. Das ist f\u00fcr uns der beste Weg gegen Ressourcenverschwendung.\""},{"id":"text_autor","type":"text","label":"Autor","default":"Stefan &amp; Stefan"},{"id":"image_bild_3","type":"image_picker","label":"Bild-3"},{"id":"text_caption_3","type":"text","label":"Caption-3","default":"Das Tarp"}],"presets":[{"name":"restore_infos","category":"Liquify"}]} {% endschema %}