<div class="ueber-uns_tab is-sticky is-first"><div class="padding-global"><div class="container-large"><div class="ueber-uns_grid"><div id="w-node-_31ed25e4-edd0-b435-5d79-6dd1cec2bb4f-cec2bb4a" class="uber-uns_link"><div class="subline">
{{ section.settings.text_subline_1 }}
</div>
</div></div></div></div></div><div class="ueber-uns_tab"><div class="padding-global"><div class="container-large"><div class="ueber-uns_grid"><div id="w-node-_31ed25e4-edd0-b435-5d79-6dd1cec2bb56-cec2bb4a" class="uber-uns_link"><div class="content-grid ueber-uns max-width-medium"><h3 class="heading-medium">
{{ section.settings.text_headline_1 }}
</h3>
<p> {{ section.settings.textarea_textfeld_1 }} </p>
{% if section.settings.text_button_text_1 != blank %}    <div li-if="section.settings.text_button_text_1 != blank">
    <a class="button w-button" href="{{ section.settings.url_button_link_1 }}"> {{ section.settings.text_button_text_1 }} </a>
    </div>
{% endif %}</div></div><img class="ueber-uns_bild"
     src="{{ section.settings.image_bild_1 | img_url: 'master' }}"
     alt="{{ section.settings.image_bild_1.alt }}"
     loading="lazy">
</div></div></div></div><div class="ueber-uns_tab is-sticky is-second"><div class="padding-global"><div class="container-large"><div class="ueber-uns_grid"><div id="w-node-_31ed25e4-edd0-b435-5d79-6dd1cec2bb63-cec2bb4a" class="uber-uns_link"><div class="subline">
{{ section.settings.text_subline_2 }}
</div>
</div></div></div></div></div><div class="ueber-uns_tab is-second"><div class="padding-global"><div class="container-large"><div class="ueber-uns_grid"><div id="w-node-_31ed25e4-edd0-b435-5d79-6dd1cec2bb6a-cec2bb4a" class="uber-uns_link"><div class="content-grid ueber-uns max-width-medium"><h3 class="heading-medium">
{{ section.settings.text_headline_2 }}
</h3>
<p> {{ section.settings.textarea_textfeld_2 }} </p>
{% if section.settings.text_button_text_2 != blank %}    <div li-if="section.settings.text_button_text_2 != blank">
    <a class="button w-button" href="{{ section.settings.url_button_link_2 }}"> {{ section.settings.text_button_text_2 }} </a>
    </div>
{% endif %}</div></div><img class="ueber-uns_bild"
     src="{{ section.settings.image_bild_2 | img_url: 'master' }}"
     alt="{{ section.settings.image_bild_2.alt }}"
     loading="lazy">
</div></div></div></div><div class="ueber-uns_tab is-sticky is-third"><div class="padding-global"><div class="container-large"><div class="ueber-uns_grid"><div id="w-node-_31ed25e4-edd0-b435-5d79-6dd1cec2bb77-cec2bb4a" class="uber-uns_link"><div class="subline">
{{ section.settings.text_subline_3 }}
</div>
</div></div></div></div></div><div class="ueber-uns_tab is-third"><div class="padding-global"><div class="container-large"><div class="ueber-uns_grid"><div id="w-node-_31ed25e4-edd0-b435-5d79-6dd1cec2bb7e-cec2bb4a" class="uber-uns_link"><div class="content-grid ueber-uns max-width-medium"><h3 class="heading-medium">
{{ section.settings.text_headline_3 }}
</h3>
<p> {{ section.settings.textarea_textfeld_3 }} </p>
{% if section.settings.text_button_text_3 != blank %}    <div li-if="section.settings.text_button_text_3 != blank">
    <a class="button w-button" href="{{ section.settings.url_button_link_3 }}"> {{ section.settings.text_button_text_3 }} </a>
    </div>
{% endif %}</div></div><img class="ueber-uns_bild"
     src="{{ section.settings.image_bild_3 | img_url: 'master' }}"
     alt="{{ section.settings.image_bild_3.alt }}"
     loading="lazy">
</div></div></div></div> {% schema %} {"tag":"section","name":"scroll_tabs","class":"section_ueber-uns-tabs","settings":[{"id":"text_subline_1","type":"text","label":"Subline-1","default":"Der perfekte Wein f\u00fcr Deine Quality Time"},{"id":"text_headline_1","type":"text","label":"Headline-1","default":"\u201eDiese Haltung beinhaltet, dass Werte wie Respekt, Ehrlichkeit, Vertrauen und Fairness eine besondere Rolle spielen.\u201c"},{"id":"textarea_textfeld_1","type":"textarea","label":"Textfeld-1","default":"Was gibt es sch\u00f6neres, als mit geliebten Menschen Zeit zu verbringen? Die Wertsch\u00e4tzung anderer und der bewusste Umgang mit \u201eQuality Time\u201c ist f\u00fcr uns extrem wichtig. Diese Haltung beinhaltet, dass Werte wie Respekt, Ehrlichkeit,"},{"id":"text_button_text_1","type":"text","label":"Button-Text-1","default":"Button Text"},{"id":"url_button_link_1","type":"url","label":"Button-Link-1"},{"id":"image_bild_1","type":"image_picker","label":"Bild-1"},{"id":"text_subline_2","type":"text","label":"Subline-2","default":"Der perfekte Wein f\u00fcr Deine Quality Time"},{"id":"text_headline_2","type":"text","label":"Headline-2","default":"\u201eDiese Haltung beinhaltet, dass Werte wie Respekt, Ehrlichkeit, Vertrauen und Fairness eine besondere Rolle spielen.\u201c"},{"id":"textarea_textfeld_2","type":"textarea","label":"Textfeld-2","default":"Was gibt es sch\u00f6neres, als mit geliebten Menschen Zeit zu verbringen? Die Wertsch\u00e4tzung anderer und der bewusste Umgang mit \u201eQuality Time\u201c ist f\u00fcr uns extrem wichtig. Diese Haltung beinhaltet, dass Werte wie Respekt, Ehrlichkeit,"},{"id":"url_button_link_2","type":"url","label":"Button-Link-2"},{"id":"text_button_text_2","type":"text","label":"Button-Text-2","default":"Button Text"},{"id":"image_bild_2","type":"image_picker","label":"Bild-2"},{"id":"text_subline_3","type":"text","label":"Subline-3","default":"Der perfekte Wein f\u00fcr Deine Quality Time"},{"id":"text_headline_3","type":"text","label":"Headline-3","default":"\u201eDiese Haltung beinhaltet, dass Werte wie Respekt, Ehrlichkeit, Vertrauen und Fairness eine besondere Rolle spielen.\u201c"},{"id":"textarea_textfeld_3","type":"textarea","label":"Textfeld-3","default":"Was gibt es sch\u00f6neres, als mit geliebten Menschen Zeit zu verbringen? Die Wertsch\u00e4tzung anderer und der bewusste Umgang mit \u201eQuality Time\u201c ist f\u00fcr uns extrem wichtig. Diese Haltung beinhaltet, dass Werte wie Respekt, Ehrlichkeit,"},{"id":"url_button_link_3","type":"url","label":"Button-Link-3"},{"id":"text_button_text_3","type":"text","label":"Button-Text-3","default":"Button Text"},{"id":"image_bild_3","type":"image_picker","label":"Bild-3"}],"presets":[{"name":"scroll_tabs","category":"Liquify"}]} {% endschema %}