<div id="w-node-b6876e40-bf4f-43b3-93eb-3d73791ed3e9-791ed3e8" class="product_image is-weinpaket"><img src="{{ product.featured_image | img_url: 'master' }}" loading="lazy" li-object:src="product.featured_image | img_url: 'master'" li-object:alt="product.featured_image.alt" alt="{{ product.featured_image.alt }}" class="product_image-img">
</div><script src="{{ 'liquify_custom.js' | asset_url }}" type="text/javascript"></script>
<div li-element="product-variant-container" id="w-node-b6876e40-bf4f-43b3-93eb-3d73791ed3eb-791ed3e8" class="product-hero_informationen" x-data="handleVariant({{ product | json | escape }}, {{ product.options_by_name | json | escape }}, {{ product.selected_or_first_available_variant | json | escape }})" x-init="$nextTick(() => { activateVariants() })" data-productid="{{ product.id }}" @setbundleitem.window="updateBundleItem($event.detail.product, $event.detail.quantity)"><div class="max-width-medium">{% if product.metafields.my_fields.weinpaket_flasche_1 != blank %}    <div li-if="product.metafields.my_fields.weinpaket_flasche_1 != blank">
    {% if product.metafields.custom.marketing_tags.value contains 'bdbadge' %}    <div li-if="product.metafields.custom.marketing_tags.value contains 'bdbadge'" class="hide">
    <img src="{{ 'vioneers-bf22-badge.svg' | asset_url }}" loading="lazy" id="w-node-b6876e40-bf4f-43b3-93eb-3d73791ed3ef-791ed3e8" alt="" class="tags_badge is-second">
<div class="hide w-embed">{% assign sum = 0 %}
                  {% capture preis %}
                  {% for product in product.metafields.my_fields.weinpaket_flasche_1.value %}
                  {% assign sum = sum | plus: product.price %}
                  {% endfor %}
                  {% endcapture %}
                  {% assign mengeRabatt = sum | minus: product.price %}
                  {% assign prozentRabatt = mengeRabatt | times: 100 | divided_by: sum %}</div>    </div>
{% endif %}<div class="product-hero_tags-wrapper">{% if prozentRabatt > 5 and sum != 0 %}    <div li-if="prozentRabatt > 5 and sum != 0" class="product-kachel_tag is-red">
    <div class="product-kachel_tag-icon w-embed"><svg width="100%" height="100%" viewbox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.84453 13.9106C8.64384 14.1113 8.39309 14.2116 8.09228 14.2116C7.791 14.2116 7.54002 14.1113 7.33932 13.9106L1.10599 7.67725C0.999739 7.571 0.917101 7.45294 0.858073 7.32308C0.799045 7.19322 0.769531 7.05155 0.769531 6.89808V1.8335C0.769531 1.53836 0.872948 1.28761 1.07978 1.08125C1.28614 0.874413 1.53689 0.770996 1.83203 0.770996H6.89661C7.03828 0.770996 7.17711 0.80051 7.31311 0.859538C7.44864 0.918566 7.56363 0.995302 7.65807 1.08975L13.8914 7.32308C14.1039 7.53558 14.2102 7.79223 14.2102 8.09304C14.2102 8.39432 14.1098 8.6453 13.9091 8.846L8.84453 13.9106ZM8.08307 13.1668L13.1477 8.10225L6.89661 1.8335H1.83203V6.89808L8.08307 13.1668ZM3.60286 4.48975C3.85078 4.48975 4.06045 4.40404 4.23186 4.23262C4.40281 4.06168 4.48828 3.85225 4.48828 3.60433C4.48828 3.35641 4.40281 3.14675 4.23186 2.97533C4.06045 2.80438 3.85078 2.71891 3.60286 2.71891C3.35495 2.71891 3.14552 2.80438 2.97457 2.97533C2.80316 3.14675 2.71745 3.35641 2.71745 3.60433C2.71745 3.85225 2.80316 4.06168 2.97457 4.23262C3.14552 4.40404 3.35495 4.48975 3.60286 4.48975Z" fill="white"></path></svg></div><div>Spare <span li-object="prozentRabatt">{{ prozentRabatt }}</span>%</div>    </div>
{% endif %}</div>    </div>
{% endif %}<div class="spacer-xsmall"></div><h1 class="heading-xlarge"><span li-object="product.title">{{ product.title }}</span></h1><div class="spacer-medium"></div>{% unless product.title contains 'paket' %}    <div li-unless="product.title contains 'paket'">
    {% if product.metafields.my_fields.weinpaket_flasche_1 == blank %}    <div li-if="product.metafields.my_fields.weinpaket_flasche_1 == blank">
    <div li-object="product.metafields.my_fields.produktbeschreibung">{{ product.metafields.my_fields.produktbeschreibung }}</div>    </div>
{% endif %}    </div>
{% endunless %}<div class="product-hero_kachel">{% if product.metafields.product.tastetag != blank %}    <div li-if="product.metafields.product.tastetag != blank" id="w-node-b6876e40-bf4f-43b3-93eb-3d73791ed402-791ed3e8" class="product-kachel_info is-produkt">
    <div class="product-kachel_hashtag is-gold">#<span li-object="product.metafields.product.tastetag">{{ product.metafields.product.tastetag }}</span></div><div id="w-node-b6876e40-bf4f-43b3-93eb-3d73791ed407-791ed3e8" class="product-kachel_trenner is-big"></div><div li-object="product.metafields.my_fields.produktbeschreibung">{{ product.metafields.my_fields.produktbeschreibung }}</div>    </div>
{% endif %}{% if product.metafields.my_fields.veranstaltung_uhrzeit != blank %}    <div li-if="product.metafields.my_fields.veranstaltung_uhrzeit != blank" id="w-node-b6876e40-bf4f-43b3-93eb-3d73791ed40a-791ed3e8" class="product-kachel_info-2 is-solo">
    <img src="{{ 'calender.svg' | asset_url }}" loading="lazy" alt="" class="product-kachel_wein-icon is-veranstaltung">
<div li-object="product.metafields.my_fields.veranstaltung_uhrzeit">{{ product.metafields.my_fields.veranstaltung_uhrzeit }}</div>    </div>
{% endif %}{% if product.metafields.my_fields.veranstaltung_ort != blank %}    <div li-if="product.metafields.my_fields.veranstaltung_ort != blank" id="w-node-d92164dc-73ae-2907-bab5-4367cee6555b-791ed3e8" class="product-kachel_info-2 is-solo">
    <img src="{{ 'location_on.svg' | asset_url }}" loading="lazy" alt="" class="product-kachel_wein-icon is-veranstaltung">
<div li-object="product.metafields.my_fields.veranstaltung_ort">{{ product.metafields.my_fields.veranstaltung_ort }}</div>    </div>
{% endif %}{% if product.metafields.my_fields.veranstaltung_art != blank %}    <div li-if="product.metafields.my_fields.veranstaltung_art != blank" id="w-node-_7f4fea0f-524f-9dae-cd49-e21372c66906-791ed3e8" class="product-kachel_info-2 is-solo">
    <img src="{{ 'contacts.svg' | asset_url }}" loading="lazy" alt="" class="product-kachel_wein-icon is-veranstaltung">
<div li-object="product.metafields.my_fields.veranstaltung_art">{{ product.metafields.my_fields.veranstaltung_art }}</div>    </div>
{% endif %}{% if product.metafields.my_fields.weinpaket_flasche_1 != blank %}    <div li-if="product.metafields.my_fields.weinpaket_flasche_1 != blank" id="w-node-_5903cf4b-6f0e-00f6-1cd1-6626b6aae1f0-791ed3e8" class="product-kachel_info-2 is-solo">
    {% if product.metafields.my_fields.weinpaket_flasche_1 != blank %}    <div li-if="product.metafields.my_fields.weinpaket_flasche_1 != blank" class="produkt-kachel_weinfalschen">
    {% assign unique_winetypes = '' %}  {% for product in product.metafields.my_fields.weinpaket_flasche_1.value %}      {% assign winetype = product.metafields.product.winetypes %}    {% if unique_winetypes contains winetype %}     {% continue %}   {% else %}     {% assign unique_winetypes = unique_winetypes | append: winetype | append: ',' %}   {% endif %} {% endfor %}  {% assign unique_winetypes_array = unique_winetypes | split: ',' | uniq %}
{% for winetype in unique_winetypes_array %}    <div li-for="winetype in unique_winetypes_array" class="produkt-kachel_weinfalschen">
                                    {% if winetype == 'Rotwein' %}    <img src="{{ 'wine-red-1.svg' | asset_url }}" loading="lazy" li-if="winetype == 'Rotwein'" alt="" class="product-kachel_wein-icon">
{% endif %}
                            {% if winetype == 'Roséwein' %}    <img src="{{ 'wine-red-1-1.svg' | asset_url }}" loading="lazy" li-if="winetype == 'Roséwein'" alt="" class="product-kachel_wein-icon">
{% endif %}
                            {% if winetype == 'Weißwein' %}    <img src="{{ 'wine-red-1-3.svg' | asset_url }}" loading="lazy" li-if="winetype == 'Weißwein'" alt="" class="product-kachel_wein-icon">
{% endif %}
                            {% if winetype == 'Schaumwein' %}    <img src="{{ 'wine-red-1-2.svg' | asset_url }}" loading="lazy" li-if="winetype == 'Schaumwein'" alt="" class="product-kachel_wein-icon">
{% endif %}
                        </div>
{% endfor %}    </div>
{% endif %}<div li-object="product.metafields.my_fields.kurzbeschreibung">{{ product.metafields.my_fields.kurzbeschreibung }}</div>    </div>
{% endif %}</div><div class="w-form"><form id="email-form" name="email-form" data-name="Email Form" method="get" data-wf-page-id="65d38219e69198496ff8b593" data-wf-element-id="b6876e40-bf4f-43b3-93eb-3d73791ed414"><div liquid:unless="product.metafields.custom.marketing_tags.value contains 'qty-break' " id="w-node-b6876e40-bf4f-43b3-93eb-3d73791ed415-791ed3e8" class="product-hero_buy">{% if product.metafields.custom.marketing_tags.value contains 'qty-break'  %}    <div li-if="product.metafields.custom.marketing_tags.value contains 'qty-break' " id="w-node-b6876e40-bf4f-43b3-93eb-3d73791ed416-791ed3e8" class="product-hero_upsell">
    <div class="text-size-regular text-weight-bold">Anzahl wählen</div><label x-model="quantity" id="w-node-b6876e40-bf4f-43b3-93eb-3d73791ed419-791ed3e8" class="radio3_field w-radio"><div class="radio3_icon-wrapper"><img alt="" loading="lazy" src="{{ 'vioneers-quantity-bottle.webp' | asset_url }}" class="product-hero_quantity-img">
</div><div class="w-form-formradioinput w-form-formradioinput--inputType-custom radio3_button w-radio-input"></div><input type="radio" name="quantity" id="1" data-name="quantity" style="opacity:0;position:absolute;z-index:-1" value="1">
<span class="radio3_label w-form-label" for="1">1 Flasche</span><div class="product-hero_quantity-price-wrapper"><div><span li-object="product.price | money">{{ product.price | money }}</span>/Flasche</div></div></label><label x-modal="quantity" id="w-node-b6876e40-bf4f-43b3-93eb-3d73791ed424-791ed3e8" class="radio3_field w-radio"><div class="radio3_icon-wrapper"><img alt="" loading="lazy" src="{{ 'vioneers-quantity-box.webp' | asset_url }}" class="product-hero_quantity-img">
</div><div class="w-form-formradioinput w-form-formradioinput--inputType-custom radio3_button w-radio-input"></div><input type="radio" name="quantity" id="6" data-name="quantity" style="opacity:0;position:absolute;z-index:-1" value="6">
<span class="radio3_label w-form-label" for="6">Karton (6 Flaschen)</span><div class="product-hero_quantity-price-wrapper"><div li-object="product.price | money | times: 6">{{ product.price | money | times: 6 }}</div><div class="product-hero_discount">Spare 10%</div></div></label>    </div>
{% endif %}{% if product.has_only_default_variant != true %}    <div li-if="product.has_only_default_variant != true" id="w-node-b6876e40-bf4f-43b3-93eb-3d73791ed42f-791ed3e8" class="product-header_option-list">
    <template x-for="(option, optionKey) in product.options" :key="optionKey">
    <div li-element="product-options-loop" class="product-header_option" data-ProductVariantsLoop="true"><div li-element="product-options-name" x-text="option">Variant</div><div class="product-header_radio-list"><template x-for="(variantName, variantKey) in options_by_name[option].option.values" :key="variantName">
    <label li-element="product-option-loop" class="product-header_radio w-radio"><div class="w-form-formradioinput w-form-formradioinput--inputType-custom product-header_radio-button w-radio-input"></div><input type="radio" li-element="product-option-input" style="opacity:0;position:absolute;z-index:-1" x-on:click="setVariant" :name="option" :data-name="option" :value="variantName" :id="variantName.toString().normalize('NFD').replace(/[\u0300-\u036f]/g, '').toLowerCase().trim().replace(/\s+/g, '-').replace(/[^\w-]+/g, '').replace(/--+/g, '-')" :checked="selected_or_first_available_variant?.options.includes(variantName)" data-selectorType="radio" :class="firstOptionHasAvailableChildren[variantName] ? '' : 'data-disabled'">
<span li-element="product-option-name" class="text-size-regular text-weight-semibold w-form-label" for="radio-2" x-text="variantName" :for="variantName">XS</span></label></template>
</div></div></template>
    </div>
{% endif %}<div class="product-kachel_pricing"><div li-object="product.price | money" class="heading-large is-price">{{ product.price | money }}</div>{% if product.compare_at_price_max > product.price %}    <div li-if="product.compare_at_price_max > product.price">
    <div li-object:text="product.compare_at_price | money" class="text-style-strikethrough">
{{ product.compare_at_price | money }}
</div>    </div>
{% endif %}{% for variant in product.variants %}    <div li-for="variant in product.variants">
                                    {% if variant.metafields.global.unit_pricing_base_price != blank %}    <div li-if="variant.metafields.global.unit_pricing_base_price != blank" class="product-kachel_hinweis">
    Preis pro Ltr: <span li-object="variant.metafields.global.unit_pricing_base_price">{{ variant.metafields.global.unit_pricing_base_price }}</span><br>
 <br>
Lebensmittelangaben. Inkl. 19% MwSt., zzgl. Versandkosten.    </div>
{% endif %}
                        </div>
{% endfor %}</div><div id="w-node-b6876e40-bf4f-43b3-93eb-3d73791ed447-791ed3e8"><div>{% unless product.available %}    <a li-unless="product.available" href="#" class="button clickable-off w-button">
    Ausverkauft    </a>
{% endunless %}{% if product.available %}    <div li-if="product.available">
    <a li-element="add-to-cart" href="#" class="button max-width-full w-button" @click="addToCart()" :disabled="!addToCartButton">In den Warenkorb</a>    </div>
{% endif %}</div><div>{% if product.metafields.custom.versandinfo != blank %}    <div li-if="product.metafields.custom.versandinfo != blank" class="product-kachel_indicator-wrapper">
    <img src="https://uploads-ssl.webflow.com/625551589caaca0f4560d24b/625551589caaca0cb160d2d1_Group%20143725237.svg" loading="lazy" alt="" class="product-kachel_indicator-circle">
<div li-object="product.metafields.custom.versandinfo" class="product-kachel_hinweis">{{ product.metafields.custom.versandinfo }}</div>    </div>
{% endif %}</div>{% if product.metafields.custom.versandinfo == blank %}    <div li-if="product.metafields.custom.versandinfo == blank">
    {% if product.available == true %}    <div li-if="product.available == true" class="product-kachel_indicator-wrapper">
    <img src="https://uploads-ssl.webflow.com/625551589caaca0f4560d24b/625551589caaca0cb160d2d1_Group%20143725237.svg" loading="lazy" alt="" class="product-kachel_indicator-circle">
<div class="product-kachel_hinweis">Direkt lieferbar.</div>    </div>
{% endif %}{% if product.available == false %}    <div li-if="product.available == false" class="product-kachel_indicator-wrapper">
    <img src="{{ 'Group-143725238.svg' | asset_url }}" loading="lazy" alt="" class="product-kachel_indicator-circle">
<div class="product-kachel_hinweis">Aktuell nicht lieferbar.</div>    </div>
{% endif %}    </div>
{% endif %}</div></div></form><div class="hide w-form-done"><div>Thank you! Your submission has been received!</div></div><div class="hide w-form-fail"><div>Oops! Something went wrong while submitting the form.</div></div></div></div></div> {% schema %} {"tag":"div","name":"simple_product_hero","class":"section_product-hero is-weinpaket","presets":[{"name":"simple_product_hero","category":"Liquify"}]} {% endschema %}