<div class="padding-global"><div class="container-large"><div class="freisteller_content"><img class="freisteller_content-right-img"
     src="{{ section.settings.image_image | img_url: 'master' }}"
     alt="{{ section.settings.image_image.alt }}"
     loading="lazy">
<div id="w-node-_515073ee-dfc4-8d9e-5ac0-cf2bd4ad3340-d4ad333b" class="freisteller_content-left"><h2 class="heading-style-h2">
{{ section.settings.text_heading }}
</h2>
<div class="max-width-xmedium"><p class="text-size-medium">
{{ section.settings.text_paragraph }}
</p>
</div>{% if section.settings.url_link_url != blank %}    <div li-if="section.settings.url_link_url != blank">
    <a class="button-link w-inline-block" href="{{ section.settings.url_link_url }}"> <div class="button-link_inner"><div class="text-size-regular text-weight-semibold">{{ section.settings.text_link_text }}</div><div class="icon-embed-xsmall no-width w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewbox="0 0 9 25" fill="none" preserveaspectratio="xMidYMid meet" aria-hidden="true" role="img"><path d="M8.66993 12.2525C8.82942 12.412 8.82942 12.6707 8.66993 12.8302L6.07003 15.4301C5.91049 15.5896 5.65183 15.5896 5.49229 15.4301C5.33274 15.2705 5.33274 15.0119 5.49229 14.8523L7.80327 12.5413L5.49229 10.2304C5.33274 10.0708 5.33274 9.81216 5.49229 9.65261C5.65183 9.49307 5.91049 9.49307 6.07003 9.65261L8.66993 12.2525ZM0.210449 12.1328H8.38102V12.9499H0.210449L0.210449 12.1328Z" fill="currentColor"></path></svg></div></div><div class="button-link_underline"></div> </a>
    </div>
{% endif %}</div></div></div></div> {% schema %} {"tag":"div","name":"t_right_big_img_l","class":"section_freisteller background-color-standard-grey","settings":[{"id":"image_image","type":"image_picker","label":"Image"},{"id":"text_heading","type":"text","label":"Heading","default":"Form follows function."},{"id":"text_paragraph","type":"text","label":"Paragraph","default":"Since we founded the company in 2015, we have followed three principles: high-quality materials, elaborate craftsmanship, and all this at a fair price."},{"id":"url_link_url","type":"url","label":"Link Url"},{"id":"text_link_text","type":"text","label":"Link Text","default":"Show all categories"}],"presets":[{"name":"t_right_big_img_l","category":"Liquify"}]} {% endschema %}