<div class="padding-global"><div class="container-large"><div class="slogan_content"><div class="other-span">
{{ section.settings.text_subheading }}
</div>
<div class="max-width-large"><h2 class="heading-style-h2">
{{ section.settings.text_heading }}
</h2>
</div><div class="max-width-medium"><p class="text-size-medium">
{{ section.settings.text_paragraph }}
</p>
</div></div></div></div><div class="slogan_img-wrapper"><img class="slogan_img"
     src="{{ section.settings.image_bg_image | img_url: 'master' }}"
     alt="{{ section.settings.image_bg_image.alt }}"
     loading="lazy">
</div> {% schema %} {"tag":"div","name":"t_w_bg_logo","class":"section_slogan background-color-standard-grey","settings":[{"id":"text_subheading","type":"text","label":"Subheading","default":"About us"},{"id":"text_heading","type":"text","label":"Heading","default":"We have been dedicated to perfecting our craft since 2015"},{"id":"text_paragraph","type":"text","label":"Paragraph","default":"Since we founded the company in 2015, we have followed three principles: high-quality materials, elaborate craftsmanship, and all this at a fair price."},{"id":"image_bg_image","type":"image_picker","label":"BG Image"}],"presets":[{"name":"t_w_bg_logo","category":"Liquify"}]} {% endschema %}