<div class="padding-global"><div class="container-large"><div class="hero_content"><div id="w-node-_6d201f49-af89-d0c2-89cb-00dfef9a63e6-ef9a63e2" class="hero_content-left"><div class="breadcrumb_component"><a href="index.html" class="w-inline-block"><div class="text-size-tiny text-color-81">
{{ section.settings.text_breadcrumb_1 }}
</div>
</a><div class="icon-embed-xxsmall w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewbox="0 0 16 16" fill="none" preserveaspectratio="xMidYMid meet" aria-hidden="true" role="img"><mask id="mask0_2921_6375" style="mask-type:alpha" maskunits="userSpaceOnUse" x="0" y="0" width="16" height="16"><rect y="16" width="16" height="16" transform="rotate(-90 0 16)" fill="#D9D9D9"></rect></mask><g mask="url(#mask0_2921_6375)"><path d="M10.9333 8L6.93333 12L6 11.0667L9.06667 8L6 4.93333L6.93333 4L10.9333 8Z" fill="#1C1B1F" fill-opacity="0.3"></path></g></svg></div><div class="text-size-tiny">
{{ section.settings.text_breadcrumb_2 }}
</div>
</div><div class="spacer-22"></div><div class="max-width-medium"><h1 class="heading-style-h1">
{{ section.settings.text_main_heading }}
</h1>
<div class="spaer-30"></div><p class="text-size-regular">
{{ section.settings.text_paragraph }}
</p>
</div><div class="spacer-36"></div><a class="button w-button" href="{{ section.settings.url_button_url }}"> {{ section.settings.text_button_text }} </a>
</div><img class="hero_content-right-img"
     src="{{ section.settings.image_image | img_url: 'master' }}"
     alt="{{ section.settings.image_image.alt }}"
     loading="lazy">
</div></div></div> {% schema %} {"tag":"header","name":"t_w_img_br","class":"section_hero","settings":[{"id":"text_breadcrumb_1","type":"text","label":"Breadcrumb #1","default":"Home"},{"id":"text_breadcrumb_2","type":"text","label":"Breadcrumb #2","default":"Mining Hardware"},{"id":"text_main_heading","type":"text","label":"Main Heading","default":"Langfristig Rendite erzielen mit Bitcoin Mining"},{"id":"text_paragraph","type":"text","label":"Paragraph","default":"Wir unterst\u00fctzen Investoren und Family Offices bei der langfristigen Geldanlage in Bitcoin Miner, um sicher und effizient vom wachsenden Krypto-Markt zu profitieren."},{"id":"url_button_url","type":"url","label":"Button-Url"},{"id":"text_button_text","type":"text","label":"Button-Text","default":"Produkte entdecken"},{"id":"image_image","type":"image_picker","label":"Image"}],"presets":[{"name":"t_w_img_br","category":"Liquify"}]} {% endschema %}