<div class="padding-global"><div class="container-large"><div class="category_content"><div class="breadcrumb_component"><a href="index.html" class="w-inline-block"><div class="text-size-tiny text-color-81">
{{ section.settings.text_breadcrumb_1 }}
</div>
</a><div class="icon-embed-xxsmall w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewbox="0 0 16 16" fill="none" preserveaspectratio="xMidYMid meet" aria-hidden="true" role="img"><mask id="mask0_2921_6375" style="mask-type:alpha" maskunits="userSpaceOnUse" x="0" y="0" width="16" height="16"><rect y="16" width="16" height="16" transform="rotate(-90 0 16)" fill="#D9D9D9"></rect></mask><g mask="url(#mask0_2921_6375)"><path d="M10.9333 8L6.93333 12L6 11.0667L9.06667 8L6 4.93333L6.93333 4L10.9333 8Z" fill="#1C1B1F" fill-opacity="0.3"></path></g></svg></div><div class="text-size-tiny">
{{ section.settings.text_breadcrumb_2 }}
</div>
</div><div class="category_content-main background-color-dark-brown"><div id="w-node-_52bc5a54-17ce-13ac-336d-defeb47262c3-b47262b8" class="category_content-left"><div class="subline">
{{ section.settings.text_subheading }}
</div>
<div class="spacer-22"></div><h1 class="heading-style-h1">
{{ section.settings.text_main_heading }}
</h1>
<div class="spacer-30"></div><p>
{{ section.settings.text_paragraph }}
</p>
</div><div id="w-node-_52bc5a54-17ce-13ac-336d-defeb47262cc-b47262b8" class="category_content-img-wrapper"><img class="category_content-img"
     src="{{ section.settings.image_image | img_url: 'master' }}"
     alt="{{ section.settings.image_image.alt }}"
     loading="lazy">
</div></div></div></div></div> {% schema %} {"tag":"section","name":"text_l_w_i_inc","class":"section_category","settings":[{"id":"text_breadcrumb_1","type":"text","label":"Breadcrumb #1","default":"Home"},{"id":"text_breadcrumb_2","type":"text","label":"Breadcrumb #2","default":"{{ collection.title }}"},{"id":"text_subheading","type":"text","label":"Subheading","default":"Mining Hardware &amp; Hosting Services"},{"id":"text_main_heading","type":"text","label":"Main Heading","default":"Mining Hardware"},{"id":"text_paragraph","type":"text","label":"Paragraph","default":"Wir unterst\u00fctzen Sie dabei, die optimale Strategie f\u00fcr Ihr Mining-Vorhaben zu entwickeln. Entdecken Sie mit Blockmine innovative Ans\u00e4tze, um Ihre Ziele effektiv zu erreichen."},{"id":"image_image","type":"image_picker","label":"Image"}],"presets":[{"name":"text_l_w_i_inc","category":"Liquify"}]} {% endschema %}