<div class="padding-global"><div class="container-large"><div class="about-us_content-wrapper"><div class="pairing_headline"><div class="content-grid is-centered max-width-large"><div class="team_heading-wrapper"><div class="subline">
{{ section.settings.text_subline }}
</div>
<h2 class="heading-style-h1">
{{ section.settings.text_headline }}
</h2>
<div class="text-size-large">
{{ section.settings.text_text }}
</div>
<a class="button w-button" href="{{ section.settings.url_button_link }}"> {{ section.settings.text_button_text }} </a>
</div></div></div><div class="discover_main-grid"><div id="w-node-e9e6b92f-0562-6b8a-79ed-378764840aa7-6ff8b59c" class="discover_grid-1"><div class="discover_international"><div class="z-index-3"><div class="heading-style-h2">
{{ section.settings.text_kachel_1_zahl }}
</div>
<div class="heading-style-h4">
{{ section.settings.text_kachel_1_text }}
</div>
</div><a class="button is-white z-index-3 w-button" href="{{ section.settings.url_kachel_1_button_link }}"> {{ section.settings.text_kachel_1_button_text }} </a>
<div class="discover_international-bg-overlay"></div><img src="{{ 'discover-globe.png' | asset_url }}" loading="lazy" sizes="(max-width: 479px) 93vw, (max-width: 767px) 92vw, (max-width: 991px) 44vw, 23vw" srcset="{{ 'discover-globe-p-500.png' | asset_url }} 500w, {{ 'discover-globe.png' | asset_url }} 567w" alt="" class="discover_international-bg-image">
</div><div class="discover_quality"><div class="heading-style-h4 opacity-0-2">
{{ section.settings.text_kachel_2_text_1 }}
</div>
<div class="heading-style-h4 opacity-0-4">
{{ section.settings.text_kachel_2_text_2 }}
</div>
<div class="heading-style-h4 opacity-0-6">
{{ section.settings.text_kachel_2_text_3 }}
</div>
<div class="discover_quality-divider"></div><div class="heading-style-h4">
{{ section.settings.text_kachel_2_text_4 }}
</div>
</div></div><div id="w-node-_9ddc6dfd-b367-b113-bd22-362334428bc2-6ff8b59c" class="discover_main-item"><img class="discover_main-video"
     src="{{ section.settings.image_kachel_2_bild | img_url: 'master' }}"
     alt="{{ section.settings.image_kachel_2_bild.alt }}"
     loading="lazy">
<div data-current="Tab 1" data-easing="ease" data-duration-in="300" data-duration-out="100" class="discover_tabs w-tabs"><div class="discover_tabs-content w-tab-content"><div data-w-tab="Tab 1" class="discover_tabs-pane w-tab-pane w--tab-active"><div class="discover_tabs-pane-text"><div class="heading-style-h3">
{{ section.settings.text_tab_1_content_headline }}
</div>
<div class="text-size-small">
{{ section.settings.text_tab_1_content_text }}
</div>
</div></div><div data-w-tab="Tab 2" class="discover_tabs-pane w-tab-pane"><div class="discover_tabs-pane-text"><div class="heading-style-h3">
{{ section.settings.text_tab_2_content_headline }}
</div>
<div class="text-size-small">
{{ section.settings.text_tab_2_content_text }}
</div>
</div></div><div data-w-tab="Tab 3" class="discover_tabs-pane w-tab-pane"><div class="discover_tabs-pane-text"><div class="heading-style-h3">
{{ section.settings.text_tab_3_content_headline }}
</div>
<div class="text-size-small">
{{ section.settings.text_tab_3_content_text }}
</div>
</div></div><div data-w-tab="Tab 4" class="discover_tabs-pane w-tab-pane"><div class="discover_tabs-pane-text"><div class="heading-style-h3">
{{ section.settings.text_tab_4_content_headline }}
</div>
<div class="text-size-small">
{{ section.settings.text_tab_4_content_text }}
</div>
</div></div></div><div class="discover_tabs-menu w-tab-menu"><a data-w-tab="Tab 1" class="discover_tab-link w-inline-block w-tab-link w--current"><img class="discover_tab-link-image"
     src="{{ section.settings.image_tab_1_link_bild | img_url: 'master' }}"
     alt="{{ section.settings.image_tab_1_link_bild.alt }}"
     loading="lazy">
<div class="text-size-small">
{{ section.settings.text_tab_1_link_text }}
</div>
<div class="discover_tab-link-icon w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="8" height="11" viewbox="0 0 8 11" fill="none"><path d="M0.499939 0.500061L6.5 5.5L0.499939 10.4999" stroke="white" stroke-opacity="0.3"></path></svg></div></a><a data-w-tab="Tab 2" class="discover_tab-link w-inline-block w-tab-link"><img class="discover_tab-link-image"
     src="{{ section.settings.image_tab_2_link_bild | img_url: 'master' }}"
     alt="{{ section.settings.image_tab_2_link_bild.alt }}"
     loading="lazy">
<div class="text-size-small">
{{ section.settings.text_tab_2_link_text }}
</div>
<div class="discover_tab-link-icon w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="8" height="11" viewbox="0 0 8 11" fill="none"><path d="M0.499939 0.500061L6.5 5.5L0.499939 10.4999" stroke="white" stroke-opacity="0.3"></path></svg></div></a><a data-w-tab="Tab 3" class="discover_tab-link w-inline-block w-tab-link"><img class="discover_tab-link-image"
     src="{{ section.settings.image_tab_3_link_bild | img_url: 'master' }}"
     alt="{{ section.settings.image_tab_3_link_bild.alt }}"
     loading="lazy">
<div class="text-size-small">
{{ section.settings.text_tab_3_link_text }}
</div>
<div class="discover_tab-link-icon w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="8" height="11" viewbox="0 0 8 11" fill="none"><path d="M0.499939 0.500061L6.5 5.5L0.499939 10.4999" stroke="white" stroke-opacity="0.3"></path></svg></div></a><a data-w-tab="Tab 4" class="discover_tab-link w-inline-block w-tab-link"><img class="discover_tab-link-image"
     src="{{ section.settings.image_tab_4_link_bild | img_url: 'master' }}"
     alt="{{ section.settings.image_tab_4_link_bild.alt }}"
     loading="lazy">
<div class="text-size-small">
{{ section.settings.text_tab_4_link_text }}
</div>
</a></div></div></div><div id="w-node-f2541ae9-32f6-fe0c-508d-29ffa489cec8-6ff8b59c" class="discover_grid-2"><div id="w-node-f2541ae9-32f6-fe0c-508d-29ffa489cec9-6ff8b59c" class="discover_values"><img class="discover_values-image"
     src="{{ section.settings.image_kachel_3_bild | img_url: 'master' }}"
     alt="{{ section.settings.image_kachel_3_bild.alt }}"
     loading="lazy">
<div class="fs_modal-2_component is-discover-values"><div class="fs_modal-2_embed w-embed w-script"><!--   [Finsweet Attributes] Modal   --><script>(()=>{var t="https://cdn.jsdelivr.net/npm/@finsweet/attributes-modal@1/modal.js",e=document.querySelector(`script[src="${t}"]`);e||(e=document.createElement("script"),e.async=!0,e.src=t,document.head.append(e));})();</script></div><div aria-roledescription="open-modal-trigger" class="team_plus-link" fs-scrolldisable-element="disable" role="button" aria-haspopup="dialog" aria-controls="fs-modal-99-popup" fs-modal-element="open-99" aria-expanded="false" tabindex="0"><div class="team_plus-icon w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="39" height="38" viewbox="0 0 39 38" fill="none"><circle cx="19.5" cy="19" r="19" fill="#0C0C0C"></circle><path d="M12.5 19.5H27.5" stroke="white" stroke-width="1.5"></path><path d="M20 27L20 12" stroke="white" stroke-width="1.5"></path></svg></div></div><div id="fs-modal-3-popup" fs-modal-element="modal-99" role="dialog" aria-modal="true" aria-labelledby="fs-modal-2-heading" class="fs_modal-2_popup"><div fs-scrolldisable-element="enable" fs-modal-element="close-99" aria-hidden="true" class="fs_modal-2_cover"></div><div class="fs_modal-2_wrapper"><img class="fs_modal-2_image"
     src="{{ section.settings.image_pop_up_bild | img_url: 'master' }}"
     alt="{{ section.settings.image_pop_up_bild.alt }}"
     loading="lazy">
<div class="fs_modal-2_content"><h2 id="fs-modal-2-heading" class="heading-style-h3">
{{ section.settings.text_pop_up_headline }}
</h2>
<div id="w-node-e5469ca0-5ef6-bacf-a254-aaafdb053585-6ff8b59c" class="text-size-small">
{{ section.settings.text_pop_up_text }}
</div>
</div><div aria-roledescription="close-modal-trigger" class="fs_modal-2_close" fs-scrolldisable-element="enable" aria-label="Close modal" role="button" aria-controls="fs-modal-2-popup" fs-modal-element="close-99" aria-expanded="false" tabindex="0"><div class="fs_modal-2_close-icon w-embed"><svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" viewbox="0 0 24 24"><path fill="CurrentColor" d="M14.5,12l9-9c0.7-0.7,0.7-1.8,0-2.5c-0.7-0.7-1.8-0.7-2.5,0l-9,9l-9-9c-0.7-0.7-1.8-0.7-2.5,0 c-0.7,0.7-0.7,1.8,0,2.5l9,9l-9,9c-0.7,0.7-0.7,1.8,0,2.5c0.7,0.7,1.8,0.7,2.5,0l9-9l9,9c0.7,0.7,1.8,0.7,2.5,0 c0.7-0.7,0.7-1.8,0-2.5L14.5,12z"></path></svg></div></div></div></div></div></div><a class="discover_weingut w-inline-block" href="{{ section.settings.url_kachel_4_link }}"> <div class="heading-style-h4 z-index-1">{{ section.settings.text_kachel_4_headline }}</div><div class="text-size-small z-index-1">{{ section.settings.text_kachel_4_text }}</div><img class="discover_weingut-image" src="{{ section.settings.image_kachel_4_bild | img_url: 'master' }}" alt="{{ section.settings.image_kachel_4_bild.alt }}" loading="lazy"><div class="gastro_overlay"></div> </a>
</div></div></div></div></div> {% schema %} {"tag":"section","name":"uu_discover","class":"section_discover","settings":[{"id":"text_subline","type":"text","label":"Subline","default":"Winzerentdecker"},{"id":"text_headline","type":"text","label":"Headline","default":"Wir bei Vioneers sind erfahrene Winzerentdecker &amp; Sucher."},{"id":"text_text","type":"text","label":"Text","default":"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam massa volutpat massa ornare. Scelerisque ullamcorper elit sed vitae lectus varius vel pulvinar."},{"id":"url_button_link","type":"url","label":"Button Link"},{"id":"text_button_text","type":"text","label":"Button Text","default":"Button Text"},{"id":"text_kachel_1_zahl","type":"text","label":"Kachel 1 Zahl","default":"300+"},{"id":"text_kachel_1_text","type":"text","label":"Kachel 1 Text","default":"Weing\u00fcter weltweit"},{"id":"url_kachel_1_button_link","type":"url","label":"Kachel 1 Button Link"},{"id":"text_kachel_1_button_text","type":"text","label":"Kachel 1 Button Text","default":"Button Text"},{"id":"text_kachel_2_text_1","type":"text","label":"Kachel 2 Text 1","default":"Nur beste Winzer."},{"id":"text_kachel_2_text_2","type":"text","label":"Kachel 2 Text 2","default":"Nur beste Winzer."},{"id":"text_kachel_2_text_3","type":"text","label":"Kachel 2 Text 3","default":"Nur beste Winzer."},{"id":"text_kachel_2_text_4","type":"text","label":"Kachel 2 Text 4","default":"Nur beste Winzer."},{"id":"image_kachel_2_bild","type":"image_picker","label":"Kachel 2 Bild"},{"id":"text_tab_1_content_headline","type":"text","label":"Tab 1 Content Headline","default":"Wir definieren was zu Vioneers passt"},{"id":"text_tab_1_content_text","type":"text","label":"Tab 1 Content Text","default":"Als Pairing-Experten beliefern wir unz\u00e4hlige Gastronomiebetriebe in Deutschland. Ob Bistro, Szene-Bar oder Sternelokal \u2013 unseren besondere Weine veredeln t\u00e4glich die \u201cQuality Time\u201d tausender G\u00e4ste."},{"id":"text_tab_2_content_headline","type":"text","label":"Tab 2 Content Headline","default":"Wir definieren was zu Vioneers passt"},{"id":"text_tab_2_content_text","type":"text","label":"Tab 2 Content Text","default":"Als Pairing-Experten beliefern wir unz\u00e4hlige Gastronomiebetriebe in Deutschland. Ob Bistro, Szene-Bar oder Sternelokal \u2013 unseren besondere Weine veredeln t\u00e4glich die \u201cQuality Time\u201d tausender G\u00e4ste."},{"id":"text_tab_3_content_headline","type":"text","label":"Tab 3 Content Headline","default":"Wir definieren was zu Vioneers passt"},{"id":"text_tab_3_content_text","type":"text","label":"Tab 3 Content Text","default":"Als Pairing-Experten beliefern wir unz\u00e4hlige Gastronomiebetriebe in Deutschland. Ob Bistro, Szene-Bar oder Sternelokal \u2013 unseren besondere Weine veredeln t\u00e4glich die \u201cQuality Time\u201d tausender G\u00e4ste."},{"id":"text_tab_4_content_headline","type":"text","label":"Tab 4 Content Headline","default":"Wir definieren was zu Vioneers passt"},{"id":"text_tab_4_content_text","type":"text","label":"Tab 4 Content Text","default":"Als Pairing-Experten beliefern wir unz\u00e4hlige Gastronomiebetriebe in Deutschland. Ob Bistro, Szene-Bar oder Sternelokal \u2013 unseren besondere Weine veredeln t\u00e4glich die \u201cQuality Time\u201d tausender G\u00e4ste."},{"id":"image_tab_1_link_bild","type":"image_picker","label":"Tab 1 Link Bild"},{"id":"text_tab_1_link_text","type":"text","label":"Tab 1 Link Text","default":"Tab 1"},{"id":"image_tab_2_link_bild","type":"image_picker","label":"Tab 2 Link Bild"},{"id":"text_tab_2_link_text","type":"text","label":"Tab 2 Link Text","default":"Tab 1"},{"id":"image_tab_3_link_bild","type":"image_picker","label":"Tab 3 Link Bild"},{"id":"text_tab_3_link_text","type":"text","label":"Tab 3 Link Text","default":"Tab 1"},{"id":"image_tab_4_link_bild","type":"image_picker","label":"Tab 4 Link Bild"},{"id":"text_tab_4_link_text","type":"text","label":"Tab 4 Link Text","default":"Tab 1"},{"id":"image_kachel_3_bild","type":"image_picker","label":"Kachel 3 Bild"},{"id":"image_pop_up_bild","type":"image_picker","label":"Pop Up Bild"},{"id":"text_pop_up_headline","type":"text","label":"Pop Up Headline","default":"Accessible popup"},{"id":"text_pop_up_text","type":"text","label":"Pop Up Text","default":"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam massa volutpat massa ornare. Scelerisque ullamcorper elit sed vitae lectus varius vel pulvinar.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam massa volutpat massa ornare. Scelerisque ullamcorper elit sed vitae lectus varius vel pulvinar.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam massa volutpat massa ornare. Scelerisque ullamcorper elit sed vitae lectus varius vel pulvinar.<br\/><br\/>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam massa volutpat massa ornare. Scelerisque ullamcorper elit sed vitae lectus varius vel pulvinar.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam massa volutpat massa ornare. Scelerisque ullamcorper elit sed vitae lectus varius vel pulvinar.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam massa volutpat massa ornare. Scelerisque ullamcorper elit sed vitae lectus varius vel pulvinar."},{"id":"url_kachel_4_link","type":"url","label":"Kachel 4 Link"},{"id":"text_kachel_4_headline","type":"text","label":"Kachel 4 Headline","default":"Weingut R. Gerbaux"},{"id":"text_kachel_4_text","type":"text","label":"Kachel 4 Text","default":"Neueste Entdeckung"},{"id":"image_kachel_4_bild","type":"image_picker","label":"Kachel 4 Bild"}],"presets":[{"name":"uu_discover","category":"Liquify"}]} {% endschema %}