<div class="padding-global"><div class="container-large"><div class="content-grid max-width-large"><div><div class="subline">
{{ section.settings.text_subline }}
</div>
<h2 class="heading-xlarge">
{{ section.settings.text_headline }}
</h2>
</div><p class="heading-medium"> {{ section.settings.textarea_textfeld }} </p>
</div><div class="bilder_grid"><div id="w-node-ca27b4d7-0deb-602a-276d-9137aaf1374b-6ff8b5b5" class="bilder_grid-wrapper"><div class="bilder_embed w-embed w-iframe"><iframe src="
https://www.google.com/maps/embed?pb=!4v1688630980907!6m8!1m7!1sCAoSLEFGMVFpcE1KMU5LT1k4SEJqSjFYOFRxSVA5TEZnWWNrajFkSFFBNTRuMDhT!2m2!1d48.943037384027!2d9.4350326146005!3f20!4f0!5f0.7820865974627469
" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div></div><div id="w-node-ca27b4d7-0deb-602a-276d-9137aaf1374d-6ff8b5b5" class="bilder_grid-small"><img class="bilder_grid-small-img"
     src="{{ section.settings.image_bild_2 | img_url: 'master' }}"
     alt="{{ section.settings.image_bild_2.alt }}"
     loading="lazy">
<p id="w-node-ca27b4d7-0deb-602a-276d-9137aaf1374f-6ff8b5b5" class="text-size-small max-width-small"> {{ section.settings.textarea_textfeld_klein }} </p>
</div></div></div></div><div id="winespot" class="anchor-link"></div> {% schema %} {"tag":"section","name":"winespot_information","class":"section_weingut-bilder","settings":[{"id":"text_subline","type":"text","label":"Subline","default":"Vioneers Live"},{"id":"text_headline","type":"text","label":"Headline","default":"Gemeinsam Premiumweine in Backnang leidenschaftlich entdecken."},{"id":"textarea_textfeld","type":"textarea","label":"Textfeld","default":"In verschiedenen Formaten werden wir als Vioneers aktiv und m\u00f6chten mit Dir gemeinsam die besten Weine von familiengef\u00fchrten Weine entdecken und f\u00fcr Dich erlebbar machen."},{"id":"image_bild_2","type":"image_picker","label":"Bild-2"},{"id":"textarea_textfeld_klein","type":"textarea","label":"Textfeld-Klein","default":"Ob Winetasting, Messe oder Weinseminar - wir wollen Dir als Weinexperten jederzeit zur Seite stehen und im direkten Kontakt f\u00fcr Dich da sein!"}],"presets":[{"name":"winespot_information","category":"Liquify"}]} {% endschema %}